Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh

wip: add confirm add collateral screen
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmAddCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

wip: add or edit collateral form
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updates
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Loans State Management (#1189)
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  package-lock.json
  package.json
  shared/store/index.ts
  shared/store/loans.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updates
  package-lock.json
Owners: @fuxingloh, @thedoublejay

Inital setup to allow multi address support
  mobile-app/app/api/wallet/address_index.ts
  mobile-app/app/api/wallet/index.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  mobile-app/app/screens/RootNavigator.tsx
  shared/contexts/WalletContext.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

wip: add screen props to bottom sheet with nav component
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump to jellyfish 2.0.0
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump to jellyfish 2.0.0 (#1247)
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

feat: update styling of bottom sheet screens
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/components/InputHelperText.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add on edit collateral logic
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update defichain deps
  package-lock.json
Owners: @fuxingloh, @thedoublejay

feat: add on button press prop to navigateToScreen prop
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add onRemovePress callback
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

chore: remove placeholder screen
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmAddCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

test: update snapshot
  mobile-app/app/components/__snapshots__/InputHelperText.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Feature gate integration
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

refactor config and remove duplicated package-lock.json
  .nvmrc
  .versionrc.js
  desktop-app/main/tsconfig.json
  desktop-app/package-lock.json
  desktop-app/package.json
  webpack.config.js
Owners: @fuxingloh, @thedoublejay

refactor notarize to become a top level construct for desktop-app
  desktop-app/entitlements.mac.plist
  desktop-app/notarize.js
  desktop-app/package.json
Owners: @fuxingloh, @thedoublejay

`add collateral` - add static UI (#1248)
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/components/InputHelperText.tsx
  mobile-app/app/components/__snapshots__/InputHelperText.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add confirm add collateral screen
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmAddCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updates
  desktop-app/package.json
  mobile-app/app/components/BottomSheetTokenList.tsx
  package-lock.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

refactored desktop-app to be more flat
  desktop-app/.eslintrc
  desktop-app/electron.js
  desktop-app/index.ts
  desktop-app/main/main.ts
  desktop-app/main/src/menu.ts
  desktop-app/package.json
  desktop-app/src/BrowserWindow.ts
  desktop-app/src/ElectronMenu.ts
  desktop-app/tsconfig.json
Owners: @fuxingloh, @thedoublejay

Add static ui for composite swap
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/PricesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: add entries for add collateral screen
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Polish UI Dex Screen swap button
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: add entries for confirm screen
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmAddCollateralScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

fix: update plugin import name for navigationprop
  mobile-app/app/components/BottomSheetTokenList.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

fix: replace label during adding
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmAddCollateralScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

chore: remove unused props
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmAddCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Change price rate value
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updates
  mobile-app/app/components/BottomSheetTokenList.tsx
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

test: fix flaky test by adding waiting time
  mobile-app/cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

removed environment config moved electron setup to top level
  app.config.js
  desktop-app/.eslintrc
  desktop-app/.gitignore
  desktop-app/README.md
  desktop-app/electron.js
  desktop-app/package.json
  desktop-app/src/ElectronMenu.ts
  desktop-app/src/index.ts
  desktop-app/tsconfig.json
  mobile-app/app/api/releaseChannel.ts
  mobile-app/app/screens/Main.web.tsx
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @izzycsy, @kyleleow, @fullstackninja864, @pierregee, @ivan-zynesis

temporary remove build and publishing from this PR
  .github/workflows/electron-build.yml
  desktop-app/package.json
  desktop-app/src/BrowserWindow.ts
  desktop-app/src/assets/icon-512.png
Owners: @fuxingloh, @thedoublejay

updates (#1252)
  mobile-app/app/components/BottomSheetTokenList.tsx
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

clean up assets and reduce dependency
  desktop-app/package.json
  desktop-app/src/BrowserWindow.ts
  desktop-app/src/assets/app.icns
  package-lock.json
  package.json
  shared/assets/images/icon-512.png
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Add bottom sheet token list
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`confirm add collateral` - add static UI (#1251)
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmAddCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Feature flag UI update
  mobile-app/app/components/LoanCards.test.tsx
  mobile-app/app/components/LoanCards.tsx
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  website/src/pages/api/v0/settings/flags.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy
