Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh @thedoublejay
/.idea/                                         @fuxingloh @thedoublejay

/app                                            @fuxingloh @thedoublejay @ivan-zynesis
/app/api                                        @fuxingloh
/app/assets                                     @fuxingloh @thedoublejay @ivan-zynesis @izzycsy
/app/components                                 @fuxingloh @thedoublejay @ivan-zynesis
/app/contexts                                   @fuxingloh
/app/hooks                                      @fuxingloh
/app/screens                                    @fuxingloh @thedoublejay @ivan-zynesis
/app/store                                      @fuxingloh @thedoublejay @ivan-zynesis
/app/translations                               @fuxingloh @thedoublejay @ivan-zynesis @izzycsy

/cypress                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy

/app.json                                       @fuxingloh @thedoublejay
/App.tsx                                        @fuxingloh @thedoublejay
/babel.config.js                                @fuxingloh @thedoublejay

tsconfig.json                                   @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh

CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy
BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy
README.md                                       @fuxingloh @thedoublejay @izzycsy
LICENSE                                         @fuxingloh

Bump defichain dependencies (#291)
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

updated app icons and re-order network in Production (#294)
  app/__snapshots__/environment.test.ts.snap
  app/assets/images/adaptive-icon.png
  app/assets/images/icon.png
  app/components/icons/AppIcon.tsx
  app/components/icons/tokens/__snapshots__/_index.test.tsx.snap
  app/environment.ts
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/ErrorBoundary/__snapshots__/ErrorBoundary.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

text overflow update
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

text overflow update
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

text overflow update
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

ocean interface update
  app/components/OceanInterface/OceanInterface.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

ocean interface update
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

section title
  app/components/SectionTitle.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

ui fixes (#295)
  app/components/OceanInterface/OceanInterface.tsx
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
  app/components/SectionTitle.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

updated `expo-packager` to `packager`
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  .github/workflows/release-publish.yml
Owners: @fuxingloh

added packager
  .github/workflows/expo-dependencies.yml
Owners: @fuxingloh

updated `expo-packager` to `packager` (#297)
  .github/workflows/expo-dependencies.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  .github/workflows/release-publish.yml
Owners: @fuxingloh

Bump defichain dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

enable debug mode
  app/screens/WalletNavigator/screens/WalletOnboarding.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

enable debug mode
  app/screens/WalletNavigator/screens/WalletOnboarding.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

bump docker-compose.yml
  docker-compose.yml
Owners: none

Bump defichain dependencies & docker-compose.yml (#300)
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

design label
  .github/governance.yml
  .github/labels.yml
Owners: @fuxingloh

Update governance.yml
  .github/governance.yml
Owners: @fuxingloh

design label (#308)
  .github/governance.yml
  .github/labels.yml
Owners: @fuxingloh

add qr scanner as a standalone page in balancestacknav
  app/components/BarCodeScanner.tsx
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fix scanner not navigate correctly, add hardcoded address callback in debug mode
  app/components/BarCodeScanner.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

try fixing pop more than 1 page in mobile
  app/components/BarCodeScanner.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

move flag to useState
  app/components/BarCodeScanner.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

remove debug mode code, published preview has debug enabled
  app/components/BarCodeScanner.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

added custom colors
  app/components/OceanInterface/OceanInterface.tsx
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
  app/components/PrimaryButton.tsx
  app/components/SectionTitle.tsx
  app/components/__snapshots__/PrimaryButton.test.tsx.snap
  app/constants/Theme.ts
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  app/screens/ErrorBoundary/ErrorBoundary.tsx
  app/screens/LoadingNavigator/LoadingScreen.tsx
  app/screens/Main.web.tsx
  app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  app/screens/PlaygroundNavigator/components/PlaygroundAction.tsx
  app/screens/PlaygroundNavigator/components/PlaygroundStatus.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicCreate.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicCreateVerify.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicRestore.tsx
  app/screens/WalletNavigator/screens/WalletOnboarding.tsx
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

design label
  styles.json
  tailwind.config.js
  tailwind.js
Owners: none

test disabling pop
  app/components/BarCodeScanner.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

breaking build
  app/screens/ErrorBoundary/ErrorBoundary.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

folder update
  app/components/OceanInterface/OceanInterface.tsx
  app/components/PrimaryButton.tsx
  app/components/SectionTitle.tsx
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  app/screens/ErrorBoundary/ErrorBoundary.tsx
  app/screens/LoadingNavigator/LoadingScreen.tsx
  app/screens/Main.web.tsx
  app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  app/screens/PlaygroundNavigator/components/PlaygroundAction.tsx
  app/screens/PlaygroundNavigator/components/PlaygroundStatus.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicCreate.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicCreateVerify.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicRestore.tsx
  app/screens/WalletNavigator/screens/WalletOnboarding.tsx
  app/styles.json
  app/tailwind.config.js
  app/tailwind.js
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

try alternative
  app/components/BarCodeScanner.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fix length text push away qr scanner button
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis
