Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh

merge
  mobile-app/app/components/EstimatedFeeInfo.tsx
  package-lock.json
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

poc: add temporary flow to display empty vault
  mobile-app/app/screens/AppNavigator/screens/Loans/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/__snapshots__/EmptyVault.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

test: add missing props
  mobile-app/app/screens/AppNavigator/screens/Loans/EmptyVault.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/__snapshots__/EmptyVault.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

test: update e2e to asset empty vault
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Address UI adjustments/issues
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/components/SlippageTolerance.tsx
  mobile-app/cypress/integration/functional/wallet/dex/poolswap.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Update unit tests snapshots
  mobile-app/app/components/__snapshots__/ConversionDetailsRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add create vault screen in loan navigator
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/CreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Added loan store and hooks related to loans
  mobile-app/app/hooks/loans/AuctionsAPI.ts
  mobile-app/app/hooks/loans/CollateralTokensAPI.ts
  mobile-app/app/hooks/loans/LoanSchemesAPI.ts
  mobile-app/app/hooks/loans/LoanTokensAPI.ts
  mobile-app/app/hooks/loans/VaultsAPI.ts
  shared/store/index.ts
  shared/store/loans.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

refactor: update variable naming
  mobile-app/app/components/InfoTextLink.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/EmptyVault.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Ignored ts-expect-error for loans whale api
  mobile-app/app/hooks/loans/AuctionsAPI.ts
  mobile-app/app/hooks/loans/CollateralTokensAPI.ts
  mobile-app/app/hooks/loans/LoanSchemesAPI.ts
  mobile-app/app/hooks/loans/LoanTokensAPI.ts
  mobile-app/app/hooks/loans/VaultsAPI.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

refactor: replace loadingstatus with isLoading flag
  mobile-app/app/screens/AppNavigator/screens/Loans/EmptyVault.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Rename liquidity pools and add translations
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Change add liquidity to add more with translations
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Add last missing translation
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

feat: add beta label in loan screen title
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

webpack
  desktop-app/.nvmrc
  desktop-app/main/index.ts
  desktop-app/main/main.ts
  desktop-app/main/src/app.ts
  desktop-app/main/src/menu.ts
  desktop-app/package.json
  desktop-app/renderer/.babelrc.js
  desktop-app/renderer/.eslintrc
  desktop-app/renderer/index.tsx
  desktop-app/renderer/src/index.html
  desktop-app/renderer/tsconfig.json
  desktop-app/renderer/webpack.config.babel.js
  desktop-app/renderer/webpack/config/devServer.js
  desktop-app/renderer/webpack/config/index.js
  desktop-app/renderer/webpack/config/postcss.js
  desktop-app/renderer/webpack/plugins/index.js
  desktop-app/renderer/webpack/plugins/pluginCleanWebpack.js
  desktop-app/renderer/webpack/plugins/pluginCopy.js
  desktop-app/renderer/webpack/plugins/pluginDefine.js
  desktop-app/renderer/webpack/plugins/pluginEsLint.js
  desktop-app/renderer/webpack/plugins/pluginForkTsChecker.js
  desktop-app/renderer/webpack/plugins/pluginHtml.js
  desktop-app/renderer/webpack/plugins/pluginImages.js
  desktop-app/renderer/webpack/plugins/pluginMiniCssExtract.js
  desktop-app/renderer/webpack/plugins/pluginProvide.js
  desktop-app/renderer/webpack/rules/common.js
  desktop-app/renderer/webpack/rules/index.js
  desktop-app/renderer/webpack/rules/styles.js
  desktop-app/renderer/webpack/rules/useLoaderRuleItems.js
  desktop-app/renderer/webpack/utils/cleanConsoleOnHMR.js
  desktop-app/renderer/webpack/utils/env.js
  desktop-app/renderer/webpack/utils/helpers.js
  desktop-app/renderer/webpack/webpack.config.base.js
  desktop-app/renderer/webpack/webpack.config.dev.js
  desktop-app/renderer/webpack/webpack.config.entry.js
  desktop-app/renderer/webpack/webpack.config.optimization.js
  desktop-app/renderer/webpack/webpack.config.prod.js
  desktop-app/tsconfig.json
  desktop-app/tsconfig.production.json
  package-lock.json
Owners: @fuxingloh, @thedoublejay

feat: add loan scheme selection UI
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/CreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Your liquidity - update label (#1190)
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

feat: add confirm create vault screen
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/CreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`vault` - add empty state UI (#1182)
  mobile-app/app/components/InfoTextLink.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/EmptyVault.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/__snapshots__/EmptyVault.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

feat: change estimated fee info to support vault fee
  mobile-app/app/components/EstimatedFeeInfo.test.tsx
  mobile-app/app/components/FeeInfoRow.test.tsx
  mobile-app/app/components/FeeInfoRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/ConfirmCreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: connect create vault screen to empty vault button
  mobile-app/app/screens/AppNavigator/screens/Loans/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updated next and added .nvmrc
  .nvmrc
  website/package.json
Owners: @fuxingloh, @thedoublejay

updated package-lock.json
  package-lock.json
Owners: @fuxingloh, @thedoublejay

removed .idea/inspectionProfiles
  .idea/inspectionProfiles/Project_Default.xml
Owners: none

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump @defichain/whale dependencies
  package.json
Owners: @fuxingloh, @thedoublejay

Bump @defichain/playground dependencies
  package.json
Owners: @fuxingloh, @thedoublejay

added ^ to all defichain versions since they are safe for bumping
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

updated docker-compose.yml to support loan development
  docker-compose.yml
Owners: @fuxingloh, @thedoublejay

Updated about page
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Release v0.12.0
  .expo-shared/assets.json
  app.json
  mobile-app/cypress-visual-screenshots/baseline/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  mobile-app/cypress-visual-screenshots/comparison/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  shared/assets/images/adaptive-icon.png
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

poc: navigate back to loan screen after confirm create vault
  mobile-app/app/screens/AppNavigator/screens/Loans/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/ConfirmCreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add missing text
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Change type to big number and change snap points
  mobile-app/app/components/BottomSheetModal.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/components/SlippageTolerance.tsx
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

translation: add entries for create vault
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

test: add e2e to validate create vault flow
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/CreateVaultScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/support/walletCommands.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

test: update snapshot
  mobile-app/app/components/__snapshots__/EstimatedFeeInfo.test.tsx.snap
  mobile-app/app/components/__snapshots__/FeeInfoRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/__snapshots__/EmptyVault.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

fix: translatation in FeeInfoRow
  mobile-app/app/components/FeeInfoRow.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

test: fix missing mock for navigation hook
  mobile-app/app/components/__snapshots__/FeeInfoRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/EmptyVault.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee
