Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh

e2e updates
  mobile-app/cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

feat: remove spacing in percentage values with symbol
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: add german entries
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

chore: update text label
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanSchemeOptions.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: remove conversion
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add vault status tag
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Added DFX buttons
  .expo-shared/assets.json
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DfxButtons.tsx
  shared/assets/images/dfx_buttons/btn_gateway_de.png
  shared/assets/images/dfx_buttons/btn_gateway_en.png
  shared/assets/images/dfx_buttons/btn_overview_de.png
  shared/assets/images/dfx_buttons/btn_overview_en.png
  shared/assets/images/dfx_buttons/btn_tax_de.png
  shared/assets/images/dfx_buttons/btn_tax_en.png
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translate: update entry
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

e2e updates
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Bump playground to 0.12.0 & whale to 0.15.1 (#1385)
  docker-compose.yml
  mobile-app/cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Improved announcement styling
  mobile-app/app/screens/AppNavigator/screens/Balances/components/Announcements.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`edit loan scheme` - add UI and integrate API (#1382)
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanSchemeOptions.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LoansFaq.test.tsx.snap
  shared/store/loans.ts
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Style refactoring
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/whale dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Auction page and bid page integration
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/EmptyBidsScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/ManageBids.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BidCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/EmptyBidsScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  shared/store/auctions.ts
  shared/store/index.ts
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Improved address view
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Improved DE translation
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Release v0.15.1
  app.json
Owners: @fuxingloh, @thedoublejay

Bump playground to 0.12.1 Bump whale to 0.16.0
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump playground to 0.12.1 (#1390)
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Add props in prep for pool swap migration
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Fix test (unified token was not used)
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

refactor: collateralization ratio row
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioRow.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: replace current col ratio with resulting col ratio
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update icons
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/dAMZN.tsx
  mobile-app/app/components/icons/assets/dCOIN.tsx
  mobile-app/app/components/icons/assets/dFB.tsx
  mobile-app/app/components/icons/assets/dMSFT.tsx
  mobile-app/app/components/icons/assets/dNVDA.tsx
  mobile-app/app/components/icons/assets/dTWTR.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Move tolerable slippage to final estimated (not per hop)
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update icons (#1391)
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/dAMZN.tsx
  mobile-app/app/components/icons/assets/dCOIN.tsx
  mobile-app/app/components/icons/assets/dFB.tsx
  mobile-app/app/components/icons/assets/dMSFT.tsx
  mobile-app/app/components/icons/assets/dNVDA.tsx
  mobile-app/app/components/icons/assets/dTWTR.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Small refactoring in address control screen
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

fix: add NaN check in borrow loan form
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add borrow more screen
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  shared/store/loans.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

UI Fixes
  mobile-app/app/screens/AppNavigator/BottomTabNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: re-use confirm borrow loan token screen
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: state update of form-related effects
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Add code improvements
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/helpers/path-finding.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/helpers/path-finding.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Remove unneeded tests
  mobile-app/app/screens/AppNavigator/screens/Dex/helpers/path-finding.test.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Small Ui fixes
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Composite swap feature (#1255)
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/InfoText.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/PricesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/helpers/path-finding.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/helpers/path-finding.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

translation: added entries
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

feat: block dust loan amount
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/InterestPerBlock.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

chore: clean up code
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee
