Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh @thedoublejay

/app/                                           @fuxingloh @thedoublejay @ivan-zynesis

/app/assets                                     @fuxingloh @thedoublejay @ivan-zynesis @izzycsy
/app/translations                               @fuxingloh @thedoublejay @ivan-zynesis @izzycsy
/cypress                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/_shim.js                                       @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/App.tsx                                        @fuxingloh @thedoublejay
/cypress.json                                   @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay
/netlify.toml                                   @fuxingloh @thedoublejay

babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy
README.md                                       @fuxingloh @thedoublejay @izzycsy
LICENSE                                         @fuxingloh

`ocean interface` - incorrect size on change passcode (#611)
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/store/ocean.test.ts
  app/store/ocean.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Add warning popup when exiting on a filled form
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Add warning popup when exiting on a filled form
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Bump @defichain/playground dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

moved generateWords implementation to MnemonicUnprotected
  __mocks__/expo-random.ts
  app/api/wallet/provider/mnemonic_unprotected.test.ts
  app/api/wallet/provider/mnemonic_unprotected.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

MnemonicUnprotected to be used for generateWords
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

refactor to `npm run lint` instead of `npm run standard`
  .eslintrc
  .github/workflows/ci.yml
  package.json
Owners: @fuxingloh, @thedoublejay

update commands to new api
  cypress/support/commands.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update third splash image
  app/assets/images/onboarding/c.png
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

refactor to `npm run lint` instead of `npm run standard` (#614)
  .eslintrc
  .github/workflows/ci.yml
  package.json
Owners: @fuxingloh, @thedoublejay

refactor mnemonic generation into `MnemonicUnprotected.generateWords` (#613)
  __mocks__/expo-random.ts
  app/api/wallet/provider/mnemonic_unprotected.test.ts
  app/api/wallet/provider/mnemonic_unprotected.ts
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Bump @defichain/playground dependencies from 0.8.5 to 0.8.6 (#615)
  cypress/support/commands.ts
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

`remove liquidity` - confirm page (#606)
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update third splash image (#616)
  app/assets/images/onboarding/c.png
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

remove context <-> tx auth UI bridging reinstantiate jellyfish wallet for signing
  app/contexts/WalletContext.tsx
  app/screens/TransactionAuthorization.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

`restore` - add warning popup when exiting a filled form (#612)
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

[ImgBot] Optimize images
  app/assets/images/onboarding/c.png
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

fix missing dep in hook
  app/screens/TransactionAuthorization.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

network switch warning
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/components/RowNetworkItem.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

network switch warning (#619)
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/components/RowNetworkItem.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump @defichain/jellyfish dependencies (#620)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

refactor mnemonic_storage interfaces
  app/api/wallet/mnemonic_storage.ts
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/EnrollBiometric.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

refactor to use entropyAsMnemonic, mnemonicAsEntropy
  app/api/wallet/mnemonic_storage.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

refactor confirm add liq
  app/components/ConfirmComponents/index.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/confirm_add_liq.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

remove all biometric related code in single commit should be easy to revert, to restore biometric feature
  app/api/wallet/biometric_protected_passcode.ts
  app/components/icons/FaceIdIcon.tsx
  app/components/icons/TouchIdIcon.tsx
  app/components/icons/tokens/__snapshots__/_index.test.tsx.snap
  app/components/icons/tokens/_index.test.tsx
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/EnrollBiometric.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

do not show PIN page until PIN event
  app/screens/TransactionAuthorization.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

added new WalletNodeProvider.tsx for providing wallet node
  app/contexts/WalletContext.tsx
  app/contexts/WalletNodeProvider.tsx
  app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  app/screens/RootNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

TransactionAuthorization to useWalletNodeContext() instead
  app/screens/TransactionAuthorization.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

refactor to `mnemonic_storage.ts` to use `entropyAsMnemonic` & `mnemonicAsEntropy` (#621)
  app/api/wallet/mnemonic_storage.ts
  app/api/wallet/mnemonic_words.ts
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/EnrollBiometric.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

feat: add CustomAlert to support web and native
  app/components/CustomAlert.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

refactor confirm add liq (#622)
  app/components/ConfirmComponents/index.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/confirm_add_liq.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

Added `WalletNodeContext` so that `TransactionAuthorization` doesn't use Persistence layer (#624)
  app/contexts/WalletContext.tsx
  app/contexts/WalletNodeProvider.tsx
  app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  app/screens/RootNavigator.tsx
  app/screens/TransactionAuthorization.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

doc: fix typo
  app/components/CustomAlert.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fix for poolswap
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

test: add action to confirm/cancel for CustomAlert
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/settings/settings.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

Remove biometric implementation (#623)
  app/api/wallet/biometric_protected_passcode.ts
  app/components/icons/FaceIdIcon.tsx
  app/components/icons/TouchIdIcon.tsx
  app/components/icons/tokens/__snapshots__/_index.test.tsx.snap
  app/components/icons/tokens/_index.test.tsx
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/EnrollBiometric.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

test: fix typo
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

fix TransactionAuthorization not handle unencrypted wallet
  app/screens/TransactionAuthorization.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

test: add e2e test to onboarding and restore flow
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
  cypress/integration/functional/onboarding/restore.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow
