Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

feat: display caret and set banner as link
  mobile-app/app/screens/AppNavigator/screens/Balances/components/Announcements.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add OSes to url object
  mobile-app/app/screens/AppNavigator/screens/Balances/components/Announcements.tsx
  shared/store/website.ts
  shared/types/website.ts
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: move whitespace to string
  mobile-app/app/screens/AppNavigator/screens/Balances/components/Announcements.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: exclude version check on non-mobile
  mobile-app/app/screens/AppNavigator/screens/Balances/components/Announcements.tsx
  shared/types/website.ts
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

refactor: early return
  mobile-app/app/screens/AppNavigator/screens/Balances/components/Announcements.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: update zh entries
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/playground dependencies (#1506)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

remove oss-governance-project workflow we don't use them anymore
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/oss-governance-project-pr.yml
Owners: @fuxingloh, @thedoublejay

config: add package json alias
  babel.config.js
  package.json
  tsconfig.json
Owners: @fuxingloh, @thedoublejay

feat: use package json version
  mobile-app/app/screens/AppNavigator/screens/Balances/components/Announcements.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

test: update e2e test
  mobile-app/cypress/integration/functional/wallet/balances/announcements.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

build: replace expo barcode with expo-camera
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

feat: hide qr scan button on non-mobile
  mobile-app/app/components/BarCodeScanner.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

test: update e2e
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

test: update e2e
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

`qr scanner` - fix expo 43 regression on `expo-barcode-scanner` (#1512)
  mobile-app/app/components/BarCodeScanner.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

remove oss-governance-project workflow we don't use them anymore (#1510)
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/oss-governance-project-pr.yml
Owners: @fuxingloh, @thedoublejay

feat: add set amount button to edit collateral input
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updated zh translations (#1470)
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

`qr scanner` - fix expo 43 regression on `expo-barcode-scanner` (#1512)
  mobile-app/app/components/BarCodeScanner.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Bump @defichain/playground dependencies (#1506)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

remove oss-governance-project workflow we don't use them anymore (#1510)
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/oss-governance-project-pr.yml
Owners: @fuxingloh, @thedoublejay

fix: remove modal not able to close on non-mobile
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/whale dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Updated auction details screen
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/BatchDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionCollaterals.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/CollateralTokenItemRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updated auction details design
  mobile-app/app/screens/AppNavigator/screens/Auctions/BatchDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionTimeProgress.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionTimeLeft.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add snappoint as props to bottomsheetnav
  mobile-app/app/components/BottomSheetWithNav.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add quick bid static UI
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/QuickBid.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updated Auction detail screen
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/BatchDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Managed padding on auctioned collaterals screens
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionedCollaterals.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/CollateralTokenItemRow.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updated Auction start time
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionTimeLeft.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Added hook for Auction bid calculation
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionBidValue.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updated translation path
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionedCollaterals.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/cypress-visual-screenshots/comparison/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Updated BrowseAuctionsLoader
  mobile-app/app/components/skeletonLoaders/BrowseAuctionsLoader.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Create place bid screens
  mobile-app/app/components/SetAmountButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionTimeProgress.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/ConfirmPlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translations
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

`send token` - add new UI to allow token switching (#1503)
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Bump @defichain/whale dependencies (#1487)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

feat: reserver dfi when editing dfi collateral
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: set max token amount to prevent negative value
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh
