Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh @thedoublejay

/app/                                           @fuxingloh @thedoublejay @ivan-zynesis

/app/assets                                     @fuxingloh @thedoublejay @ivan-zynesis @izzycsy
/app/translations                               @fuxingloh @thedoublejay @ivan-zynesis @izzycsy
/cypress                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/_shim.js                                       @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/App.tsx                                        @fuxingloh @thedoublejay
/cypress.json                                   @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay
/netlify.toml                                   @fuxingloh @thedoublejay

babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy
README.md                                       @fuxingloh @thedoublejay @izzycsy
LICENSE                                         @fuxingloh

fix security section has no translate
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

test: update e2e test
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update max price
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

updated DST icon set (#631)
  app/components/ConfirmComponents/index.tsx
  app/components/icons/AppIcon.test.tsx
  app/components/icons/__snapshots__/AppIcon.test.tsx.snap
  app/components/icons/assets/BTC.tsx
  app/components/icons/assets/DFI.tsx
  app/components/icons/assets/_Default.tsx
  app/components/icons/assets/__snapshots__/index.test.tsx.snap
  app/components/icons/assets/dBCH.tsx
  app/components/icons/assets/dBTC.tsx
  app/components/icons/assets/dDFI.tsx
  app/components/icons/assets/dDOGE.tsx
  app/components/icons/assets/dETH.tsx
  app/components/icons/assets/dLTC.tsx
  app/components/icons/assets/dUSDC.tsx
  app/components/icons/assets/dUSDT.tsx
  app/components/icons/assets/index.test.tsx
  app/components/icons/assets/index.ts
  app/components/icons/tokens/IconBCH.tsx
  app/components/icons/tokens/IconDOGE.tsx
  app/components/icons/tokens/IconETH.tsx
  app/components/icons/tokens/IconLTC.tsx
  app/components/icons/tokens/IconUSDC.tsx
  app/components/icons/tokens/__snapshots__/_index.test.tsx.snap
  app/components/icons/tokens/_index.ts
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokensVsUtxoScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokensVsUtxoScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

quick save, add privacy lock api
  app/api/wallet/privacy_lock.ts
  app/contexts/LocalAuthContext.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

feat: update text to state long encryption time
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

test: fix getting text from input for assertion
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

added slippage
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/components/SlippageTolerance.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

added slippage
  app/screens/AppNavigator/screens/Dex/PoolSwap/components/SlippageTolerance.tsx
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

fix: update text to one-line
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fix: update input to 2dp if changed from slider
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Add copy "encrypting wallet this may take 20 seconds (#634)
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Update app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

`slippage tolerance` - pool swap (#635)
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/components/SlippageTolerance.tsx
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

merge
  cypress-visual-screenshots/comparison/functional/wallet/balances/receive.spec.ts-qr-code-container.png
Owners: none

added .imgbotconfig to ignore cypress image snapshot
  .imgbotconfig
Owners: none

merge
  cypress-visual-screenshots/diff/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  cypress/integration/functional/wallet/balances/receive.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

added .imgbotconfig to ignore cypress image snapshot (#637)
  .imgbotconfig
Owners: none

merge
  cypress/integration/functional/wallet/balances/receive.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

merge
  cypress-visual-screenshots/baseline/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  cypress-visual-screenshots/comparison/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  cypress-visual-screenshots/diff/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  cypress/integration/functional/wallet/balances/receive.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

`e2e` - updates tests (#630)
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/store/wallet.test.ts
  app/store/wallet.ts
  cypress-visual-screenshots/baseline/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  cypress-visual-screenshots/comparison/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  cypress.json
  cypress/integration/functional/wallet/balances/balances.spec.ts
  cypress/integration/functional/wallet/balances/receive.spec.ts
  cypress/integration/functional/wallet/components/oceanInterface.spec.ts
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  cypress/integration/functional/wallet/dex/confirm_add_liq.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  cypress/integration/functional/wallet/settings/changePasscode.spec.ts
  cypress/integration/smoke/smoke.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/walletCommands.ts
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

wait for all tx signed and broadcasted
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

merge
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/store/ocean.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fix typo
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

wait for all tx signed and broadcasted (#638)
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

feat: use bignumber for number comparison
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

added github workflow concurrency to cancel in progress when new workflow is triggered
  .github/workflows/ci-drift.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Owners: @fuxingloh

fixed concurrency group name
  .github/workflows/ci-drift.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Owners: @fuxingloh

stage a cancel
  .github/workflows/expo-publish.yml
Owners: @fuxingloh

added concurrency limiter to expensive long running workflows
  .github/workflows/eas-publish.yml
  .github/workflows/expo-preview.yml
  README.md
Owners: @fuxingloh, @thedoublejay, @izzycsy

added github workflow concurrency to cancel in progress when new workflow is triggered (#653)
  .github/workflows/ci-drift.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/eas-publish.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  README.md
Owners: @fuxingloh, @thedoublejay, @izzycsy

feat: replace input placeholder with instruction
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fixed cypress plugin/index.ts
  cypress/plugins/index.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

add toggle privacy lock api
  app/contexts/LocalAuthContext.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

refactor enroll biometric into new screen instead of in setting
  app/components/biometric/BiometricHardwareOption.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/EnrollBiometricScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fix typo
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fix typo
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

add toggle privacy lock to settings
  app/contexts/LocalAuthContext.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

test fail
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

fixed cypress plugin/index.ts (#655)
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/plugins/index.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow
