Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

updates
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

move out send DFI UTXO to beforeEach
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

remove only
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

updates
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

`loans` - integrate API for Create Vaults (#1271)
  mobile-app/app/components/LoanCards.test.tsx
  mobile-app/app/components/LoanCards.tsx
  mobile-app/app/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/support/walletCommands.ts
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

fix PoolSwap regression (TestNet) (#1273)
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

translations update
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/jellyfish dependencies (#1277)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

translations update (#1276)
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

feat: integrate loan token api and display loan cards
  mobile-app/app/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

test: update loan cards props for snapshot test
  mobile-app/app/components/LoanCards.test.tsx
  mobile-app/app/components/__snapshots__/LoanCards.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updated logic for address switching
  mobile-app/app/api/wallet/address_index.ts
  mobile-app/app/api/wallet/index.ts
  mobile-app/app/api/wallet/persistence.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/RandomAvatar.tsx
  mobile-app/app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  mobile-app/app/screens/RootNavigator.tsx
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  mobile-app/app/styles.json
  shared/contexts/WalletContext.tsx
  shared/contexts/__mocks__/WalletContext.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump playground from 0.11.2 to 0.11.3
  docker-compose.yml
  package.json
Owners: @fuxingloh, @thedoublejay

Bump @defichain/playground dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump playground from 0.11.2 to 0.11.3 (#1280)
  docker-compose.yml
  package.json
Owners: @fuxingloh, @thedoublejay

Playground address switch issue resolved
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  shared/contexts/WalletContext.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Resolved wallet switch error and fixed testcase
  shared/contexts/WalletContext.tsx
Owners: none

Updated discover address bug and tailwind css update
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  shared/contexts/WalletContext.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

wip: add loan token input UI
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updates
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

updates
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updates
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

E2E tests
  mobile-app/app/components/LoanCards.tsx
  mobile-app/app/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Removed only
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

`loan token api` - integrate onto browse loan tab (#1279)
  mobile-app/app/components/LoanCards.test.tsx
  mobile-app/app/components/LoanCards.tsx
  mobile-app/app/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump @defichain/jellyfish dependencies (#1147)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Added e2e test case for multi address support
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
  shared/contexts/WalletContext.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Added translation text for active address
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Style fixes
  mobile-app/app/components/skeletonLoaders/DexSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/LoanSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/MnemonicWordSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/TransactionSkeletonLoader.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveLoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/ScrollableButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Added network and platform
  mobile-app/app/contexts/FeatureFlagContext.tsx
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update
  shared/types/website.ts
Owners: none

updates
  website/tsconfig.json
Owners: @fuxingloh, @thedoublejay

updates
  website/tsconfig.json
Owners: @fuxingloh, @thedoublejay

updates
  package-lock.json
  website/package.json
Owners: @fuxingloh, @thedoublejay

Revert "updates"
  package-lock.json
  website/package.json
Owners: @fuxingloh, @thedoublejay

added environment on tsconfig.json
  website/tsconfig.json
Owners: @fuxingloh, @thedoublejay

Revert "added environment on tsconfig.json"
  website/tsconfig.json
Owners: @fuxingloh, @thedoublejay

Bump @defichain/whale dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh
