Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh @thedoublejay

/app/                                           @fuxingloh @thedoublejay @ivan-zynesis

/app/assets                                     @fuxingloh @thedoublejay @ivan-zynesis @izzycsy
/app/translations                               @fuxingloh @thedoublejay @ivan-zynesis @izzycsy
/cypress                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/_shim.js                                       @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/App.tsx                                        @fuxingloh @thedoublejay
/cypress.json                                   @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay
/netlify.toml                                   @fuxingloh @thedoublejay

babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy
README.md                                       @fuxingloh @thedoublejay @izzycsy
LICENSE                                         @fuxingloh

separate e2e in `ci.yml` into `ci-e2e.yml` with 6 parallel container (#589)
  .github/dependabot.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Owners: @fuxingloh

refactor common components for confirm page (#586)
  app/components/ConfirmComponents/index.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Removed on merge: [ main ] and instead to run on cron daily
  .github/workflows/ci-e2e.yml
Owners: @fuxingloh

Bump @defichain/jellyfish dependencies (#588)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Removed on merge: [ main ] and instead to run on cron daily (#591)
  .github/workflows/ci-e2e.yml
Owners: @fuxingloh

update test
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

add fix for keyboard
  app/components/NumberTextInput.test.tsx
  app/components/NumberTextInput.tsx
  app/components/__snapshots__/NumberTextInput.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

setup container and install npm concurrently
  .github/workflows/ci-drift.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Owners: @fuxingloh

add fix for keyboard (#593)
  app/components/NumberTextInput.test.tsx
  app/components/NumberTextInput.tsx
  app/components/__snapshots__/NumberTextInput.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

update react navigation 6 (#584)
  app/screens/AppNavigator/AppNavigator.tsx
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ChangePinScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinCreation.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/Onboarding.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

added cache for expo-preview.yml
  .github/workflows/expo-preview.yml
Owners: @fuxingloh

`ci-e2e.yml` to setup container and install npm concurrently (#594)
  .github/workflows/ci-drift.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/expo-preview.yml
Owners: @fuxingloh

Bump docker-compose.yml to latest version
  docker-compose.yml
Owners: @fuxingloh, @thedoublejay

Bump @defichain/whale dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

add keyboard change only for iOS
  app/components/NumberTextInput.test.tsx
  app/components/NumberTextInput.tsx
  app/components/__snapshots__/NumberTextInput.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Bump @defichain/whale dependencies (#598)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

decimal
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fix
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

add keyboard change only for iOS (#599)
  app/components/NumberTextInput.test.tsx
  app/components/NumberTextInput.tsx
  app/components/__snapshots__/NumberTextInput.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

ui fixes
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsNavigator.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

prevent wallet flicker
  app/contexts/WalletPersistenceContext.tsx
  app/screens/RootNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

snapshot
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/ReceiveScreen.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

update token name
  app/store/wallet.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

update
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

update
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

display individual pooled
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

add remove confirm
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

adjust params
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Bump docker-compose.yml to latest version (#596)
  docker-compose.yml
Owners: @fuxingloh, @thedoublejay

ci.yml and ci-e2e.yml to always run on push main and '0 1 * * *' due to code coverage
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Owners: @fuxingloh

prevent wallet flicker (#602)
  app/contexts/WalletPersistenceContext.tsx
  app/screens/RootNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

ci.yml and ci-e2e.yml to always run on push main and '0 1 * * *' due to code coverage (#610)
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Owners: @fuxingloh

feat: set ocean height in store after re-init wallet
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/store/ocean.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

set to mainnet (#573)
  app/__snapshots__/environment.test.ts.snap
  app/environment.test.ts
  app/environment.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

display individual pooled (#605)
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

test: update unit test to assert 0 height
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/store/ocean.test.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

prevent flicker on load of page, receive address selectable, route names update (#601)
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsNavigator.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  app/store/wallet.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

adjust title
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

adjust title
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis
