Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh @thedoublejay

/app/                                           @fuxingloh @thedoublejay @ivan-zynesis

/app/assets                                     @fuxingloh @thedoublejay @ivan-zynesis @izzycsy
/app/translations                               @fuxingloh @thedoublejay @ivan-zynesis @izzycsy
/cypress                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/_shim.js                                       @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/App.tsx                                        @fuxingloh @thedoublejay
/cypress.json                                   @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay
/netlify.toml                                   @fuxingloh @thedoublejay

babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy
README.md                                       @fuxingloh @thedoublejay @izzycsy
LICENSE                                         @fuxingloh

update
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

fix convert e2e (avoid multiple utxos sign) minor lifecycle improvement
  app/screens/TransactionAuthorization.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

revert changes
  App.tsx
  app/screens/ErrorBoundary/ErrorBoundary.test.tsx
  app/screens/ErrorBoundary/ErrorBoundary.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

`pop to top` - after every successful broadcast (#571)
  app/components/OceanInterface/OceanInterface.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/TransactionAuthorization.tsx
  app/store/ocean.ts
  app/store/transaction_queue.ts
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

added autofocus
  app/components/PinTextInput.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

set to mainnet
  app/__snapshots__/environment.test.ts.snap
  app/environment.test.ts
  app/environment.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Refactor `App.tsx` contexts and provider (#570)
  App.tsx
  app/components/PinTextInput.tsx
  app/contexts/DeFiScanContext.tsx
  app/contexts/NetworkContext.tsx
  app/contexts/PlaygroundContext.tsx
  app/contexts/StatsProvider.tsx
  app/contexts/WalletPersistenceContext.tsx
  app/contexts/WalletStoreProvider.tsx
  app/screens/ErrorBoundary/ErrorBoundary.test.tsx
  app/store/index.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

auto resolve cached pin if available
  app/screens/TransactionAuthorization.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

put back convert test, to have multiple utxos input
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

remove unnecessary cypress navigate
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

pool swap confirm
  app/components/OceanInterface/OceanInterface.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

fix invalid pin cache not get reset
  app/screens/TransactionAuthorization.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

PlaygroundProvider should not be part of Main hierarchy Renamed WalletStoreProvider to StoreProvider
  App.tsx
  app/contexts/StoreProvider.tsx
  app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

update tests
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

pool swap confirm (#575)
  app/components/OceanInterface/OceanInterface.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

fix for swap price
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Cache pin for single task (#574)
  app/screens/TransactionAuthorization.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

PlaygroundProvider should not be part of Main hierarchy (#576)
  App.tsx
  app/contexts/StoreProvider.tsx
  app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

refactor everything wallet related into WalletContext.tsx
  app/api/wallet/index.test.ts
  app/api/wallet/index.ts
  app/contexts/WalletAddressContext.tsx
  app/contexts/WalletContext.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

removed AddressContextProvider
  app/screens/RootNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Refactor all useWallet* to useWalletContext
  app/components/OceanInterface/OceanInterface.tsx
  app/hooks/wallet/PoolPairsAPI.ts
  app/hooks/wallet/TokensAPI.ts
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  app/screens/TransactionAuthorization.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

refactor all wallet concerns into `<WalletContext>` (#580)
  app/api/wallet/index.test.ts
  app/api/wallet/index.ts
  app/components/OceanInterface/OceanInterface.tsx
  app/contexts/WalletAddressContext.tsx
  app/contexts/WalletContext.tsx
  app/hooks/wallet/PoolPairsAPI.ts
  app/hooks/wallet/TokensAPI.ts
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  app/screens/RootNavigator.tsx
  app/screens/TransactionAuthorization.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fix for swap price (#577)
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

HeaderTitle padding on iOS as it's hugging too close to border
  app/components/HeaderTitle.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

HeaderTitle padding on iOS as it's hugging too close to border (#582)
  app/components/HeaderTitle.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

updates
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

updates
  app/screens/AppNavigator/AppNavigator.tsx
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/Onboarding.tsx
  package-lock.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

decimal changes and ui fixes
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

update tests
  cypress/integration/functional/wallet/dex/confirm_add_liq.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  cypress/integration/smoke/smoke.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update tests
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ChangePinScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinCreation.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

update tests
  cypress/integration/functional/wallet/dex/confirm_add_liq.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update price
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

refactor common components for confirm page
  app/components/ConfirmComponents/index.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

decimal changes and ui fixes (#585)
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress/integration/functional/wallet/dex/confirm_add_liq.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  cypress/integration/smoke/smoke.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

added -rpcworkqueue=512 to docker-compose.yml
  docker-compose.yml
Owners: @fuxingloh, @thedoublejay

failing tests
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

added -rpcworkqueue=512 to docker-compose.yml (#587)
  docker-compose.yml
Owners: @fuxingloh, @thedoublejay

separate out e2e into its own workflow file
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Owners: @fuxingloh

Added if forked condition as cypress cannot run on forked PR
  .github/workflows/ci.yml
Owners: @fuxingloh

added 5 parallel container for cypress
  .github/dependabot.yml
  .github/workflows/ci.yml
Owners: @fuxingloh
