Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

update title color
  screens/AppNavigator/screens/BalancesScreen/SendScreen/SendScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

quick save
  screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  screens/AppNavigator/screens/Dex/DexNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

refactor function component into jsx renderable
  screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

quick save
  package-lock.json
  package.json
  screens/AppNavigator/screens/Dex/.DexScreen.tsx.swp
  screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  screens/AppNavigator/screens/Dex/DexScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

completed confirm add liq implementation
  screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fix percentage display without x100
  screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Bump defichain dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

disable DFI UTXO sending
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Bump defichain dependencies (#199)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

update components and removed `NumberText`
  components/PrimaryButton.tsx
  components/index.tsx
  constants/Theme.ts
  screens/AppNavigator/screens/BalancesScreen/SendScreen/SendScreen.tsx
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionsScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

refactor playground/** into screens/PlaygroundNavigator
  .github/labeler.yml
  jest.config.js
  screens/AppNavigator/AppNavigator.tsx
  screens/Main.web.tsx
  screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  screens/PlaygroundNavigator/PlaygroundScreen.tsx
  screens/PlaygroundNavigator/components/PlaygroundAction.tsx
  screens/PlaygroundNavigator/components/PlaygroundStatus.tsx
  screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Update expo-dependencies.yml
  .github/workflows/expo-dependencies.yml
Owners: @fuxingloh

refactor playground/** into screens/PlaygroundNavigator (#209)
  .github/labeler.yml
  jest.config.js
  screens/AppNavigator/AppNavigator.tsx
  screens/Main.web.tsx
  screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  screens/PlaygroundNavigator/PlaygroundScreen.tsx
  screens/PlaygroundNavigator/components/PlaygroundAction.tsx
  screens/PlaygroundNavigator/components/PlaygroundStatus.tsx
  screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Update expo-dependencies.yml (#210)
  .github/workflows/expo-dependencies.yml
Owners: @fuxingloh

removed QR code features
  screens/AppNavigator/screens/BalancesScreen/SendScreen/SendScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

removed expo-barcode-scanner
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

expo cli
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

expo cli (#211)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

getEnvironment for release channel independent environments
  app/__snapshots__/environment.test.ts.snap
  app/environment.test.ts
  app/environment.ts
  package-lock.json
  package.json
  screens/WalletNavigator/screens/WalletOnboarding.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

removed obsolete snapshot
  app/__snapshots__/environment.test.ts.snap
Owners: none

getEnvironment for release channel independent environments (#212)
  app/__snapshots__/environment.test.ts.snap
  app/environment.test.ts
  app/environment.ts
  package-lock.json
  package.json
  screens/WalletNavigator/screens/WalletOnboarding.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

add dep, slider rn component
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

completed remove liq implementation
  screens/AppNavigator/screens/Dex/DexNavigator.tsx
  screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  screens/AppNavigator/screens/Dex/DexScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
/.idea/                                         @fuxingloh @thedoublejay

/cypress                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy

/assets                                         @fuxingloh @thedoublejay
/components                                     @fuxingloh @thedoublejay @ivan-zynesis
/screens                                        @fuxingloh @thedoublejay @ivan-zynesis
/constants                                      @fuxingloh @thedoublejay @ivan-zynesis
/hooks                                          @fuxingloh @thedoublejay @ivan-zynesis
/store                                          @fuxingloh @thedoublejay @ivan-zynesis

/playground                                     @fuxingloh
/translations                                   @fuxingloh @thedoublejay @izzycsy

/app.json                                       @fuxingloh @thedoublejay
/App.tsx                                        @fuxingloh @thedoublejay
/babel.config.js                                @fuxingloh @thedoublejay

tsconfig.json                                   @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh

CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy
README.md                                       @fuxingloh @thedoublejay @izzycsy
LICENSE                                         @fuxingloh
