Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

UI fixes
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanOperations.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

update error codes
  mobile-app/app/components/OceanInterface/TransactionError.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`borrow more` - add static UI and integrate API (#1398)
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/InterestPerBlock.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

feat: add loan operation hook to borrow more screen
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translations update
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Bump @defichain/jellyfish dependencies (#1394)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Update flags.ts
  website/src/pages/api/v0/settings/flags.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`loans` - UI fixes (#1399)
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanOperations.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

number format and empty state
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/PricesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/EmptyTransaction.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/__snapshots__/EmptyTransaction.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/transaction/list.spec.ts
  mobile-app/cypress/integration/functional/wallet/transaction/list_empty.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

refactor: search input generic component
  mobile-app/app/components/HeaderSearchIcon.tsx
  mobile-app/app/components/HeaderSearchInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add search function to browse loan
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

number format and empty state (#1400)
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/PricesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/EmptyTransaction.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/__snapshots__/EmptyTransaction.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/transaction/list.spec.ts
  mobile-app/cypress/integration/functional/wallet/transaction/list_empty.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

feat: set filteredloans on first load
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Improved splash screen
  app.json
  mobile-app/App.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DfxButtons.tsx
  mobile-app/app/screens/Main.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Loans bottom sheet info implementation
  mobile-app/app/components/BottomSheetInfo.tsx
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/TextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultSectionTextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Css update for info icon
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/TextRow.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Migrate pool to compo swap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageTolerance.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Style fixes
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/SearchInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/PricesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanSchemeOptions.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultSectionTextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

• Amendment to translation (DE)
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

• Translation (DE) amendments
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

• Translation (DE) amendments
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Improved switch colors, improved DEX screen
  mobile-app/app/components/index.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`browser loan` - add search UI to header (#1401)
  mobile-app/app/components/HeaderSearchIcon.tsx
  mobile-app/app/components/HeaderSearchInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Improved collateral edit screen
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Fix test
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

updates
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanSchemeOptions.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

tests fix
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Fix issue with max amount
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/poolswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Revert removal of poolsswap translations
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

tests fix
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Remove page refresh on poll
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

tests fix
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Fix tests
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

remove prices check as it's too volatile
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Translation (DE) - edit (#1404)
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanSchemeOptions.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Add wait time for intermittent errors
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Remove empty state
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Bump @defichain/jellyfish dependencies (#1407)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh
