Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh

feat: optimize for darkmode UI
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

solve asset issue
  desktop-app/.gitignore
  desktop-app/main/main.ts
  package-lock.json
  package.json
  webpack.config.js
Owners: @fuxingloh, @thedoublejay

feat: allow tokenicongroup to handle flexible max icon
  mobile-app/app/components/TokenIconGroup.tsx
  mobile-app/app/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

test: add snapshot test
  mobile-app/app/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/ScrollableButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/ScrollableButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/ScrollableButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add vault detail screen to navigator
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

refactor: rename variable
  mobile-app/app/components/TokenIconGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Rename skeleton loader and remove console log
  mobile-app/app/components/SkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/LoanSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/SkeletonLoader.test.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Implemented createAsyncThunk for loan api
  mobile-app/app/hooks/loans/AuctionsAPI.ts
  mobile-app/app/hooks/loans/CollateralTokensAPI.ts
  mobile-app/app/hooks/loans/LoanSchemesAPI.ts
  mobile-app/app/hooks/loans/LoanTokensAPI.ts
  mobile-app/app/hooks/loans/VaultsAPI.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  shared/store/loans.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

solve asset issue
  desktop-app/package.json
  package-lock.json
  package.json
  web/index.html
  webpack.config.js
Owners: @fuxingloh, @thedoublejay

merge
  app.config.js
  desktop-app/main/main.ts
  desktop-app/package.json
  mobile-app/app/screens/Main.web.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: add entries for DE
  mobile-app/app/screens/AppNavigator/screens/Loans/components/ScrollableButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

feat: wrap non-scrollable button to new line
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: add vault detail screen title
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

open links on new tab
  desktop-app/main/main.ts
  desktop-app/package.json
  mobile-app/app/api/linking.ts
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

CI build
  .github/workflows/electron-build.yml
Owners: @fuxingloh, @thedoublejay

add env
  .github/workflows/electron-build.yml
Owners: @fuxingloh, @thedoublejay

fixes
  .github/workflows/electron-build.yml
  desktop-app/main/main.ts
  desktop-app/notarize/notarize.js
Owners: @fuxingloh, @thedoublejay

refactor: move symbolicon to generic component
  mobile-app/app/components/SymbolIcon.tsx
  mobile-app/app/components/TokenIconGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

fixes
  .github/workflows/electron-build.yml
  .versionrc.js
Owners: @fuxingloh, @thedoublejay

fixes
  .github/workflows/electron-build.yml
  desktop-app/main/.eslintrc
Owners: @fuxingloh, @thedoublejay

add url
  .github/workflows/electron-build.yml
Owners: @fuxingloh, @thedoublejay

Create loans skeleton loader (#1210)
  mobile-app/app/components/SkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/LoanSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/SkeletonLoader.test.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

merge
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

feat: add empty active loans UI
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/EmptyActiveLoans.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: adjust spacing between token and vault id section
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: change copy to link icon
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: add zh translations
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

`vault detail` - add static UI (#1212)
  mobile-app/app/components/IconButton.tsx
  mobile-app/app/components/InfoText.tsx
  mobile-app/app/components/SymbolIcon.tsx
  mobile-app/app/components/TokenIconGroup.tsx
  mobile-app/app/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/components/themed/ThemedIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/ScrollableButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/ScrollableButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/ScrollableButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

balance redesign
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  package-lock.json
  package.json
  shared/contexts/DeFiScanContext.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

merge
  package-lock.json
Owners: @fuxingloh, @thedoublejay

added test
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/EmptyBalances.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/receive.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  mobile-app/cypress/support/walletCommands.ts
  shared/contexts/__mocks__/DeFiScanContext.tsx
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

added translations
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

feat: add active loan static UI
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveLoans.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/EmptyActiveLoans.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

tests update
  mobile-app/app/screens/AppNavigator/screens/Balances/components/EmptyBalances.tsx
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

test: update snapshot
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: add entries
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/EmptyActiveLoans.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

chore: remove unused props
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveLoans.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

tests update
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`balances` - addresses and redesign (#1216)
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/EmptyBalances.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/receive.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  mobile-app/cypress/support/walletCommands.ts
  package-lock.json
  package.json
  shared/contexts/DeFiScanContext.tsx
  shared/contexts/__mocks__/DeFiScanContext.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

merge
  package-lock.json
Owners: @fuxingloh, @thedoublejay
