Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

issue not opening
  desktop-app/main/main.ts
  desktop-app/package.json
  package-lock.json
Owners: @fuxingloh, @thedoublejay

minor updates
  desktop-app/main/main.ts
Owners: none

fixed base href issue
  desktop-app/package.json
  web/index.html
Owners: @fuxingloh, @thedoublejay

cleanup
  .github/workflows/electron-build.yml
  app.config.js
  desktop-app/main/main.ts
  desktop-app/package.json
  mobile-app/app/screens/Main.web.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updated appId
  desktop-app/package.json
Owners: @fuxingloh, @thedoublejay

feat: add optional prefix props to NumberRow
  mobile-app/app/components/NumberRow.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add optional themed props to TextRow
  mobile-app/app/components/TextRow.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add details tab component to VaultDetails
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/Details.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

bump whale to 0.12.2
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

chore: rename component
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: add entries
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

fixed deps resolution
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

bump jellyfish deps
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump whale to 0.12.2 and jellyfish to 0.50.0 (#1219)
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump whale to 0.13.0
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump whale to 0.13.0 (#1221)
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

merge
  package-lock.json
Owners: @fuxingloh, @thedoublejay

update release channel
  mobile-app/app/api/releaseChannel.ts
  mobile-app/app/api/secured/index.ts
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.tsx
  mobile-app/app/screens/PrivacyLock.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

merge
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

`active loans` - add empty and non-empty static UI (#1217)
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveLoans.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/EmptyActiveLoans.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

update
  package-lock.json
Owners: @fuxingloh, @thedoublejay

Revert "update release channel"
  mobile-app/app/api/releaseChannel.ts
  mobile-app/app/api/secured/index.ts
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.tsx
  mobile-app/app/screens/PrivacyLock.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Revert "Revert "update release channel""
  mobile-app/app/api/releaseChannel.ts
  mobile-app/app/api/secured/index.ts
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.tsx
  mobile-app/app/screens/PrivacyLock.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: add entries
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

chore: remove unused syntax
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: change scrollable bg color to match other main tab
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

chore: rename active loan component
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveLoansTab.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add collaterals tab
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: add entries
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

`collaterals tab` - add static UI to vault details screen (#1227)
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveLoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

added moduleResolution: node for cypress tests so that IDE doesn't show an error
  mobile-app/cypress/tsconfig.json
Owners: @fuxingloh, @thedoublejay

added moduleResolution: node for cypress tests so that IDE doesn't show an error (#1228)
  mobile-app/cypress/tsconfig.json
Owners: @fuxingloh, @thedoublejay

update release channel
  mobile-app/app/api/releaseChannel.ts
  mobile-app/app/api/secured/index.ts
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.tsx
  mobile-app/app/screens/PrivacyLock.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Redesign DEX to tabs and cards
  mobile-app/app/components/Tabs.test.tsx
  mobile-app/app/components/Tabs.tsx
  mobile-app/app/components/__snapshots__/Tabs.test.tsx.snap
  mobile-app/app/components/skeletonLoaders/DexSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/dex_guidelines.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Fix missing test id
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Fix tests
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Fix tests
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update release channel (#1229)
  mobile-app/app/api/releaseChannel.ts
  mobile-app/app/api/secured/index.ts
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.tsx
  mobile-app/app/screens/PrivacyLock.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

TVL
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  shared/contexts/StatsProvider.tsx
  shared/store/block.test.ts
  shared/store/block.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Possible fix on smoke test issue
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh
