Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh

feat: add modal support to web
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update conversion to 2.1 DFI for vault fees (#1485)
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Fix composite swap distance (#1491)
  mobile-app/app/screens/AppNavigator/screens/Dex/helpers/path-finding.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Removed intent filters
  app.json
Owners: @fuxingloh, @thedoublejay

Style fixes
  mobile-app/app/components/skeletonLoaders/VaultSkeletonLoader.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CloseVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Last fix
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Release v0.17.1
  app.json
Owners: @fuxingloh, @thedoublejay

Bump @defichain/jellyfish dependencies (#1483)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

updates
  mobile-app/cypress/integration/smoke/smoke.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

updates
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

update
  mobile-app/cypress/integration/smoke/smoke.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

svg updates
  mobile-app/app/components/icons/assets/dAAPL.tsx
  mobile-app/app/components/icons/assets/dAMD.tsx
  mobile-app/app/components/icons/assets/dCOIN.tsx
  mobile-app/app/components/icons/assets/dGME.tsx
  mobile-app/app/components/icons/assets/dGOOG.tsx
  mobile-app/app/components/icons/assets/dPLTR.tsx
  mobile-app/app/components/icons/assets/dTSLA.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

add scrolling
  mobile-app/cypress/integration/smoke/smoke.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

add scrolling
  mobile-app/cypress/integration/smoke/smoke.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

updated snapshot
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`browse auctions` - integrate API (#1473)
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionTimeProgress.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionTimeLeft.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  shared/store/auctions.ts
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

updated flag
  website/src/pages/api/v0/settings/flags.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

style
  mobile-app/app/components/BottomSheetModal.web.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: block send if no balance in token
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

test: add e2e to switch token
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Fix bottom sheet on web (#1477)
  mobile-app/app/components/BottomSheetModal.web.tsx
  mobile-app/app/components/WalletTextInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: add entries
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

feat: reset amount when switching token
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Update zh-Hans.json
  shared/translations/languages/zh-Hans.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Auction listing UI updates
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionTimeProgress.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/CollateralTokenIconGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/EmptyAuctionsScreen.tes.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/EmptyAuctionsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BidCard.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Translation (DE): amendments
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

updated zh translations
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Translation (DE): amendments (#1505)
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Update shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hans.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Update shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hans.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Update shared/translations/languages/zh-Hant.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Update shared/translations/languages/zh-Hant.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Update shared/translations/languages/zh-Hant.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

added APR translations
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

updated snapshot
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updated zh translations (#1470)
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

feat: display commission fee
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/playground dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

feat: add url to announcement api resp
  shared/types/website.ts
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee
