Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh @thedoublejay

/app/                                           @fuxingloh @thedoublejay @ivan-zynesis

/app/assets                                     @fuxingloh @thedoublejay @ivan-zynesis @izzycsy
/app/translations                               @fuxingloh @thedoublejay @ivan-zynesis @izzycsy
/cypress                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/_shim.js                                       @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/App.tsx                                        @fuxingloh @thedoublejay
/cypress.json                                   @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay
/netlify.toml                                   @fuxingloh @thedoublejay

babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy
README.md                                       @fuxingloh @thedoublejay @izzycsy
LICENSE                                         @fuxingloh

updates
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/balances/sendConfirmation.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update
  cypress/integration/functional/wallet/balances/send.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

revert bad merge
  app/components/Button.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/TransactionAuthorization.tsx
  app/store/transaction.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

updated package lock
  package-lock.json
Owners: @fuxingloh, @thedoublejay

update
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

update
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  cypress/integration/functional/wallet/balances/sendConfirmation.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

failing tests
  cypress/integration/functional/wallet/balances/sendConfirmation.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

added timeout
  cypress/integration/functional/wallet/balances/send.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

added timeout
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

local
  cypress/integration/functional/wallet/balances/sendConfirmation.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

removed comment
  cypress/integration/functional/wallet/balances/sendConfirmation.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update
  cypress/integration/functional/wallet/balances/send.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update
  cypress/integration/functional/wallet/balances/sendConfirmation.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

`Balances` - send confirmation screen (#536)
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/balances/sendConfirmation.spec.ts
  cypress/integration/functional/wallet/settings/changePasscode.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update convert screen and ui fixes
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert_account_to_utxos.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert_utxos_to_account.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

failing tests
  cypress/integration/functional/wallet/balances/send.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

Refactor App.tsx contexts and provider
  App.tsx
  app/contexts/DeFiScanContext.tsx
  app/contexts/NetworkContext.tsx
  app/contexts/PlaygroundContext.tsx
  app/contexts/StatsProvider.tsx
  app/contexts/WalletPersistenceContext.tsx
  app/contexts/WalletStoreProvider.tsx
  app/environment.ts
  app/screens/ErrorBoundary/ErrorBoundary.test.tsx
  app/screens/ErrorBoundary/ErrorBoundary.tsx
  app/store/index.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

removed getNetworkName
  app/environment.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

createmn test
  app/components/RadioButton.tsx
  app/components/RadioGroup.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodeCreateScreen.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodesScreen.tsx
  cypress/integration/functional/masternodes/create.spec.ts
  cypress/integration/functional/masternodes/detail.spec.ts
  cypress/integration/functional/masternodes/list.spec.ts
  cypress/integration/functional/masternodes/resign.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

wip
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Masternodes/EmptyMasternode.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodeDetailScreen.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodesNavigator.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodesScreen.tsx
  cypress/integration/functional/masternodes/detail.spec.ts
  cypress/integration/functional/masternodes/list.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

switch indicator
  app/screens/AppNavigator/screens/Masternodes/MasternodeDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

list mn api
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Masternodes/EmptyMasternode.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodeCreateScreen.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodeDetailScreen.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodesNavigator.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodesScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

createmn wip
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodeCreateScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

add createmn, wip
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodeCreateScreen.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodeDetailScreen.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodesNavigator.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodesScreen.tsx
  app/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

finishing test
  app/screens/AppNavigator/screens/Masternodes/MasternodeDetailScreen.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodesScreen.tsx
  cypress/integration/functional/masternodes/detail.spec.ts
  cypress/integration/functional/masternodes/list.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

create validatation
  app/screens/AppNavigator/screens/Masternodes/MasternodesScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

createmn validation wip
  app/screens/AppNavigator/screens/Masternodes/MasternodeCreateScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

resign wip
  app/screens/AppNavigator/screens/Masternodes/MasternodeCreateScreen.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodeDetailScreen.tsx
  cypress/integration/functional/masternodes/detail.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

refine createmn ux
  app/components/RadioButton.tsx
  app/components/RadioGroup.tsx
  app/screens/AppNavigator/screens/Masternodes/MasternodeCreateScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

update
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

updates
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

updated convert spec
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

added bal check
  app/screens/AppNavigator/screens/Masternodes/MasternodesScreen.tsx
  cypress/integration/functional/masternodes/list.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

reverse
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update convert screen and ui fixes (#569)
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert_account_to_utxos.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert_utxos_to_account.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

initial changes
  app/components/OceanInterface/OceanInterface.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/TransactionAuthorization.tsx
  app/store/ocean.ts
  app/store/transaction_queue.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

updates
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

tests
  app/components/OceanInterface/OceanInterface.tsx
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update
  cypress/integration/functional/wallet/balances/send.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow

update
  cypress/integration/functional/wallet/balances/send.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow
