Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
/.idea/                                         @fuxingloh @thedoublejay

/cypress                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy

/assets                                         @fuxingloh @thedoublejay
/components                                     @fuxingloh @thedoublejay @ivan-zynesis
/screens                                        @fuxingloh @thedoublejay @ivan-zynesis
/constants                                      @fuxingloh @thedoublejay @ivan-zynesis
/hooks                                          @fuxingloh @thedoublejay @ivan-zynesis
/store                                          @fuxingloh @thedoublejay @ivan-zynesis

/playground                                     @fuxingloh
/translations                                   @fuxingloh @thedoublejay @izzycsy

/app.json                                       @fuxingloh @thedoublejay
/App.tsx                                        @fuxingloh @thedoublejay
/babel.config.js                                @fuxingloh @thedoublejay

tsconfig.json                                   @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh

CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy
README.md                                       @fuxingloh @thedoublejay @izzycsy
LICENSE                                         @fuxingloh

DEX `Your PoolPair` (#184)
  constants/Theme.ts
  screens/AppNavigator/screens/LiquidityScreen/LiquidityScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

remove super slow test (topup 31x transaction for pagination)
  cypress/integration/functional/transaction/list_paginate.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

fix test
  cypress/integration/functional/transaction/list.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

reduced playground top up amount to 10
  cypress/integration/functional/balances.spec.ts
  playground/Sections/Playground.Token.tsx
  playground/Sections/Playground.UTXO.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

reduced playground top up amount to 10 (#192)
  cypress/integration/functional/balances.spec.ts
  playground/Sections/Playground.Token.tsx
  playground/Sections/Playground.UTXO.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

clean up and reduced styles for Balances
  screens/AppNavigator/screens/BalancesScreen/BalancesNavigator.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fixed DEX merge conflict and rename from Liquidity* to Dex*
  .github/governance.yml
  screens/AppNavigator/BottomTabNavigator.tsx
  screens/AppNavigator/screens/Dex/DexNavigator.tsx
  screens/AppNavigator/screens/Dex/DexScreen.tsx
  screens/AppNavigator/screens/LiquidityScreen/LiquidityNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

updates for tests
  cypress/integration/functional/balances.spec.ts
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

moved uppercase class
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

removed uppercase class
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Bump defichain dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

typo on test id
  cypress/integration/functional/balances.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

fixed DEX merge conflict and rename from Liquidity* to Dex* (#194)
  .github/governance.yml
  screens/AppNavigator/BottomTabNavigator.tsx
  screens/AppNavigator/screens/Dex/DexNavigator.tsx
  screens/AppNavigator/screens/Dex/DexScreen.tsx
  screens/AppNavigator/screens/LiquidityScreen/LiquidityNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

clean up and reduced styles for Balances (#193)
  cypress/integration/functional/balances.spec.ts
  screens/AppNavigator/screens/BalancesScreen/BalancesNavigator.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

Bump defichain dependencies (#195)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

updated release-publish.yml to use included eas cli
  .github/workflows/release-publish.yml
Owners: @fuxingloh

expo-token should be token
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  .github/workflows/release-publish.yml
Owners: @fuxingloh

expo-token should be token (#198)
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  .github/workflows/release-publish.yml
Owners: @fuxingloh

implemented sending of UTXO
  hooks/wallet/MnemonicWallet.ts
  hooks/wallet/WalletAPI.ts
  package.json
  screens/AppNavigator/screens/BalancesScreen/BalancesNavigator.tsx
  screens/AppNavigator/screens/BalancesScreen/SendScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

reduce wait time, trigger e2e again
  cypress/integration/functional/transaction/list.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

quick save
  cypress/integration/functional/transaction/detail.spec.ts
  cypress/integration/functional/transaction/list.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

add e2e test
  cypress/integration/functional/transaction/detail.spec.ts
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionDetailScreen.tsx
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionsScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

dynamic explorer url by network
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

fix playground rpc url
  cypress/integration/functional/transaction/list.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

`transaction`: listing page e2e tests (#191)
  cypress/integration/functional/transaction/list.spec.ts
  cypress/integration/functional/transaction/list_empty.spec.ts
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionsScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

initial layout for send screen
  package-lock.json
  package.json
  screens/AppNavigator/screens/BalancesScreen/BalancesNavigator.tsx
  screens/AppNavigator/screens/BalancesScreen/ReceiveScreen/ReceiveScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/SendScreen/SendScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

split for UTXO and Token in balances page
  cypress/integration/functional/balances.spec.ts
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/ReceiveScreen/ReceiveScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
  store/wallet.test.ts
  store/wallet.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

`sendDFItoWallet` and `sendTokenToWallet` commands
  cypress/integration/functional/balances.spec.ts
  cypress/integration/functional/transaction/list.spec.ts
  cypress/support/commands.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

`balances` - split token and utxo DFI (#203)
  cypress/integration/functional/balances.spec.ts
  cypress/integration/functional/transaction/list.spec.ts
  cypress/support/commands.ts
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/ReceiveScreen/ReceiveScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
  store/wallet.test.ts
  store/wallet.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

Bump defichain dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

merge
  cypress/integration/functional/transaction/detail.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

`transaction` detail (#175)
  cypress/integration/functional/transaction/detail.spec.ts
  screens/AppNavigator/screens/Dex/DexScreen.tsx
  screens/AppNavigator/screens/TransactionsScreen/TransactionsNavigator.tsx
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionDetailScreen.tsx
  screens/AppNavigator/screens/TransactionsScreen/screens/reducer.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy

components breakdown with validation
  components/index.tsx
  constants/Theme.ts
  screens/AppNavigator/screens/BalancesScreen/BalancesNavigator.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/SendScreen/SendScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

snapshot update
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

updated whale and playground to use actuator
  .github/workflows/ci.yml
  docker-compose.yml
Owners: @fuxingloh

Bump whale & playground to 0.5.0 with actuator changes (#204)
  .github/workflows/ci.yml
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

complete add liq page imp
  screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  screens/AppNavigator/screens/Dex/DexNavigator.tsx
  screens/AppNavigator/screens/Dex/DexScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

quick save
  playground/Sections/Playground.Token.tsx
  screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  screens/AppNavigator/screens/Dex/DexNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

revert unwanted changes
  playground/Sections/Playground.Token.tsx
Owners: @fuxingloh

add max button, minor styling
  screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis
