Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh

fix: submit button label during dfi conversion
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: simplify props logic
  mobile-app/app/hooks/wallet/WalletVaultState.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: display insufficient dfi collateral error message
  mobile-app/app/components/OceanInterface/TransactionError.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

chore: add todo comment
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Ristricted address generation to max 10 addresses
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

`borrow loan token` - integrate api (#1319)
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/hooks/wallet/CollateralizationRatioColor.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Added max address count constant
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
  shared/contexts/WalletContext.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updated flaky test
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Translation updated
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LoansFaq.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Updated snapshot test
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LoansFaq.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

add collateral conversion and confirm page
  mobile-app/app/api/transaction/transaction_commands.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Bump @defichain/jellyfish dependencies (#1320)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Loan FAQ and WalletAccordion updated to support multi line answers (#1314)
  mobile-app/app/components/WalletAccordion.test.tsx
  mobile-app/app/components/WalletAccordion.tsx
  mobile-app/app/components/__snapshots__/WalletAccordion.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LoansFaq.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LoansFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PasscodeFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/RecoveryWordsFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/PasscodeFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/RecoveryWordsFaq.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/settings/knowledgeBase.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

translations
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

refactor: resuable VaultSectionTextRow
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultSectionTextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: update vault detail top section to latest UI
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

remove collateral flow
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

`loans` - add collateral conversion and confirm page (#1321)
  mobile-app/app/api/transaction/transaction_commands.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

revert
  mobile-app/app/contexts/PlaygroundContext.tsx
  shared/contexts/WhaleContext.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updates
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

isAdd from token lists
  mobile-app/app/components/BottomSheetTokenList.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

test: update snapshot
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Merge logic in getting adjacent vertices
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`vault details` - update top section UI (#1322)
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultSectionTextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

zh translations
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

updated
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/VaultShare.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

removed fallbacks
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/VaultShare.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`loans` - remove collateral and confirm page (#1323)
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/VaultShare.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Merge bottom sheet tokens
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

initial modal
  mobile-app/app/components/BottomSheetModal.web.tsx
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/jellyfish dependencies (#1326)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Add translations
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Add translations
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/PricesSection.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Remove temporary modal web view
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

UI updates
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/__snapshots__/ConversionDetailsRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultStatusTag.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
  shared/contexts/DeFiScanContext.tsx
  shared/contexts/__mocks__/DeFiScanContext.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

tsc issues
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add rhsThemedProps to VaultSectionText
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultSectionTextRow.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

refactor: remove undefined vault in vault detail screen
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee
