Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Added description for feature flags
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updated defichain name
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  website/src/pages/api/v0/settings/flags.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Added german translation
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

feat: add search input component
  mobile-app/app/components/SearchInput.tsx
  mobile-app/app/components/WalletTextInput.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

refactor: onpress props for loancards
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

wip: add choose loan token screen
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/EmptyActiveLoans.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Small css update and logic change
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  website/src/pages/api/v0/settings/flags.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Removed flag description condition
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updated feature gate logic for beta function
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Fixed test case
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Feature gate test case implementation
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/featureGate.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Rename Bottom sheet header
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

bump
  website/src/pages/api/v0/settings/flags.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Feature gate (#1211)
  mobile-app/app/api/index.ts
  mobile-app/app/api/persistence/feature_flag_storage.ts
  mobile-app/app/components/LoanCards.test.tsx
  mobile-app/app/components/LoanCards.tsx
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/contexts/__mocks__/LanguageProvider.tsx
  mobile-app/app/screens/AppNavigator/BottomTabNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/featureGate.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

fixed startup process
  desktop-app/package.json
  desktop-app/src/BrowserWindow.ts
  desktop-app/src/index.ts
  mobile-app/app/api/linking.ts
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis

Refactor platform checking for electron migration
  .nvmrc
  mobile-app/app/api/linking.ts
  mobile-app/app/api/releaseChannel.ts
  mobile-app/app/screens/Main.web.tsx
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Refactor platform checking for electron migration (#1267)
  .nvmrc
  mobile-app/app/api/linking.ts
  mobile-app/app/api/releaseChannel.ts
  mobile-app/app/screens/Main.web.tsx
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump jellyfish from 2.0.0 to 2.1.1
  .github/workflows/defichain-dependencies.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

ignore all defichain deps from auto update
  .github/dependabot.yml
Owners: @fuxingloh, @thedoublejay

Bump jellyfish from 2.0.0 to 2.1.1 (#1268)
  .github/dependabot.yml
  .github/workflows/defichain-dependencies.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Create vault integration
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  shared/store/loans.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add confirm screen static UI
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

wip: placeholder screen for borrow loan token
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump whale from 0.13.2 to 0.13.5
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Updates for e2e tests
  mobile-app/app/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/support/walletCommands.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Updates for e2e tests
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

added de translations
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/whale dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump whale from 0.13.2 to 0.13.5 (#1270)
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

added testID
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

added testID
  mobile-app/app/components/LoanCards.test.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updated snapshot
  mobile-app/app/components/__snapshots__/LoanCards.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

e2e
  mobile-app/app/components/LoanCards.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updates
  mobile-app/app/components/LoanCards.tsx
  mobile-app/app/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

updated de.json
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Multi address condition and UI updates
  mobile-app/app/api/wallet/address_index.ts
  mobile-app/app/api/wallet/persistence.test.ts
  mobile-app/app/api/wallet/persistence.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  mobile-app/app/screens/RootNavigator.tsx
  shared/contexts/WalletContext.tsx
  shared/contexts/__mocks__/WalletContext.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Added Max Price for confirmation screen Fixed getReserveAmount
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

fixed wrong price
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

updates
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh
