Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Update mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

conditional
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Adjust styles
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update snapshot
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Add vault owner and has bid info in batch card (#1579)
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionBidValue.ts
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  shared/translations/languages/de.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Bump @defichain/whale dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Updated snapshot
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Redirect auction batch to defiscan url
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionDetailScreen.tsx
  shared/contexts/DeFiScanContext.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Redirect auction batch to defiscan url (#1591)
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionDetailScreen.tsx
  shared/contexts/DeFiScanContext.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/whale dependencies (#1581)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

update snapshot
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/QuickBid.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update snapshot (#1592)
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/QuickBid.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

add collateral spec
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultStatusTag.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/cypress-visual-screenshots/comparison/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/support/commands.ts
  mobile-app/cypress/support/loanCommands.ts
  mobile-app/cypress/support/walletCommands.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Add collateral usd price in vault details page
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

remove collateral
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Style fixes
  mobile-app/app/components/Tabs.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Style fix
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

remove collateral
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Added ability to preopen the specific drawer topic for FAQ
  mobile-app/app/components/WalletAccordion.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionsFaq.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionsFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Convert Batch cards to flatlist
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  shared/store/auctions.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

build: fix error-500 and darkerror-500 tw class
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Change interface to singular naming
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  shared/store/auctions.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

new line
  mobile-app/cypress/support/loanCommands.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

feat: add Empty and Ready as vault status
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultStatusTag.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: update screen implementation for new label
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralizationRatio.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

test: update snapshot
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`e2e` - collateral spec (#1599)
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultStatusTag.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/cypress-visual-screenshots/comparison/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/support/commands.ts
  mobile-app/cypress/support/loanCommands.ts
  mobile-app/cypress/support/walletCommands.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

fix: linting error
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultStatusTag.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Emergency announcement
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Emergency announcement (#1607)
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update announcements.ts
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update announcements.ts (#1608)
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/playground dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

allow to add col and payback loan on halted state
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanOperations.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update snapshot
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Remove scroll view
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

added padding
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`loans` - allow to add col and payback loan on halted state (#1610)
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanOperations.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

bump docker
  docker-compose.yml
Owners: @fuxingloh, @thedoublejay

Convert Batch Cards to Flat List (#1603)
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  shared/store/auctions.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh
