Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Bump @defichain/whale dependencies (#1798)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Updated foreach loop with cypress one
  mobile-app/cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

test: add liquidated vault test
  shared/store/loans.test.ts
Owners: none

`test` - add unit test for loan redux store (#1810)
  shared/store/loans.test.ts
  shared/store/loans.ts
Owners: none

Bump Expo dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

emergency announcements
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

emergency announcements (#1824)
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updated transaction authorisation flaky test (#1800)
  mobile-app/cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump @defichain/playground dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

emergency announcements
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

update emergency messages (#1833)
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Bump @defichain/playground dependencies (#1817)
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

docker update
  docker-compose.yml
Owners: @fuxingloh, @thedoublejay

bump defichain
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump @defichain/jellyfish dependencies (#1816)
  docker-compose.yml
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Bump @defichain/jellyfish dependencies
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

bump to expo 44
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

bump packages
  mobile-app/App.tsx
Owners: @fuxingloh, @thedoublejay

bump jest
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

bump lint
  mobile-app/app/components/WalletTextInput.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

remove default react import
  .eslintrc
  mobile-app/app/components/WalletTextInput.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

test: add unit test to auction store
  shared/store/auctions.test.ts
  shared/store/auctions.ts
Owners: none

lint update
  mobile-app/app/screens/AppNavigator/screens/Balances/components/RandomAvatar.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

bump react number format
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

test: add unit test to auction store (#1841)
  shared/store/auctions.test.ts
  shared/store/auctions.ts
Owners: none

removed announcements
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

removed announcements (#1842)
  website/src/pages/api/v0/announcements.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Adapted privacy URL
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Added test case for themeprovider and Whalecontext
  mobile-app/app/components/WalletAccordion.test.tsx
  mobile-app/app/components/__snapshots__/WalletAccordion.test.tsx.snap
  shared/contexts/ThemeProvider.test.tsx
  shared/contexts/WhaleContext.test.tsx
  shared/contexts/WhaleContext.tsx
  shared/contexts/__snapshots__/ThemeProvider.test.tsx.snap
  shared/contexts/__snapshots__/WhaleContext.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Added test cases
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionTimeProgress.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionedCollaterals.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionTimeProgress.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
  shared/contexts/DeFiScanContext.test.tsx
  shared/contexts/LanguageProvider.test.tsx
  shared/contexts/ThemeProvider.test.tsx
  shared/contexts/WhaleContext.test.tsx
  shared/contexts/__snapshots__/LanguageProvider.test.tsx.snap
  shared/contexts/__snapshots__/ThemeProvider.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updated testcase for Auction time progress
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionTimeProgress.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionedCollaterals.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionTimeProgress.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

chore: remove value of all tabkey enum
  mobile-app/app/components/Tabs.test.tsx
  mobile-app/app/components/Tabs.tsx
  mobile-app/app/components/__snapshots__/Tabs.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Test case updates (#1850)
  mobile-app/app/components/WalletAccordion.test.tsx
  mobile-app/app/components/__snapshots__/WalletAccordion.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionTimeProgress.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionedCollaterals.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionTimeProgress.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
  shared/contexts/DeFiScanContext.test.tsx
  shared/contexts/LanguageProvider.test.tsx
  shared/contexts/ThemeProvider.test.tsx
  shared/contexts/WhaleContext.test.tsx
  shared/contexts/WhaleContext.tsx
  shared/contexts/__snapshots__/LanguageProvider.test.tsx.snap
  shared/contexts/__snapshots__/ThemeProvider.test.tsx.snap
  shared/contexts/__snapshots__/WhaleContext.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Updated Token Icons for dTokens
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/dAAPL.tsx
  mobile-app/app/components/icons/assets/dAMD.tsx
  mobile-app/app/components/icons/assets/dAMZN.tsx
  mobile-app/app/components/icons/assets/dARKK.tsx
  mobile-app/app/components/icons/assets/dBABA.tsx
  mobile-app/app/components/icons/assets/dCOIN.tsx
  mobile-app/app/components/icons/assets/dFB.tsx
  mobile-app/app/components/icons/assets/dGLD.tsx
  mobile-app/app/components/icons/assets/dGME.tsx
  mobile-app/app/components/icons/assets/dGOOG.tsx
  mobile-app/app/components/icons/assets/dMSFT.tsx
  mobile-app/app/components/icons/assets/dNVDA.tsx
  mobile-app/app/components/icons/assets/dPDBC.tsx
  mobile-app/app/components/icons/assets/dPLTR.tsx
  mobile-app/app/components/icons/assets/dQQQ.tsx
  mobile-app/app/components/icons/assets/dSLV.tsx
  mobile-app/app/components/icons/assets/dSPY.tsx
  mobile-app/app/components/icons/assets/dTLT.tsx
  mobile-app/app/components/icons/assets/dTSLA.tsx
  mobile-app/app/components/icons/assets/dTWTR.tsx
  mobile-app/app/components/icons/assets/dURTH.tsx
  mobile-app/app/components/icons/assets/dVNQ.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Added testcases for components
  mobile-app/app/components/CreateWalletStepIndicator.test.tsx
  mobile-app/app/components/HeaderSearchIcon.test.tsx
  mobile-app/app/components/HeaderSearchInput.test.tsx
  mobile-app/app/components/HeaderTitle.test.tsx
  mobile-app/app/components/InfoTextLink.test.tsx
  mobile-app/app/components/NumberRow.test.tsx
  mobile-app/app/components/PinTextInput.test.tsx
  mobile-app/app/components/ReservedDFIInfoText.test.tsx
  mobile-app/app/components/RowNetworkItem.test.tsx
  mobile-app/app/components/SearchInput.test.tsx
  mobile-app/app/components/SkeletonLoader.test.tsx
  mobile-app/app/components/__snapshots__/CreateWalletStepIndicator.test.tsx.snap
  mobile-app/app/components/__snapshots__/HeaderSearchIcon.test.tsx.snap
  mobile-app/app/components/__snapshots__/HeaderSearchInput.test.tsx.snap
  mobile-app/app/components/__snapshots__/HeaderTitle.test.tsx.snap
  mobile-app/app/components/__snapshots__/InfoTextLink.test.tsx.snap
  mobile-app/app/components/__snapshots__/NumberRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/PinTextInput.test.tsx.snap
  mobile-app/app/components/__snapshots__/ReservedDFIInfoText.test.tsx.snap
  mobile-app/app/components/__snapshots__/RowNetworkItem.test.tsx.snap
  mobile-app/app/components/__snapshots__/SearchInput.test.tsx.snap
  mobile-app/app/components/__snapshots__/SkeletonLoader.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Removed repeated unit test
  mobile-app/app/components/SkeletonLoader.test.tsx
  mobile-app/app/components/__snapshots__/SkeletonLoader.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

refactor: move AuctionDetailScreen to screens folder
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

wip: add bidhistory tab
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
  shared/store/auctions.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add theme styling to bid history
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh
