Repository BirthdayResearch/defichain-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @thedoublejay
/.husky/                                        @fuxingloh @thedoublejay

/mobile-app/app/                                @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/mobile-app/app/api                             @fuxingloh @thedoublejay @ivan-zynesis

/shared/assets                                  @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee
/shared/translations                            @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/mobile-app/cypress                             @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee

/website                                        @fuxingloh @thedoublejay @ivan-zynesis @izzycsy @kyleleow @fullstackninja864 @pierregee
/website/src/pages/api                          @fuxingloh @thedoublejay @ivan-zynesis @kyleleow @fullstackninja864 @pierregee

/.codeclimate.yml                               @fuxingloh @thedoublejay
/.versionrc.js                                  @fuxingloh @thedoublejay
/mobile-app/_shim.js                            @fuxingloh @thedoublejay
/app.json                                       @fuxingloh @thedoublejay
/mobile-app/App.tsx                             @fuxingloh @thedoublejay
/mobile-app/cypress.json                        @fuxingloh @thedoublejay
/docker-compose.yml                             @fuxingloh @thedoublejay
/eas.json                                       @fuxingloh @thedoublejay

netlify.toml                                    @fuxingloh @thedoublejay
babel.config.js                                 @fuxingloh @thedoublejay
jest.config.js                                  @fuxingloh @thedoublejay
metro.config.js                                 @fuxingloh @thedoublejay
package.json                                    @fuxingloh @thedoublejay
package-lock.json                               @fuxingloh @thedoublejay
tsconfig.json                                   @fuxingloh @thedoublejay

BETA_TESTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
CONTRIBUTING.md                                 @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
README.md                                       @fuxingloh @thedoublejay @izzycsy @kyleleow @fullstackninja864 @pierregee
LICENSE                                         @fuxingloh

fix: navigation linting
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

chore: rename folder to use lower case
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

translation: update entries
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/ConfirmCreateVaultScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

feat: add percentage suffix to loan scheme options
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/CreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add APR suffix to loan scheme
  mobile-app/app/screens/AppNavigator/screens/Loans/Screens/CreateVaultScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

chore: rename folder name using git mv
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add estimated fee in confirm screen
  mobile-app/app/components/FeeInfoRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

translation: update entries
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

merge
  desktop-app/main/build/main.js
  desktop-app/main/build/main.js.map
  desktop-app/main/main.ts
Owners: none

failing tests
  mobile-app/cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Update spacing and disable sheet panning
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/components/SlippageTolerance.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

failing tests
  mobile-app/cypress/integration/smoke/smoke.spec.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

Bump `@defichain/*` for loan tooling to support 3/6 Loan API & 3/8 Loan DfTx (#1194)
  docker-compose.yml
  mobile-app/cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @izzycsy, @kyleleow, @fullstackninja864, @pierregee

translation: update copy
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

removed .idea/inspectionProfiles (#1193)
  .idea/inspectionProfiles/Project_Default.xml
Owners: none

feat(ui): update loan scheme option bg color
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

`create vault` - add create vault and confirm create vault screens (#1196)
  mobile-app/app/components/EstimatedFeeInfo.test.tsx
  mobile-app/app/components/FeeInfoRow.test.tsx
  mobile-app/app/components/FeeInfoRow.tsx
  mobile-app/app/components/__snapshots__/EstimatedFeeInfo.test.tsx.snap
  mobile-app/app/components/__snapshots__/FeeInfoRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/__snapshots__/EmptyVault.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/EmptyVault.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/support/walletCommands.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee, @izzycsy

Make bottomsheet scrollable in case the viewport is small
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/components/SlippageTolerance.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

merge
  .gitignore
  desktop-app/.eslintrc
  desktop-app/.gitignore
  desktop-app/main/build/main.js
  desktop-app/main/build/main.js.map
  desktop-app/main/initiate-electron.js
  desktop-app/main/main.ts
  desktop-app/main/tsconfig.production.json
  desktop-app/package.json
  desktop-app/public/index.html
  desktop-app/src/App.scss
  desktop-app/src/App.tsx
  desktop-app/src/index.scss
  desktop-app/src/index.tsx
  desktop-app/src/react-app-env.d.ts
  desktop-app/tsconfig.json
  mobile-app/app/screens/Main.web.tsx
  package-lock.json
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: change IconButton icon prop to optional
  mobile-app/app/components/IconButton.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add error type to InfoText
  mobile-app/app/components/InfoText.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

refactor: symbolicon out from tokenicongroup
  mobile-app/app/components/TokenIconGroup.tsx
  mobile-app/app/components/themed/ThemedIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/SymbolIcon.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: update UI of vault card
  mobile-app/app/components/VaultCard.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

refactor: vault info to be shared in different screens
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: update hard-coded data for vault
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

feat: add scrollable button component
  mobile-app/app/screens/AppNavigator/screens/Loans/components/ScrollableButton.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

wip: add vault detail screen
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Feature gate implementation
  mobile-app/app/api/index.ts
  mobile-app/app/api/persistence/feature_flag_storage.ts
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/BottomTabNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  shared/types/website.ts
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Add skeleton loader on loans
  mobile-app/app/components/SkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/SkeletonLoader.test.tsx
  mobile-app/app/components/skeletonLoaders/VaultSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

merge
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Make spaces more consistent with design
  mobile-app/app/components/skeletonLoaders/VaultSkeletonLoader.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Change num of rows to 6
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Update snapshot
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

merge
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

merge
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

Add unique key in the props to not randomize
  mobile-app/app/components/skeletonLoaders/VaultSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

merge
  desktop-app/.gitignore
  desktop-app/main/build/main.js
  desktop-app/main/build/main.js.map
  desktop-app/main/build/src/menu.js
  desktop-app/main/build/src/menu.js.map
  desktop-app/main/main.ts
  desktop-app/main/src/menu.ts
  desktop-app/package-lock.json
  desktop-app/package.json
  package-lock.json
  package.json
Owners: @fuxingloh, @thedoublejay

merge
  .gitignore
  desktop-app/.gitignore
Owners: none

feat: adjust line height of scrollable button
  mobile-app/app/components/IconButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/ScrollableButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/VaultDetailScreen.tsx
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee

Added unit testcases
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/contexts/__mocks__/LanguageProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
Owners: @fuxingloh, @thedoublejay, @ivan-zynesis, @kyleleow, @fullstackninja864, @pierregee
