Repository BirthdayResearch/defichain-wallet, pull requests merged in 2021-05, with the labels that each got.

#30 project rename
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-enhancement.md
  .github/ISSUE_TEMPLATE/3-general.md
  .gitignore
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dictionaries/fuxing.xml
  .idea/modules.xml
  .idea/wallet.iml
  CONTRIBUTING.md
  LICENSE
  README.md
  package-lock.json
  package.json
  packages/tokens/package.json
  translations/index.ts
Labels: kind/chore

#33 update workflows to latest
  .github/dependabot.yml
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/defichain-dependencies.yml
  .github/workflows/lint.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-project.yml
  .github/workflows/sync-labels.yml
  .idea/dictionaries/fuxing.xml
  package.json
  translations/index.ts
Labels: kind/chore

#36 fix oss-governance-project not to trigger for bot
  .github/workflows/oss-governance-project.yml
Labels: area/workflow, kind/chore

#42 fix github actions to a commit sha
  .github/workflows/ci.yml
  .github/workflows/defichain-dependencies.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  app.json
Labels: area/workflow, kind/chore

#44 bump expo version to v41
  package-lock.json
  package.json
  tsconfig.json
Labels: kind/dependencies

#43 added expo-preview.yml and expo-publish.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  CONTRIBUTING.md
  app.json
Labels: area/workflow, kind/chore

#45 fix Maintainability badge
  README.md
Labels: kind/chore

#48 updated CODEOWNERS
  .github/CODEOWNERS
Labels: area/workflow, kind/chore

#58 updated & cleanup `.github/workflows`
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-project.yml
  .github/workflows/sync-labels.yml
Labels: area/workflow, kind/chore

#59 added netlify rich preview
  .github/workflows/ci.yml
  .github/workflows/defichain-dependencies.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  netlify.toml
  package-lock.json
  package.json
Labels: area/workflow, kind/chore

#62 .idea codeStyles to match ts-standard
  .idea/codeStyles/Project.xml
Labels: kind/chore

#61 setup cypress for e2e testing
  .github/workflows/ci.yml
  README.md
  cypress.json
  cypress/integration/functional/example.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: area/workflow, kind/chore

#63 refactor packages/tokens to components/icons/tokens
  .idea/dictionaries/fuxing.xml
  .idea/wallet.iml
  components/icons/tokens/IconBCH.tsx
  components/icons/tokens/IconBTC.tsx
  components/icons/tokens/IconDFI.tsx
  components/icons/tokens/IconDOGE.tsx
  components/icons/tokens/IconDefault.tsx
  components/icons/tokens/IconETH.tsx
  components/icons/tokens/IconLTC.tsx
  components/icons/tokens/IconUSDT.tsx
  components/icons/tokens/__snapshots__/_index.test.tsx.snap
  components/icons/tokens/_index.test.tsx
  components/icons/tokens/_index.ts
  packages/tokens/README.md
  packages/tokens/package.json
  packages/tokens/svg-icons/bch.svg
  packages/tokens/svg-icons/btc.svg
  packages/tokens/svg-icons/dfi.svg
  packages/tokens/svg-icons/doge.svg
  packages/tokens/svg-icons/eth.svg
  packages/tokens/svg-icons/ltc.svg
  packages/tokens/svg-icons/usdt.svg
  screens/TabOneScreen.tsx
Labels: kind/refactor

#64 added workflow to automate adding issue
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/oss-governance-project-pr.yml
  README.md
Labels: area/workflow, kind/chore

#65 convert governance automation script to use actions/github-script
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/oss-governance-project-pr.yml
Labels: area/workflow, kind/chore

#66 setup bottom tab bar controller
  .codeclimate.yml
  .github/CODEOWNERS
  App.tsx
  hooks/useCachedResources.ts
  hooks/useColorScheme.ts
  hooks/useColorScheme.web.ts
  navigation/BottomTabNavigator.tsx
  navigation/LinkingConfiguration.ts
  navigation/index.tsx
  screens/BalancesScreen/BalancesScreen.test.tsx
  screens/BalancesScreen/BalancesScreen.tsx
  screens/LiquidityScreen/LiquidityScreen.tsx
  screens/NotFoundScreen.tsx
  screens/SettingsScreen/SettingsScreen.tsx
  screens/TabOneScreen.tsx
  screens/TabTwoScreen.tsx
  screens/TransactionsScreen/TransactionsScreen.tsx
  types.tsx
Labels: area/workflow, kind/chore

#68 initial setup for web preview & playground
  App.web.tsx
  navigation/BottomTabNavigator.tsx
  screens/BalancesScreen/BalancesScreen.tsx
  screens/LiquidityScreen/LiquidityScreen.tsx
  screens/SettingsScreen/SettingsScreen.tsx
  screens/TransactionsScreen/TransactionsScreen.tsx
Labels: kind/chore

#69 added @defichain/* deps required for light-wallet
  .github/workflows/defichain-dependencies.yml
  package-lock.json
  package.json
Labels: area/workflow, kind/dependencies

#70 updated to a reasonable viewport for cypress
  cypress/integration/functional/example.spec.ts
Labels: kind/chore

#76 expo-preview will not run on bot PR
  .github/workflows/expo-preview.yml
Labels: area/workflow, kind/chore

#82 update package-lock.json to v2
  package-lock.json
Labels: kind/chore

#83 updated CONTRIBUTING.md
  CONTRIBUTING.md
Labels: kind/docs

#88 project governance to auto move card based on priority label
  .github/workflows/oss-governance-project-issue.yml
Labels: area/workflow, kind/chore

#89 bump defichain-dependencies to always stay on bleeding edge
  .github/workflows/defichain-dependencies.yml
  docker-compose.yml
  package-lock.json
  package.json
Labels: area/workflow, kind/dependencies

#90 bump down react version to 16.13.1
  package-lock.json
  package.json
Labels: kind/dependencies

#91 setup global redux store for app
  .idea/dictionaries/fuxing.xml
  App.tsx
  App.web.tsx
  cypress/integration/functional/example.spec.ts
  package-lock.json
  package.json
  screens/LiquidityScreen/LiquidityScreen.tsx
  store/index.ts
  store/liquidity.ts
Labels: kind/chore

#92 update governance with new project structure
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  store/index.ts
Labels: area/workflow, kind/chore

#81 display missing translations on PR
  .github/workflows/translations-reporter.yml
  .gitignore
  package-lock.json
  package.json
  screens/TransactionsScreen/TransactionsScreen.tsx
  translations/index.ts
  translations/languages/de.ts
  translations/languages/index.ts
  translations/languages/zh-Hans.ts
  translations/languages/zh-Hant.ts
  translations/reporter/index.test.ts
  translations/reporter/index.ts
  translations/zh-Hans.ts
  tsconfig.json
Labels: area/translations, area/workflow, kind/feature

#93 setup throwaway playground regtest for e2e testing
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/ci/wait-for
  .github/workflows/defichain-dependencies.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  .github/workflows/translations-reporter.yml
  App.tsx
  App.web.tsx
  cypress/integration/functional/example.spec.ts
  docker-compose.yml
  hooks/defi/useDeFiPlayground.ts
  hooks/defi/useDeFiWhale.ts
  hooks/useCachedResources.ts
  navigation/index.tsx
  package-lock.json
  package.json
  playground/Playground.Connection.tsx
  screens/Main.tsx
  screens/Main.web.tsx
  store/liquidity.ts
Labels: area/navigation, area/playground, area/workflow, kind/chore

#97 workflow to update expo dependencies
  .github/workflows/expo-dependencies.yml
Labels: area/workflow, kind/chore

#99 Add `reselect` package
  package-lock.json
  package.json
  store/liquidity.ts
Labels: area/core, kind/chore

#103 refactor to use hooks for global client setup
  App.tsx
  docker-compose.yml
  hooks/defi/useDeFiPlayground.ts
  hooks/defi/useDeFiWhale.ts
  hooks/useCachedResources.ts
  hooks/useNetwork.ts
  hooks/usePlaygroundRpcClient.ts
  hooks/useWhaleApiClient.ts
  package-lock.json
  package.json
  playground/Playground.Connection.tsx
  store/block.ts
  store/index.ts
  store/network.ts
Labels: area/playground, kind/refactor

#105 refactor not to use export default
  .idea/dictionaries/fuxing.xml
  App.tsx
  components/EditScreenInfo.tsx
  components/StyledText.test.tsx
  components/StyledText.tsx
  components/Themed.tsx
  components/__snapshots__/StyledText.test.tsx.snap
  constants/Colors.ts
  constants/Layout.ts
  hooks/useCachedResources.ts
  hooks/useColorScheme.ts
  hooks/useColorScheme.web.ts
  hooks/useNetwork.ts
  hooks/usePlaygroundRpcClient.ts
  hooks/useWhaleApiClient.ts
  navigation/BottomTabNavigator.tsx
  navigation/LinkingConfiguration.ts
  navigation/index.tsx
  playground/Playground.Connection.tsx
  screens/BalancesScreen/BalancesScreen.test.tsx
  screens/BalancesScreen/BalancesScreen.tsx
  screens/LiquidityScreen/LiquidityScreen.tsx
  screens/Main.tsx
  screens/Main.web.tsx
  screens/NotFoundScreen.tsx
  screens/SettingsScreen/SettingsScreen.tsx
  screens/TransactionsScreen/TransactionsScreen.tsx
  translations/index.ts
  translations/languages/de.ts
  translations/languages/index.ts
  translations/languages/zh-Hans.ts
  translations/languages/zh-Hant.ts
  translations/reporter/index.test.ts
  translations/reporter/index.ts
Labels: area/navigation, area/playground, area/translations, kind/refactor, screen/BalancesScreen, screen/LiquidityScreen, screen/SettingsScreen, screen/TransactionsScreen

#108 removed reselect deps
  package-lock.json
  package.json
  store/liquidity.ts
Labels: kind/dependencies
