Repository BirthdayResearch/defichain-wallet, pull requests merged in 2021-06, with the labels that each got.

#116 updated playground to latest version
  .idea/dictionaries/fuxing.xml
  docker-compose.yml
  hooks/api/usePlaygroundClient.ts
  hooks/design/useColorScheme.ts
  playground/Sections/Playground.Connection.tsx
Labels: area/playground, kind/dependencies

#118 updated playground to use new API
  .github/workflows/ci.yml
  docker-compose.yml
  hooks/api/useNetwork.ts
  playground/Sections/Playground.Connection.tsx
Labels: area/playground, area/workflow, kind/chore

#119 added PrimaryColor for App
  constants/Colors.ts
  screens/WalletNavigator/BottomTabNavigator.tsx
Labels: kind/chore

#121 updated translations-reporter.yml to collapse automatically
  .github/workflows/translations-reporter.yml
Labels: area/workflow, kind/chore

#120 `Settings` UI Implementation
  components/icons/tokens/_index.test.tsx
  cypress/integration/functional/setting.spec.ts
  playground/Sections/Playground.Connection.tsx
  screens/WalletNavigator/BottomTabNavigator.tsx
  screens/WalletNavigator/screens/SettingsScreen/SettingsNavigator.tsx
  screens/WalletNavigator/screens/SettingsScreen/SettingsScreen.tsx
  screens/WalletSetupNavigator/screens/WalletSetupScreen.tsx
Labels: area/playground, kind/feature

#125 updated code owners to include new maintainer
  .github/CODEOWNERS
  .idea/dictionaries/fuxing.xml
Labels: area/workflow, kind/chore

#123 `Playground` - E2E Tools Setup
  components/icons/tokens/IconDFI.tsx
  components/icons/tokens/__snapshots__/_index.test.tsx.snap
  components/icons/tokens/_index.ts
  cypress/integration/functional/example.spec.ts
  docker-compose.yml
  hooks/wallet/WalletAPI.ts
  playground/Playground.Action.tsx
  playground/Playground.Status.tsx
  playground/Playground.tsx
  playground/Sections/Playground.Connection.tsx
  playground/Sections/Playground.Dex.tsx
  playground/Sections/Playground.Token.tsx
  playground/Sections/Playground.UTXO.tsx
  playground/Sections/Playground.Wallet.tsx
  screens/WalletNavigator/BottomTabNavigator.tsx
  screens/WalletNavigator/screens/BalancesScreen/BalancesNavigator.tsx
  screens/WalletNavigator/screens/BalancesScreen/BalancesScreen.test.tsx
  screens/WalletNavigator/screens/BalancesScreen/BalancesScreen.tsx
Labels: area/playground, kind/feature

#132 Refactor PlaygroundAction to only show up if there is connection
  .github/workflows/oss-governance-project-pr.yml
  .idea/dictionaries/fuxing.xml
  playground/Sections/Playground.UTXO.tsx
Labels: area/playground, area/workflow, kind/refactor

#129 `loader` - main loader
  package-lock.json
  package.json
  screens/LoadingScreen/LoadingScreen.test.tsx
  screens/LoadingScreen/LoadingScreen.tsx
  screens/LoadingScreen/__snapshots__/LoadingScreen.test.tsx.snap
Labels: kind/feature

#136 Translations fix to prevent "guessing" results
  translations/index.ts
Labels: area/translations, kind/fix

#140 Cypress package update, added references in docs
  CONTRIBUTING.md
  cypress.json
  package-lock.json
  package.json
Labels: kind/chore

#139 Added temporary remote playground
  hooks/api/useNetwork.ts
  store/network.ts
Labels: kind/chore

#124 `Mnemonic Wallet` - Implementation
  screens/AppNavigator/AppNavigator.tsx
  screens/WalletNavigator/WalletNavigator.tsx
  screens/WalletNavigator/screens/WalletMnemonicCreate.tsx
  screens/WalletNavigator/screens/WalletMnemonicCreateVerify.tsx
  screens/WalletNavigator/screens/WalletMnemonicRestore.tsx
  screens/WalletNavigator/screens/WalletOnboarding.tsx
Labels: kind/feature

#141 added custom command `getByTestID`
  .github/labeler.yml
  .github/labels.yml
  CONTRIBUTING.md
  cypress/integration/functional/setting.spec.ts
  cypress/support/commands.ts
  package.json
Labels: area/workflow, kind/chore

#148 Fix bad indentation in labeler.yml
  .github/labeler.yml
Labels: kind/chore

#149 design changes text, bottom tab bar, top nav bar
  components/index.tsx
  screens/AppNavigator/BottomTabNavigator.tsx
  screens/AppNavigator/screens/SettingsScreen/SettingsScreen.tsx
  screens/WalletNavigator/WalletNavigator.tsx
  screens/WalletNavigator/screens/WalletMnemonicCreate.tsx
  screens/WalletNavigator/screens/WalletMnemonicCreateVerify.tsx
  screens/WalletNavigator/screens/WalletMnemonicRestore.tsx
  screens/WalletNavigator/screens/WalletOnboarding.tsx
Labels: kind/chore

#151 Playground access within Settings
  playground/Playground.Action.tsx
  playground/Playground.tsx
  playground/Sections/Playground.Connection.tsx
  playground/Sections/Playground.Token.tsx
  playground/Sections/Playground.UTXO.tsx
  playground/Sections/Playground.Wallet.tsx
  screens/AppNavigator/AppNavigator.tsx
  screens/AppNavigator/BottomTabNavigator.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/SettingsScreen/SettingsNavigator.tsx
  screens/AppNavigator/screens/SettingsScreen/SettingsScreen.tsx
  screens/Main.web.tsx
Labels: area/playground, kind/feature

#155 removed deprecated package `react-native-testing-library`
  components/icons/tokens/_index.test.tsx
  package-lock.json
  package.json
  screens/LoadingNavigator/LoadingScreen.test.tsx
Labels: kind/chore

#154 Added more area labels for project governance
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
Labels: area/workflow, kind/chore

#137 `Settings/Help` Screen
  .gitignore
  cypress/integration/functional/help.spec.ts
  cypress/integration/functional/settings.spec.ts
  cypress/support/commands.ts
  package.json
  screens/AppNavigator/screens/HelpScreen/HelpScreen.test.tsx
  screens/AppNavigator/screens/HelpScreen/HelpScreen.tsx
  screens/AppNavigator/screens/HelpScreen/__snapshots__/HelpScreen.test.tsx.snap
  screens/AppNavigator/screens/SettingsScreen/SettingsNavigator.tsx
Labels: area/core, area/e2e, kind/feature

#160 Added issue template for `UI/UX Improvements`
  .github/ISSUE_TEMPLATE/4-ui-ux-improvements.md
Labels: area/workflow, kind/docs

#161 Added issue template for `translation improvements`
  .github/ISSUE_TEMPLATE/5-translation-improvements.md
Labels: area/workflow, kind/docs

#166 ignore __snapshot__ from source code search
  .idea/wallet.iml
Labels: kind/chore

#165 updated all icons to use MaterialIcons set
  constants/Theme.ts
  hooks/design/useCachedResources.ts
  screens/AppNavigator/BottomTabNavigator.tsx
  screens/AppNavigator/screens/SettingsScreen/SettingsNavigator.tsx
  screens/AppNavigator/screens/SettingsScreen/SettingsScreen.tsx
  screens/WalletNavigator/screens/WalletMnemonicCreate.tsx
  screens/WalletNavigator/screens/WalletOnboarding.tsx
Labels: kind/fix

#173 updated CODEOWNERS
  .github/CODEOWNERS
Labels: area/workflow, kind/chore

#171 cleaned up help page style for RN and rename to community
  cypress/integration/functional/community.spec.ts
  hooks/design/useCachedResources.ts
  screens/AppNavigator/screens/HelpScreen/HelpScreen.test.tsx
  screens/AppNavigator/screens/HelpScreen/HelpScreen.tsx
  screens/AppNavigator/screens/HelpScreen/__snapshots__/HelpScreen.test.tsx.snap
  screens/AppNavigator/screens/SettingsScreen/CommunityScreen.test.tsx
  screens/AppNavigator/screens/SettingsScreen/CommunityScreen.tsx
  screens/AppNavigator/screens/SettingsScreen/SettingsNavigator.tsx
  screens/AppNavigator/screens/SettingsScreen/__snapshots__/CommunityScreen.test.tsx.snap
Labels: area/e2e, kind/fix

#162 `balances` - main page
  components/icons/tokens/IconBCH.tsx
  components/icons/tokens/IconBTC.tsx
  components/icons/tokens/IconDFI.tsx
  components/icons/tokens/IconDOGE.tsx
  components/icons/tokens/IconDefault.tsx
  components/icons/tokens/IconETH.tsx
  components/icons/tokens/IconLTC.tsx
  components/icons/tokens/IconUSDT.tsx
  components/icons/tokens/__snapshots__/_index.test.tsx.snap
  components/icons/tokens/_index.test.tsx
  components/index.tsx
  hooks/wallet/TokensAPI.ts
  hooks/wallet/WalletAPI.ts
  package-lock.json
  package.json
  playground/Sections/Playground.Connection.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  store/wallet.test.ts
  store/wallet.ts
Labels: area/playground, kind/feature

#177 fixed crypto icons vectors
  components/icons/tokens/IconBCH.tsx
  components/icons/tokens/IconBTC.tsx
  components/icons/tokens/IconDFI.tsx
  components/icons/tokens/IconDOGE.tsx
  components/icons/tokens/IconDefault.tsx
  components/icons/tokens/IconETH.tsx
  components/icons/tokens/IconLTC.tsx
  components/icons/tokens/IconUSDT.tsx
  components/icons/tokens/__snapshots__/_index.test.tsx.snap
Labels: kind/fix

#167 expo EAS build & submit workflow
  .github/workflows/expo-publish.yml
  .github/workflows/release-publish.yml
  .versionrc.js
  app.json
  eas.json
  package-lock.json
  package.json
Labels: area/workflow, kind/chore

#180 configured cypress for better testing QOL
  cypress.json
  cypress/support/index.ts
Labels: area/e2e, kind/chore

#181 don't collect coverage from `playground` directory
  jest.config.js
Labels: kind/chore

#182 improved defichain-dependencies.yml
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#183 improved @defichain/* update workflow
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#185 ncu will only create PR if there are changes
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#174 DEX `Available PoolPair`
  .github/workflows/ci.yml
  cypress/integration/functional/dex/available_pool_pairs.spec.ts
  screens/AppNavigator/BottomTabNavigator.tsx
  screens/AppNavigator/screens/LiquidityScreen/LiquidityNavigator.tsx
  screens/AppNavigator/screens/LiquidityScreen/LiquidityScreen.tsx
  store/index.ts
  store/liquidity.ts
Labels: area/e2e, area/workflow, kind/feature

#179 `balances` page tests
  cypress/integration/functional/balances.spec.ts
  cypress/support/commands.ts
  playground/Sections/Playground.Wallet.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
Labels: area/e2e, area/playground, kind/chore

#189 Bump whale to 0.4.x and playground to 0.3.x
  components/icons/tokens/_index.ts
  cypress/integration/functional/balances.spec.ts
  cypress/integration/functional/dex/available_pool_pairs.spec.ts
  cypress/support/index.ts
  docker-compose.yml
  hooks/api/useNetwork.ts
  package-lock.json
  package.json
  playground/Sections/Playground.Connection.tsx
  screens/AppNavigator/screens/LiquidityScreen/LiquidityScreen.tsx
  store/network.ts
Labels: area/e2e, area/playground, kind/dependencies

#188 `receive` - address page
  cypress/integration/functional/balances.spec.ts
  package-lock.json
  package.json
  screens/AppNavigator/screens/BalancesScreen/BalancesNavigator.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/ReceiveScreen/ReceiveScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/ReceiveScreen/ReceiveScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/ReceiveScreen/__snapshots__/ReceiveScreen.test.tsx.snap
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
Labels: area/e2e, kind/feature

#168 `transaction` - listing
  components/index.tsx
  screens/AppNavigator/BottomTabNavigator.tsx
  screens/AppNavigator/screens/TransactionsScreen/TransactionsNavigator.tsx
  screens/AppNavigator/screens/TransactionsScreen/TransactionsScreen.tsx
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionsScreen.tsx
  screens/AppNavigator/screens/TransactionsScreen/screens/stateProcessor.ts
Labels: kind/feature

#184 DEX `Your PoolPair`
  constants/Theme.ts
  screens/AppNavigator/screens/LiquidityScreen/LiquidityScreen.tsx
Labels: kind/feature

#192 reduced playground top up amount to 10
  cypress/integration/functional/balances.spec.ts
  playground/Sections/Playground.Token.tsx
  playground/Sections/Playground.UTXO.tsx
Labels: area/e2e, area/playground, kind/chore

#194 fixed DEX merge conflict and rename from Liquidity* to Dex*
  .github/governance.yml
  screens/AppNavigator/BottomTabNavigator.tsx
  screens/AppNavigator/screens/Dex/DexNavigator.tsx
  screens/AppNavigator/screens/Dex/DexScreen.tsx
  screens/AppNavigator/screens/LiquidityScreen/LiquidityNavigator.tsx
Labels: area/workflow, kind/fix

#193 clean up and reduced styles for Balances
  cypress/integration/functional/balances.spec.ts
  screens/AppNavigator/screens/BalancesScreen/BalancesNavigator.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
Labels: area/e2e, kind/chore

#198 fix expo-actions as expo-token should be token
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  .github/workflows/release-publish.yml
Labels: area/workflow, kind/chore

#191 `transaction`: listing page e2e tests
  cypress/integration/functional/transaction/list.spec.ts
  cypress/integration/functional/transaction/list_empty.spec.ts
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionsScreen.tsx
Labels: area/e2e, kind/feature

#203 `balances` - split token and utxo DFI
  cypress/integration/functional/balances.spec.ts
  cypress/integration/functional/transaction/list.spec.ts
  cypress/support/commands.ts
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/ReceiveScreen/ReceiveScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
  store/wallet.test.ts
  store/wallet.ts
Labels: area/e2e, kind/feature

#175 `transaction` detail
  cypress/integration/functional/transaction/detail.spec.ts
  screens/AppNavigator/screens/Dex/DexScreen.tsx
  screens/AppNavigator/screens/TransactionsScreen/TransactionsNavigator.tsx
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionDetailScreen.tsx
  screens/AppNavigator/screens/TransactionsScreen/screens/reducer.ts
Labels: area/e2e, kind/feature

#204 Bump whale & playground to 0.5.0 with actuator changes
  .github/workflows/ci.yml
  docker-compose.yml
  package-lock.json
  package.json
Labels: area/workflow, kind/dependencies

#209 refactor `playground/**` into `screens/PlaygroundNavigator/**`
  .github/labeler.yml
  jest.config.js
  screens/AppNavigator/AppNavigator.tsx
  screens/Main.web.tsx
  screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  screens/PlaygroundNavigator/PlaygroundScreen.tsx
  screens/PlaygroundNavigator/components/PlaygroundAction.tsx
  screens/PlaygroundNavigator/components/PlaygroundStatus.tsx
  screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
Labels: area/workflow, kind/refactor

#210 Bump expo-cli in expo-dependencies.yml workflow
  .github/workflows/expo-dependencies.yml
Labels: area/workflow, kind/chore

#211 bump expo-cli
  package-lock.json
  package.json
Labels: kind/chore

#212 getEnvironment for release channel independent environments
  app/__snapshots__/environment.test.ts.snap
  app/environment.test.ts
  app/environment.ts
  package-lock.json
  package.json
  screens/WalletNavigator/screens/WalletOnboarding.tsx
Labels: kind/feature

#214 Updated `README.md` with project narrative
  .gitattributes
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .idea/dictionaries/fuxing.xml
  README.md
Labels: area/workflow, kind/docs

#202 `send` - main page
  components/PrimaryButton.tsx
  components/index.tsx
  package-lock.json
  package.json
  screens/AppNavigator/screens/BalancesScreen/BalancesNavigator.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/SendScreen/SendScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionsScreen.tsx
Labels: kind/feature

#215 added environment and network prefixed storage
  app/storage.test.ts
  app/storage.ts
Labels: area/app, kind/feature

#217 added `logging.ts` for centralized logging collecting and reporting
  App.tsx
  app/logging.test.ts
  app/logging.ts
Labels: area/app, kind/feature
