Repository BirthdayResearch/defichain-wallet, pull requests merged in 2021-07, with the labels that each got.

#218 `whale` and `playground` client abstracted from UI logic
  app/api/playground.test.ts
  app/api/playground.ts
  app/api/whale.test.ts
  app/api/whale.ts
  package-lock.json
  package.json
Labels: area/app, kind/chore

#222 fixed shim ordering breaking Buffer polyfill
  App.tsx
  _shim.js
Labels: kind/fix

#221 Environment and Network independent Wallet
  app/wallet/index.test.ts
  app/wallet/index.ts
  app/wallet/mnemonic.test.ts
  app/wallet/mnemonic.ts
  app/wallet/network.ts
  app/wallet/whale.ts
  package.json
Labels: area/app, kind/feature

#225 added missing PlaygroundRpcClient
  app/api/playground.test.ts
  app/api/playground.ts
Labels: area/app, kind/chore

#228 fixed expo upgrade unable to run on dirty tree
  .github/workflows/expo-dependencies.yml
Labels: area/workflow, kind/chore

#226 bump to expo 42
  .github/dependabot.yml
  package-lock.json
  package.json
  screens/AppNavigator/screens/BalancesScreen/ReceiveScreen/ReceiveScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/ReceiveScreen/ReceiveScreen.tsx
Labels: area/ui-ux, area/workflow, kind/chore

#227 Migrate Playground hooks to use new Playground provider in `/app`
  App.tsx
  app/api/playground.test.ts
  app/api/playground.ts
  hooks/api/usePlaygroundClient.ts
  screens/PlaygroundNavigator/PlaygroundScreen.tsx
  screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
Labels: area/app, area/playground, area/ui-ux, kind/refactor

#232 moved expo-cli bumping to `dependabot.yml` for independent update cycle
  .github/dependabot.yml
  .github/workflows/expo-dependencies.yml
Labels: area/workflow, kind/chore

#233 Refactor top level `useCached...` to load Whale after Playground
  App.tsx
  app/__snapshots__/environment.test.ts.snap
  app/api/playground.test.ts
  app/api/playground.ts
  app/environment.ts
  app/storage.test.ts
  app/wallet/mnemonic.test.ts
  hooks/design/useCachedResources.ts
Labels: area/app, kind/refactor

#234 Refactor to use `useCachedWhaleClient` with `getWhaleClient`
  .github/dependabot.yml
  App.tsx
  hooks/api/useNetwork.ts
  hooks/api/useWhaleApiClient.ts
  hooks/wallet/MnemonicWallet.ts
  hooks/wallet/TokensAPI.ts
  hooks/wallet/WalletAPI.ts
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/ReceiveScreen/ReceiveScreen.test.tsx
  screens/AppNavigator/screens/Dex/DexScreen.tsx
  screens/AppNavigator/screens/SettingsScreen/SettingsScreen.tsx
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionDetailScreen.tsx
  screens/AppNavigator/screens/TransactionsScreen/screens/TransactionsScreen.tsx
  screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  store/index.ts
  store/network.ts
Labels: area/playground, area/store, area/ui-ux, area/workflow, kind/refactor

#239 refactor `app/wallet` to use multi wallet system
  app/logging.test.ts
  app/logging.ts
  app/wallet/index.test.ts
  app/wallet/index.ts
  app/wallet/mnemonic.test.ts
  app/wallet/mnemonic.ts
  app/wallet/persistence.test.ts
  app/wallet/persistence.ts
  hooks/wallet/TokensAPI.ts
  hooks/wallet/WalletAPI.ts
  screens/PlaygroundNavigator/PlaygroundScreen.tsx
  screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  screens/RootNavigator.tsx
Labels: area/app, area/playground, area/ui-ux, kind/refactor

#223 `balances` - updated send flow
  components/PrimaryButton.test.tsx
  components/PrimaryButton.tsx
  components/__snapshots__/PrimaryButton.test.tsx.snap
  components/icons/tokens/IconUTXO.tsx
  components/icons/tokens/__snapshots__/_index.test.tsx.snap
  components/icons/tokens/_index.test.tsx
  components/icons/tokens/_index.ts
  hooks/wallet/TokensAPI.ts
  jest.config.js
  package-lock.json
  package.json
  screens/AppNavigator/screens/BalancesScreen/BalancesNavigator.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/BalancesScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/SendScreen/SendScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/TokenDetailScreen/TokenDetailScreen.test.tsx
  screens/AppNavigator/screens/BalancesScreen/TokenDetailScreen/TokenDetailScreen.tsx
  screens/AppNavigator/screens/BalancesScreen/TokenDetailScreen/__snapshots__/TokenDetailScreen.test.tsx.snap
  screens/AppNavigator/screens/BalancesScreen/__snapshots__/BalancesScreen.test.tsx.snap
  screens/AppNavigator/screens/SettingsScreen/CommunityScreen.test.tsx
  store/wallet.test.ts
  store/wallet.ts
Labels: area/store, area/ui-ux, kind/feature

#216 `dex` - poolswap
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.test.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/__snapshots__/PoolSwapScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
Labels: area/app, area/ui-ux, kind/feature

#241 Refactor network, wallet, whale & playground to `use*Context` with `*Provider`
  .husky/.gitignore
  App.tsx
  app/api/logging.test.ts
  app/api/logging.ts
  app/api/storage.test.ts
  app/api/storage.ts
  app/api/wallet/index.test.ts
  app/api/wallet/index.ts
  app/api/wallet/mnemonic.test.ts
  app/api/wallet/mnemonic.ts
  app/api/wallet/network.ts
  app/api/wallet/persistence.test.ts
  app/api/wallet/persistence.ts
  app/contexts/NetworkContext.tsx
  app/contexts/PlaygroundContext.tsx
  app/contexts/WalletContext.tsx
  app/contexts/WalletManagementContext.tsx
  app/contexts/WhaleContext.tsx
  app/hooks/useCachedResources.ts
  app/hooks/wallet/MnemonicStorage.ts
  app/hooks/wallet/MnemonicWallet.ts
  app/hooks/wallet/TokensAPI.ts
  app/hooks/wallet/WalletAPI.ts
  app/middlewares/api/playground.test.ts
  app/middlewares/api/playground.ts
  app/middlewares/api/whale.test.ts
  app/middlewares/api/whale.ts
  app/middlewares/wallet/index.test.ts
  app/middlewares/wallet/index.ts
  app/middlewares/wallet/mnemonic.test.ts
  app/middlewares/wallet/mnemonic.ts
  app/middlewares/wallet/whale.ts
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.test.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.test.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/RootNavigator.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicCreateVerify.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicRestore.tsx
  app/screens/WalletNavigator/screens/WalletOnboarding.tsx
  app/store/wallet.test.ts
  app/store/wallet.ts
Labels: area/app, area/playground, area/store, area/ui-ux, kind/refactor

#130 added error boundaries
  App.tsx
  app/api/wallet/persistence.test.ts
  app/components/icons/AppIcon.tsx
  app/components/icons/tokens/__snapshots__/_index.test.tsx.snap
  app/components/icons/tokens/_index.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/reducer.ts
  app/screens/ErrorBoundary/ErrorBoundary.test.tsx
  app/screens/ErrorBoundary/ErrorBoundary.tsx
  app/screens/ErrorBoundary/__snapshots__/ErrorBoundary.test.tsx.snap
  app/screens/Main.web.tsx
Labels: area/app, area/ui-ux, kind/feature

#242 added colors for IconDefault
  app/components/icons/tokens/IconDefault.tsx
  app/components/icons/tokens/__snapshots__/_index.test.tsx.snap
  app/components/icons/tokens/_index.test.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  package-lock.json
  package.json
Labels: area/app, area/ui-ux, kind/feature

#248 updated `.github` health files
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/oss-governance-project-issue.yml
  README.md
Labels: area/workflow, kind/chore

#254 fixed minor ui-ux issues
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicCreate.tsx
Labels: area/ui-ux, kind/fix

#266 updated workflow & github health files
  .github/dependabot.yml
  .github/governance.yml
  .github/workflows/oss-governance-labeler.yml
Labels: area/workflow, kind/chore

#268 Bump docker-compose.yml to latest version
  docker-compose.yml
Labels: kind/dependencies

#269 expo upgrade
  package-lock.json
  package.json
Labels: kind/chore

#271 PlaygroundContext so it won't be loaded in non-debug mode
  app/contexts/PlaygroundContext.tsx
Labels: area/contexts, kind/fix

#219 `Balances` - utxosToAccount and accountToUtxos screen
  app/components/PrimaryButton.tsx
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  cypress/integration/functional/balances/balances.spec.ts
  cypress/integration/functional/balances/convert/convert.spec.ts
  cypress/integration/functional/balances/convert/convert_account_to_utxos.spec.ts
  cypress/integration/functional/balances/convert/convert_utxos_to_account.spec.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
Labels: area/app, area/e2e, area/playground, area/ui-ux, kind/feature

#205 `DEX`: add liquidity + confirm page
  app/components/PrimaryButton.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  cypress/integration/functional/dex/add_liquidity.spec.ts
  cypress/integration/functional/dex/confirm_add_liq.spec.ts
Labels: area/app, area/e2e, area/ui-ux, kind/feature

#213 `Dex` - remove liquidity page
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  cypress/integration/functional/dex/remove_liquidity.spec.ts
  package-lock.json
  package.json
Labels: area/app, area/e2e, area/ui-ux, kind/feature

#270 Combined Unit + E2E Coverage
  .github/workflows/ci.yml
  .gitignore
  .idea/wallet.iml
  README.md
  babel.config.js
  cypress.json
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  jest.config.js
  package-lock.json
  package.json
Labels: area/e2e, area/workflow, kind/chore

#267 `Dex` - swap page API integration
  app/components/PrimaryButton.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.test.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/__snapshots__/PoolSwapScreen.test.tsx.snap
  cypress/integration/functional/balances/balances.spec.ts
  cypress/integration/functional/dex/remove_liquidity.spec.ts
  cypress/integration/functional/dex/swap.spec.ts
Labels: area/e2e, area/ui-ux, kind/feature

#252 `OceanInterface` to display ongoing network calls/transactions and `send` api
  app/components/OceanInterface/OceanInterface.test.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
  app/contexts/NetworkContext.tsx
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/Main.web.tsx
  app/store/index.ts
  app/store/ocean.test.ts
  app/store/ocean.ts
  cypress/integration/functional/dex/remove_liquidity.spec.ts
Labels: area/contexts, area/e2e, area/store, area/ui-ux, kind/feature

#275 icons update
  app/assets/images/adaptive-icon.png
  app/assets/images/favicon.png
  app/assets/images/icon.png
  app/assets/images/splash.png
Labels: area/assets, kind/feature

#277 check no pending ocean job
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/store/ocean.ts
Labels: area/store, area/ui-ux, kind/feature

#278 added `ocean interface` to DEX, Add/Remove Liq and Convert
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress/integration/functional/balances/convert/convert.spec.ts
Labels: area/e2e, area/ui-ux, kind/feature

#279 hide QR code while screen not ready yet
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
Labels: area/ui-ux, kind/fix

#281 Removed prerelease from release drafter
  .github/release-drafter.yml
Labels: area/workflow, kind/chore

#283 temporary disable MainNet for release build
  app/__snapshots__/environment.test.ts.snap
  app/environment.ts
Labels: kind/chore

#282 `beta testing document`
  .github/images/beta_testing/playground.jpg
  .github/images/beta_testing/settings.jpg
  BETA_TESTING.md
Labels: area/workflow, kind/docs

#288 Update Beta Testing guide
  BETA_TESTING.md
Labels: kind/docs

#280 ocean interface store action improvement
  app/components/OceanInterface/OceanInterface.test.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/store/ocean.test.ts
  app/store/ocean.ts
Labels: area/store, area/ui-ux, kind/feature

#292 Fixed switching to MainNet
  app/__snapshots__/environment.test.ts.snap
  app/contexts/PlaygroundContext.tsx
  app/contexts/WalletManagementContext.tsx
  app/environment.ts
  app/screens/Main.web.tsx
  package.json
Labels: area/contexts, area/ui-ux, kind/fix

#293 Reduce api, contexts and hooks CODEOWNERS to just @fuxingloh
  .github/CODEOWNERS
Labels: area/workflow, kind/chore

#294 updated app icons and re-order network in Production
  app/__snapshots__/environment.test.ts.snap
  app/assets/images/adaptive-icon.png
  app/assets/images/icon.png
  app/components/icons/AppIcon.tsx
  app/components/icons/tokens/__snapshots__/_index.test.tsx.snap
  app/environment.ts
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/ErrorBoundary/__snapshots__/ErrorBoundary.test.tsx.snap
Labels: area/assets, area/ui-ux, kind/chore

#295 ui fixes
  app/components/OceanInterface/OceanInterface.tsx
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
  app/components/SectionTitle.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
Labels: area/ui-ux, kind/fix

#297 updated `expo-packager` to `packager`
  .github/workflows/expo-dependencies.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  .github/workflows/release-publish.yml
Labels: area/workflow, kind/fix

#300 Bump defichain dependencies & docker-compose.yml
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#308 design label
  .github/governance.yml
  .github/labels.yml
Labels: area/workflow, kind/chore

#317 Mapped remaining CODEOWNERS to @thedoublejay
  .github/CODEOWNERS
  .idea/dictionaries/fuxing.xml
Labels: area/workflow, kind/chore

#309 add qr scanner as a standalone page in balancestacknav
  app/components/BarCodeScanner.tsx
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  package-lock.json
  package.json
Labels: area/ui-ux, kind/feature

#310 `custom tailwind` - added custom colors
  app/components/BarCodeScanner.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
  app/components/PrimaryButton.tsx
  app/components/SectionTitle.tsx
  app/components/__snapshots__/PrimaryButton.test.tsx.snap
  app/constants/Theme.ts
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  app/screens/ErrorBoundary/ErrorBoundary.tsx
  app/screens/LoadingNavigator/LoadingScreen.tsx
  app/screens/Main.web.tsx
  app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  app/screens/PlaygroundNavigator/components/PlaygroundAction.tsx
  app/screens/PlaygroundNavigator/components/PlaygroundStatus.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicCreate.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicCreateVerify.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicRestore.tsx
  app/screens/WalletNavigator/screens/WalletOnboarding.tsx
  app/styles.json
  app/tailwind.config.js
  app/tailwind.js
  package-lock.json
  package.json
Labels: area/playground, area/ui-ux, kind/chore

#327 update favicon
  app/assets/images/favicon.png
Labels: area/assets, kind/chore

#325 added fonts on tailwind
  app/components/BarCodeScanner.tsx
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
  app/components/SectionTitle.tsx
  app/components/Text.tsx
  app/components/index.tsx
  app/hooks/useCachedResources.ts
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Transactions/TransactionsNavigator.tsx
  app/screens/ErrorBoundary/__snapshots__/ErrorBoundary.test.tsx.snap
  app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  app/screens/PlaygroundNavigator/components/PlaygroundAction.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/tailwind.js
  package-lock.json
  package.json
Labels: area/hooks, area/playground, area/ui-ux, kind/chore

#326 expo updates
  package-lock.json
  package.json
Labels: kind/chore

#332 Small `app/api/wallet` refactoring
  app/api/wallet/__snapshots__/network.test.ts.snap
  app/api/wallet/index.test.ts
  app/api/wallet/index.ts
  app/api/wallet/mnemonic.test.ts
  app/api/wallet/mnemonic.ts
  app/api/wallet/network.test.ts
  app/api/wallet/network.ts
  app/api/wallet/persistence.ts
  app/api/wallet/provider/index.test.ts
  app/api/wallet/provider/index.ts
  app/api/wallet/provider/mnemonic_unprotected.test.ts
  app/api/wallet/provider/mnemonic_unprotected.ts
  app/contexts/WalletContext.tsx
  app/contexts/WalletManagementContext.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicCreateVerify.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicRestore.tsx
  app/screens/WalletNavigator/screens/WalletOnboarding.tsx
Labels: area/api, area/contexts, area/playground, area/ui-ux, kind/refactor

#337 Refactor WalletPersistence to use Platform Agnostic Storage Provider
  README.md
  __mocks__/expo-secure-store.ts
  app/api/index.ts
  app/api/storage.test.ts
  app/api/storage.ts
  app/api/storage/index.test.ts
  app/api/storage/index.ts
  app/api/storage/provider/index.ts
  app/api/storage/provider/provider.native.ts
  app/api/storage/provider/provider.ts
  app/api/wallet/persistence.test.ts
  app/api/wallet/persistence.ts
  app/components/OceanInterface/OceanInterface.test.tsx
  app/contexts/NetworkContext.tsx
  app/contexts/PlaygroundContext.tsx
  app/contexts/WalletManagementContext.tsx
  package-lock.json
  package.json
Labels: area/api, area/contexts, area/ui-ux, kind/refactor

#338 Reduced CODEOWNERS complexity for /app directory
  .github/CODEOWNERS
Labels: area/workflow, kind/chore

#342 fixes from secure store
  BETA_TESTING.md
  __mocks__/expo-secure-store.ts
  app/__snapshots__/environment.test.ts.snap
  app/api/storage/index.test.ts
  app/api/storage/provider/provider.native.ts
  app/api/wallet/persistence.test.ts
  app/environment.ts
Labels: area/api, kind/fix

#343 Updated <Button> Component
  app/components/Button.test.tsx
  app/components/Button.tsx
  app/components/PrimaryButton.test.tsx
  app/components/PrimaryButton.tsx
  app/components/__snapshots__/Button.test.tsx.snap
  app/components/__snapshots__/PrimaryButton.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: area/ui-ux, kind/feature

#331 added missing e2e tests
  app/components/BarCodeScanner.test.tsx
  app/components/__snapshots__/BarCodeScanner.test.tsx.snap
  app/hooks/useColorScheme.test.ts
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/Main.test.tsx
  app/screens/__snapshots__/Main.test.tsx.snap
  cypress/integration/functional/balances/balances.spec.ts
  cypress/integration/functional/balances/send.spec.ts
  cypress/integration/functional/dex/add_liquidity.spec.ts
  cypress/integration/functional/dex/available_pool_pairs.spec.ts
  cypress/integration/functional/dex/confirm_add_liq.spec.ts
  cypress/integration/functional/dex/poolswap.spec.ts
  cypress/integration/functional/dex/remove_liquidity.spec.ts
  cypress/integration/functional/dex/swap.spec.ts
  cypress/integration/functional/settings.spec.ts
Labels: area/e2e, area/hooks, area/ui-ux, kind/chore

#344 `onboarding` - welcome page
  app/assets/images/onboarding/a.png
  app/assets/images/onboarding/b.png
  app/assets/images/onboarding/c.png
  app/components/Button.tsx
  app/components/__snapshots__/Button.test.tsx.snap
  app/components/icons/AppIcon.tsx
  app/index.d.ts
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicCreate.tsx
  app/screens/WalletNavigator/screens/WalletOnboarding.tsx
  app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
  cypress/integration/functional/onboarding/onboarding.spec.ts
  cypress/integration/functional/settings.spec.ts
  package-lock.json
  package.json
Labels: area/assets, area/e2e, area/ui-ux, kind/feature

#333 ocean interface provide wallet context to sign
  app/components/OceanInterface/OceanInterface.test.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/WalletNavigator/screens/.WalletMnemonicCreate.tsx.swp
  app/store/ocean.test.ts
  app/store/ocean.ts
Labels: area/store, area/ui-ux, kind/refactor

#350 `onboarding` - create wallet guidelines
  app/assets/images/splash.png
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/.WalletMnemonicCreate.tsx.swp
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.test.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.tsx
  app/screens/WalletNavigator/screens/CreateWallet/GuidelinesRecoveryWords.test.tsx
  app/screens/WalletNavigator/screens/CreateWallet/GuidelinesRecoveryWords.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
  app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/GuidelinesRecoveryWords.test.tsx.snap
  app/screens/WalletNavigator/screens/WalletOnboarding.tsx
  cypress/integration/functional/onboarding/onboarding.spec.ts
Labels: area/assets, area/e2e, area/ui-ux, kind/feature

#356 `onboarding` - recover wallet flow
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/Onboarding.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/WalletMnemonicRestore.tsx
  cypress/integration/functional/onboarding/onboarding.spec.ts
  cypress/integration/functional/onboarding/restore.spec.ts
  package-lock.json
  package.json
Labels: area/e2e, area/ui-ux, kind/feature

#360 `DEX` - UI Updates
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  cypress/integration/functional/dex/poolswap.spec.ts
Labels: area/e2e, area/ui-ux, kind/feature

#359 `settings` - UI updates
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  cypress/integration/functional/settings.spec.ts
Labels: area/e2e, area/ui-ux, kind/feature

#362 fixed setting spec
  cypress/integration/functional/settings.spec.ts
Labels: area/e2e, kind/chore

#352 `empty states` - transaction page
  app/components/icons/AppIcon.tsx
  app/components/icons/tokens/__snapshots__/_index.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Transactions/EmptyTransaction.test.tsx
  app/screens/AppNavigator/screens/Transactions/EmptyTransaction.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/__snapshots__/EmptyTransaction.test.tsx.snap
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/stateProcessor.ts
  app/screens/ErrorBoundary/__snapshots__/ErrorBoundary.test.tsx.snap
  cypress/integration/functional/transaction/list.spec.ts
  cypress/integration/functional/transaction/list_empty.spec.ts
Labels: area/e2e, area/transactions, area/ui-ux, kind/feature

#365 `convert` - tokens vs UTXO screen
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokensVsUtxoScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokensVsUtxoScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokensVsUtxoScreen.test.tsx.snap
  cypress/integration/functional/balances/convert/convert_account_to_utxos.spec.ts
  cypress/integration/functional/balances/convert/convert_utxos_to_account.spec.ts
Labels: area/e2e, area/ui-ux, kind/feature
