Repository BirthdayResearch/defichain-wallet, pull requests merged in 2021-08, with the labels that each got.

#374 `#351` - rename duplicated `WalletParamList`
  app/screens/AppNavigator/AppNavigator.tsx
Labels: area/ui-ux, kind/fix

#372 `#351` - tailwind.config.js maxWidth with ci.yml drift detection
  .github/workflows/drift.yml
  app/styles.json
  app/tailwind.config.js
  app/tailwind.ts
Labels: area/workflow, kind/chore

#371 disable testnet as ocean deployment is not available yet
  app/__snapshots__/environment.test.ts.snap
  app/environment.ts
Labels: kind/chore

#379 fixed wrong `whale-api-client` imports due to `whale:0.7.0` upgrade
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: area/ui-ux, kind/chore

#373 `#351` - translations to allow `Hello {{name}}`.
  .github/workflows/translations-reporter.yml
  .gitignore
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/translations/index.ts
  app/translations/languages/de.json
  app/translations/languages/de.ts
  app/translations/languages/index.ts
  app/translations/languages/zh-Hans.json
  app/translations/languages/zh-Hans.ts
  app/translations/languages/zh-Hant.json
  app/translations/languages/zh-Hant.ts
  app/translations/reporter/index.test.ts
  app/translations/reporter/index.ts
  package-lock.json
  package.json
Labels: area/translations, area/ui-ux, area/workflow, kind/fix

#380 `#351` - `WalletProvider` refactor to move init logic into `contexts/*.tsx`
  App.tsx
  app/api/index.ts
  app/api/wallet/index.test.ts
  app/api/wallet/index.ts
  app/api/wallet/passcode_attempt.ts
  app/api/wallet/persistence.ts
  app/api/wallet/provider/index.ts
  app/api/wallet/provider/mnemonic_encrypted.ts
  app/contexts/WalletContext.tsx
  app/contexts/WalletManagementContext.tsx
  app/contexts/WalletPersistenceContext.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/RootNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
  app/store/wallet.ts
  package-lock.json
  package.json
Labels: area/api, area/contexts, area/playground, area/store, area/ui-ux, kind/refactor

#369 Add `@testing-library/cypress/add-commands` for better Cypress Testing QOL
  cypress/support/commands.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
Labels: area/e2e, kind/feature

#384 `wallet` - UI fixes
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  cypress/integration/functional/dex/remove_liquidity.spec.ts
Labels: area/e2e, area/ui-ux, kind/fix

#381 `onboarding` - create and verify step
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
Labels: area/e2e, area/ui-ux, kind/feature

#383 bump expo dependencies
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: area/workflow, kind/chore

#390 remove useNav in context provider, fix crash
  app/contexts/WalletContext.tsx
Labels: area/contexts, kind/fix

#393 `about` - main page
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  cypress/integration/functional/settings.spec.ts
Labels: area/e2e, area/ui-ux, kind/feature

#391 `wallet` - UI fixes
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
  cypress/integration/functional/balances/convert/convert_account_to_utxos.spec.ts
  cypress/integration/functional/balances/convert/convert_utxos_to_account.spec.ts
Labels: area/e2e, area/ui-ux, kind/fix

#397 `defichain-dependencies.yml` to bump jellyfish/whale/playground individually
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#401 Fixed `defichain-dependencies.yml` jellyfish workflow to only bump jellyfish
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#396 50% / max buttons for input fields
  app/components/SetAmountButton.test.tsx
  app/components/SetAmountButton.tsx
  app/components/__snapshots__/SetAmountButton.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress/integration/functional/balances/convert/convert.spec.ts
  cypress/integration/functional/balances/convert/convert_account_to_utxos.spec.ts
  cypress/integration/functional/balances/convert/convert_utxos_to_account.spec.ts
  cypress/integration/functional/balances/send.spec.ts
  cypress/integration/functional/dex/add_liquidity.spec.ts
  cypress/integration/functional/dex/poolswap.spec.ts
  cypress/support/commands.ts
Labels: area/e2e, area/ui-ux, kind/feature

#395 `ocean interface` - wait for transaction confirmation
  app/components/OceanInterface/OceanInterface.test.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  cypress/integration/functional/balances/convert/convert.spec.ts
  cypress/integration/functional/balances/send.spec.ts
  cypress/integration/functional/dex/poolswap.spec.ts
  cypress/integration/functional/dex/remove_liquidity.spec.ts
  cypress/support/commands.ts
Labels: area/e2e, area/ui-ux, kind/feature

#411 wallet address context
  app/components/OceanInterface/OceanInterface.test.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/contexts/WalletAddressContext.tsx
  app/hooks/wallet/TokensAPI.ts
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/RootNavigator.tsx
  app/store/wallet.test.ts
  app/store/wallet.ts
Labels: area/contexts, area/hooks, area/playground, area/store, area/ui-ux, kind/refactor

#409 update balances on every transaction
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: area/ui-ux, kind/feature

#403 `Encrypted Wallet` - onboard + transaction authorization
  app/api/wallet/provider/mnemonic_encrypted.ts
  app/components/Button.tsx
  app/components/CreateWalletStepIndicator.tsx
  app/components/OceanInterface/OceanInterface.test.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
  app/components/PinTextInput.tsx
  app/components/SetAmountButton.test.tsx
  app/components/SetAmountButton.tsx
  app/contexts/WalletContext.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/RootNavigator.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmationScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinCreationScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  app/store/index.ts
  app/store/ocean.ts
  app/store/transaction_queue.ts
  cypress/integration/functional/dex/remove_liquidity.spec.ts
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
Labels: area/api, area/contexts, area/e2e, area/playground, area/store, area/ui-ux, kind/feature

#404 `explorer` URL handling
  App.tsx
  app/components/OceanInterface/OceanInterface.test.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
  app/contexts/DeFiScanContext.tsx
  app/contexts/WalletContext.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  app/screens/TransactionAuthorization.tsx
Labels: area/contexts, area/ui-ux, kind/feature

#419 `transactions` - display medianTime for transactions
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/stateProcessor.ts
  package-lock.json
  package.json
Labels: area/ui-ux, kind/feature

#420 `Encrypted Wallet` - restore
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinCreation.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
  cypress/integration/functional/onboarding/restore.spec.ts
Labels: area/e2e, area/ui-ux, kind/feature

#431 Bump docker-compose.yml
  cypress/integration/functional/dex/available_pool_pairs.spec.ts
  docker-compose.yml
Labels: area/e2e, kind/dependencies

#432 Add `USDC` support for light wallet
  app/components/icons/tokens/IconUSDC.tsx
  app/components/icons/tokens/__snapshots__/_index.test.tsx.snap
  app/components/icons/tokens/_index.test.tsx
  app/components/icons/tokens/_index.ts
Labels: area/ui-ux, kind/feature

#426 `restore` - pin setup
  app/components/CreateWalletStepIndicator.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/contexts/DeFiScanContext.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmationScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinCreationScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
  cypress/integration/functional/onboarding/restore.spec.ts
Labels: area/contexts, area/e2e, area/ui-ux, kind/feature

#436 fix height issue in navigator
  app/screens/TransactionAuthorization.tsx
Labels: area/ui-ux, kind/fix

#433 factor in slippage for poolswap calculation
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress/integration/functional/dex/poolswap.spec.ts
Labels: area/e2e, area/ui-ux, kind/fix

#445 Typo edits
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.test.tsx
  app/screens/TransactionAuthorization.tsx
  app/store/wallet.test.ts
  app/store/wallet.ts
Labels: kind/fix, area/ui-ux, area/store

#442 bump packages
  package-lock.json
Labels: kind/feature

#453 refactor global `/store.ts` usage
  App.tsx
  app/contexts/WalletContext.tsx
  app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  app/screens/RootNavigator.tsx
  app/store/index.ts
Labels: kind/refactor, area/playground, area/ui-ux, area/store, area/contexts

#452 `restore` - type assist
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
Labels: kind/fix, area/ui-ux

#454 auto focus on passcode fields
  app/components/PinTextInput.tsx
Labels: kind/fix, area/ui-ux

#455 `onboarding steppers` - proper case
  app/components/CreateWalletStepIndicator.tsx
Labels: kind/fix, area/ui-ux

#456 `Scrypt Difficulty` - reduce encrypt/decrypt time
  app/api/wallet/provider/mnemonic_encrypted.ts
Labels: kind/feature, area/api

#435 `Settings` - reveal mnemonic words require pin or LocalAuthentication
  app/api/wallet/biometric_protected_passcode.ts
  app/api/wallet/mnemonic_words.ts
  app/api/wallet/provider/mnemonic_encrypted.ts
  app/components/OceanInterface/OceanInterface.tsx
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
  app/components/icons/FaceIdIcon.tsx
  app/components/icons/TouchIdIcon.tsx
  app/components/index.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/RecoveryWordsScreen.test.tsx
  app/screens/AppNavigator/screens/Settings/screens/RecoveryWordsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/RecoveryWordsScreen.test.tsx.snap
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.tsx
  app/screens/WalletNavigator/screens/CreateWallet/EnrollBiometric.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinCreation.tsx
  app/store/authentication.ts
  app/store/index.ts
  app/store/ocean.test.ts
  app/store/transaction.ts
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
  cypress/integration/functional/settings.spec.ts
  package-lock.json
  package.json
Labels: kind/feature, area/playground, area/e2e, area/ui-ux, area/store, area/api

#451 `global state` - when switching to Mainnet, global state is persisted
  App.tsx
  app/contexts/WalletContext.tsx
  app/contexts/WalletStoreProvider.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  app/store/index.ts
Labels: kind/fix, area/playground, area/ui-ux, area/store, area/contexts

#457 stepper's description misalignment
  app/components/CreateWalletStepIndicator.tsx
Labels: kind/fix, area/ui-ux

#461 `e2e` - improve tests
  app/components/LoadingScreen.test.tsx
  app/components/LoadingScreen.tsx
  app/components/__snapshots__/LoadingScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/AboutScreen.test.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  app/screens/LoadingNavigator/LoadingNavigator.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/screens/CreateWallet/EnrollBiometric.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
  app/store/block.test.ts
  app/store/block.ts
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
  cypress/integration/functional/onboarding/onboarding.spec.ts
  cypress/integration/functional/onboarding/restore.spec.ts
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/balances/balances.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert_account_to_utxos.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert_utxos_to_account.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  cypress/integration/functional/wallet/dex/confirm_add_liq.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  cypress/integration/functional/wallet/settings/community.spec.ts
  cypress/integration/functional/wallet/settings/settings.spec.ts
  cypress/integration/functional/wallet/transaction/detail.spec.ts
  cypress/integration/functional/wallet/transaction/list.spec.ts
  cypress/integration/functional/wallet/transaction/list_empty.spec.ts
  cypress/support/commands.ts
  cypress/tsconfig.json
Labels: kind/refactor, area/e2e, area/ui-ux, area/store

#474 Bump whale:0.8.6 in docker-compose.yml
  docker-compose.yml
Labels: kind/dependencies

#482 updated `enviroment.ts` `Network` availability
  app/__snapshots__/environment.test.ts.snap
  app/api/storage/index.test.ts
  app/environment.ts
Labels: kind/refactor, area/api

#481 refactor out `Abandon23Playground` from wallet_provider
  app/api/wallet/provider/mnemonic_encrypted.ts
  app/api/wallet/provider/mnemonic_unprotected.test.ts
  app/api/wallet/provider/mnemonic_unprotected.ts
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
Labels: kind/refactor, area/playground, area/ui-ux, area/api

#487 enabled TestNet on `environments.Production`
  app/__snapshots__/environment.test.ts.snap
  app/environment.ts
Labels: kind/chore

#366 e2e Test - `receive`
  cypress/integration/functional/wallet/balances/receive.spec.ts
Labels: kind/chore, area/e2e

#488 `e2e` - expanded tests
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/PlaygroundNavigator/components/PlaygroundStatus.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/TransactionAuthorization.tsx
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
  cypress/integration/smoke/smoke.spec.ts
  cypress/support/commands.ts
  cypress/support/onboardingCommands.ts
  cypress/support/walletCommands.ts
  package.json
Labels: kind/chore, area/playground, area/e2e, area/ui-ux

#490 `DEX` - APR and `Header` - Network with Connected state
  app/components/HeaderTitle.tsx
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsNavigator.tsx
  app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/store/block.test.ts
  app/store/block.ts
  cypress/integration/functional/wallet/balances/receive.spec.ts
  cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  cypress/integration/smoke/smoke.spec.ts
  cypress/support/walletCommands.ts
Labels: kind/feature, area/playground, area/e2e, area/ui-ux, area/store

#484 refactor & fixes for `Network` & `Wallet` issues, `DEX` - APR, `Header` - Network
  .idea/dictionaries/fuxing.xml
  App.tsx
  app/components/HeaderTitle.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/contexts/NetworkContext.tsx
  app/contexts/PlaygroundContext.tsx
  app/contexts/WalletAddressContext.tsx
  app/contexts/WalletContext.tsx
  app/contexts/WalletStoreProvider.tsx
  app/hooks/wallet/TokensAPI.ts
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsNavigator.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/Main.web.tsx
  app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  app/screens/PlaygroundNavigator/components/PlaygroundAction.tsx
  app/screens/PlaygroundNavigator/components/PlaygroundStatus.tsx
  app/screens/PlaygroundNavigator/components/PlaygroundTitle.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/store/block.test.ts
  app/store/block.ts
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
  cypress/integration/functional/wallet/balances/receive.spec.ts
  cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  cypress/integration/smoke/smoke.spec.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/support/onboardingCommands.ts
  cypress/support/walletCommands.ts
  package.json
Labels: kind/refactor, area/playground, area/e2e, area/ui-ux, area/store, area/hooks, area/contexts

#491 bump expo packages
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: kind/chore, area/workflow

#498 update eas.json
  eas.json
Labels: kind/chore

#500 Updated eas.json
  eas.json
  metro.config.js
  package-lock.json
  package.json
Labels: kind/chore

#501 ConnectionStatus to use different interval, 3000 for playground, 30000 for main/test
  app/components/HeaderTitle.tsx
Labels: kind/chore, area/ui-ux

#502 Added eas-cli into devDeps; so it can be tracked by dependabot
  package-lock.json
  package.json
Labels: kind/chore

#503 Add background color to SectionLabel
  app/components/SectionTitle.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
Labels: kind/feature, area/ui-ux

#504 `liquidity` - right-align price
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
Labels: kind/fix, area/ui-ux

#505 ui fixes
  app/__snapshots__/environment.test.ts.snap
  app/components/HeaderTitle.tsx
  app/environment.ts
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
Labels: kind/fix, area/ui-ux

#507 ui fixes, add defiscan link
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
Labels: kind/feature, area/ui-ux

#508 Overflow Estimated to Receive and Txid
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
Labels: kind/fix, area/ui-ux

#514 Update app name to `DeFiChain Wallet`
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-enhancement.md
  .github/ISSUE_TEMPLATE/3-general.md
  .github/ISSUE_TEMPLATE/4-ui-ux-improvements.md
  .github/ISSUE_TEMPLATE/5-translation-improvements.md
  .github/workflows/expo-preview.yml
  BETA_TESTING.md
  CONTRIBUTING.md
  LICENSE
  README.md
  app.json
  app/screens/WalletNavigator/screens/CreateWallet/EnrollBiometric.tsx
  app/store/index.ts
  app/translations/index.ts
Labels: kind/feature, area/workflow, area/translations, area/ui-ux, area/store

#512 add polling based on blocks
  App.tsx
  app/components/HeaderTitle.tsx
  app/contexts/StatsContext.tsx
  app/hooks/wallet/PoolPairsAPI.ts
  app/hooks/wallet/TokensAPI.ts
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  app/store/wallet.test.ts
  app/store/wallet.ts
  cypress/integration/functional/wallet/balances/balances.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert_account_to_utxos.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert_utxos_to_account.spec.ts
  cypress/integration/functional/wallet/balances/receive.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/confirm_add_liq.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  cypress/integration/functional/wallet/transaction/detail.spec.ts
  cypress/integration/smoke/smoke.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux, area/store, area/hooks, area/contexts

#515 `e2e` - Poolpair Rewards, update tests, removed unused files
  App.tsx
  app/api/wallet/passcode_attempt.ts
  app/components/OceanInterface/OceanInterface.test.tsx
  app/components/OceanInterface/__snapshots__/OceanInterface.test.tsx.snap
  app/components/icons/tokens/__snapshots__/_index.test.tsx.snap
  app/components/icons/tokens/_index.test.tsx
  app/contexts/StatsProvider.tsx
  app/environment.test.ts
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Transactions/EmptyTransaction.test.tsx
  app/screens/AppNavigator/screens/Transactions/__snapshots__/EmptyTransaction.test.tsx.snap
  app/screens/AppNavigator/screens/Transactions/screens/reducer.ts
  app/store/transaction.ts
  app/store/transaction_queue.test.ts
  cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/support/onboardingCommands.ts
Labels: kind/chore, area/e2e, area/ui-ux, area/store, area/api, area/contexts

#526 `transaction ui` - fixes
  app/api/wallet/passcode_attempt.ts
  app/components/OceanInterface/OceanInterface.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/TransactionAuthorization.tsx
  app/store/authentication.ts
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
Labels: kind/fix, area/e2e, area/ui-ux, area/store, area/api

#506 Add explicit label for Token DFI
  app/components/InputIconLabel.test.tsx
  app/components/InputIconLabel.tsx
  app/components/__snapshots__/InputIconLabel.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: kind/fix, area/ui-ux

#531 `send` - overflow long addresses in recipient address field
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
Labels: kind/fix, area/ui-ux

#458 `Settings` - change passcode
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ChangePinScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinCreation.tsx
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/settings/changePasscode.spec.ts
  cypress/support/commands.ts
Labels: kind/feature, area/e2e, area/ui-ux

#528 `balance` - add receive and share button on balances header
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  cypress/integration/functional/wallet/balances/balances.spec.ts
  cypress/integration/functional/wallet/balances/receive.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux

#533 Fix unable to resolve dftx signing promise
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/TransactionAuthorization.tsx
  app/store/transaction_queue.ts
Labels: kind/fix, area/ui-ux, area/store

#537 `copy` - alignment fix
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: kind/fix, area/ui-ux

#543 workflow updates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/6-e2e-improvements.md
  .github/labels.yml
  .github/workflows/drift.yml
  .github/workflows/expo-preview.yml
  .idea/dictionaries/fuxing.xml
Labels: kind/chore, area/workflow

#547 pin input updates
  app/components/PinTextInput.tsx
Labels: kind/fix, area/ui-ux

#535 added fixed version for mainnet and testnet in WhaleApiClient
  .github/CODEOWNERS
  app/contexts/WhaleContext.tsx
  cypress/integration/smoke/smoke.spec.ts
  package-lock.json
  package.json
Labels: kind/dependencies, area/workflow, area/e2e, area/contexts

#545 Add `rawtx` in getTransactionUrl for DeFiScanProvider
  app/components/OceanInterface/OceanInterface.tsx
  app/contexts/DeFiScanContext.tsx
Labels: kind/feature, area/ui-ux, area/contexts

#546 Fix unable to sign tx
  app/screens/TransactionAuthorization.tsx
Labels: kind/fix, area/ui-ux

#569 update convert screen and ui fixes
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert_account_to_utxos.spec.ts
  cypress/integration/functional/wallet/balances/convert/convert_utxos_to_account.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
Labels: kind/fix, area/e2e, area/ui-ux

#571 `pop to top` - after every successful broadcast
  app/components/OceanInterface/OceanInterface.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/TransactionAuthorization.tsx
  app/store/ocean.ts
  app/store/transaction_queue.ts
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux, area/store

#570 Refactor `App.tsx` contexts and provider
  App.tsx
  app/components/PinTextInput.tsx
  app/contexts/DeFiScanContext.tsx
  app/contexts/NetworkContext.tsx
  app/contexts/PlaygroundContext.tsx
  app/contexts/StatsProvider.tsx
  app/contexts/WalletPersistenceContext.tsx
  app/contexts/WalletStoreProvider.tsx
  app/screens/ErrorBoundary/ErrorBoundary.test.tsx
  app/store/index.ts
Labels: kind/refactor, area/ui-ux, area/store, area/contexts

#574 Cache pin for single task
  app/screens/TransactionAuthorization.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Labels: kind/fix, area/e2e, area/ui-ux

#576 refactor `<PlaygroundProvider/>` not be part of `<Main/>` hierarchy
  App.tsx
  app/contexts/StoreProvider.tsx
  app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
Labels: kind/refactor, area/playground, area/ui-ux, area/contexts

#580 refactor all wallet concerns into `<WalletContext>`
  app/api/wallet/index.test.ts
  app/api/wallet/index.ts
  app/components/OceanInterface/OceanInterface.tsx
  app/contexts/WalletAddressContext.tsx
  app/contexts/WalletContext.tsx
  app/hooks/wallet/PoolPairsAPI.ts
  app/hooks/wallet/TokensAPI.ts
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  app/screens/RootNavigator.tsx
  app/screens/TransactionAuthorization.tsx
Labels: kind/refactor, area/playground, area/ui-ux, area/api, area/hooks, area/contexts

#577 fix for swap price
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: kind/fix, area/ui-ux

#582 Added `<HeaderTitle>` padding on iOS as it's hugging too close to border
  app/components/HeaderTitle.tsx
Labels: kind/chore, area/ui-ux

#585 decimal changes and ui fixes
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress/integration/functional/wallet/dex/confirm_add_liq.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  cypress/integration/smoke/smoke.spec.ts
Labels: kind/fix, area/e2e, area/ui-ux

#587 add -rpcworkqueue=512 to docker-compose.yml
  docker-compose.yml
Labels: kind/fix

#589 separate e2e in `ci.yml` into `ci-e2e.yml` with 6 parallel container
  .github/dependabot.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Labels: kind/chore, area/workflow

#586 refactor common components for confirm page
  app/components/ConfirmComponents/index.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Labels: kind/refactor, area/e2e, area/ui-ux

#591 `ci-e2e.yml`: removed on merge: [ main ] and instead to run on cron daily
  .github/workflows/ci-e2e.yml
Labels: kind/chore, area/workflow

#593 add fix for numeric keyboard
  app/components/NumberTextInput.test.tsx
  app/components/NumberTextInput.tsx
  app/components/__snapshots__/NumberTextInput.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: kind/fix, area/ui-ux

#584 update react navigation 6
  app/screens/AppNavigator/AppNavigator.tsx
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ChangePinScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinCreation.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/Onboarding.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  package-lock.json
  package.json
Labels: kind/chore, area/playground, area/e2e, area/ui-ux

#594 `ci-e2e.yml` to setup container and install npm concurrently
  .github/workflows/ci-drift.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/expo-preview.yml
Labels: kind/chore, area/workflow

#599 add keyboard change only for iOS, fix for incorrect add LP price
  app/components/NumberTextInput.test.tsx
  app/components/NumberTextInput.tsx
  app/components/__snapshots__/NumberTextInput.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
Labels: kind/fix, area/e2e, area/ui-ux

#596 Bump `playground:0.8.6` & `whale:0.8.9` in docker-compose.yml
  docker-compose.yml
Labels: kind/dependencies

#602 prevent wallet flicker
  app/contexts/WalletPersistenceContext.tsx
  app/screens/RootNavigator.tsx
Labels: kind/fix, area/ui-ux, area/contexts

#610 ci.yml and ci-e2e.yml to always run on push main and '0 1 * * *'
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Labels: kind/chore, area/workflow

#573 set to mainnet by default - to be merged before live
  app/__snapshots__/environment.test.ts.snap
  app/environment.test.ts
  app/environment.ts
Labels: kind/feature

#605 `dex` - display individual pooled
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
Labels: kind/feature, area/ui-ux

#601 prevent flicker on load of page, receive address selectable, route names update
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsNavigator.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  app/store/wallet.ts
Labels: kind/fix, area/ui-ux, area/store

#611 `ocean interface` - incorrect size on change passcode
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/store/ocean.test.ts
  app/store/ocean.ts
Labels: kind/fix, area/ui-ux, area/store

#614 refactor to `npm run lint` instead of `npm run standard`
  .eslintrc
  .github/workflows/ci.yml
  package.json
Labels: kind/refactor, area/workflow

#613 refactor mnemonic generation into `MnemonicUnprotected.generateWords`
  __mocks__/expo-random.ts
  app/api/wallet/provider/mnemonic_unprotected.test.ts
  app/api/wallet/provider/mnemonic_unprotected.ts
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
Labels: kind/refactor, area/playground, area/ui-ux, area/api

#615 Bump @defichain/playground dependencies from 0.8.5 to 0.8.6
  cypress/support/commands.ts
  package-lock.json
  package.json
Labels: kind/dependencies, area/e2e

#606 `remove liquidity` - confirm page
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux

#616 update third splash image
  app/assets/images/onboarding/c.png
Labels: kind/chore, area/assets

#612 `restore` - add warning popup when exiting a filled form
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
Labels: kind/feature, area/ui-ux

#619 network switch warning
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/components/RowNetworkItem.tsx
Labels: kind/feature, area/ui-ux

#621 refactor to `mnemonic_storage.ts` to use `entropyAsMnemonic` & `mnemonicAsEntropy`
  app/api/wallet/mnemonic_storage.ts
  app/api/wallet/mnemonic_words.ts
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/EnrollBiometric.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
Labels: kind/refactor, area/playground, area/ui-ux, area/api

#622 `add liquidity` - confirm
  app/components/ConfirmComponents/index.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/confirm_add_liq.spec.ts
Labels: kind/refactor, area/e2e, area/ui-ux

#624 Added `WalletNodeContext` so that `TransactionAuthorization` doesn't use Persistence layer
  app/contexts/WalletContext.tsx
  app/contexts/WalletNodeProvider.tsx
  app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  app/screens/RootNavigator.tsx
  app/screens/TransactionAuthorization.tsx
Labels: kind/refactor, area/playground, area/ui-ux, area/contexts

#623 Remove biometric implementation
  app/api/wallet/biometric_protected_passcode.ts
  app/components/icons/FaceIdIcon.tsx
  app/components/icons/TouchIdIcon.tsx
  app/components/icons/tokens/__snapshots__/_index.test.tsx.snap
  app/components/icons/tokens/_index.test.tsx
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/EnrollBiometric.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
Labels: kind/chore, area/ui-ux, area/api

#625 fix for poolswap
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Labels: kind/fix, area/e2e, area/ui-ux

#617 remove WalletContext - TransactionAuthorization UI bridging
  app/contexts/WalletContext.tsx
  app/contexts/WalletNodeProvider.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  app/screens/RootNavigator.tsx
  app/screens/TransactionAuthorization.tsx
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Labels: kind/refactor, area/playground, area/e2e, area/ui-ux, area/contexts

#627 `Add Liquidity` - Share of Pool display, `DEX` Title update
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: kind/fix, area/ui-ux

#626 `Alert` - Handling on Native and Web
  app/components/WalletAlert.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/components/RowNetworkItem.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
  cypress/integration/functional/onboarding/onboarding.spec.ts
  cypress/integration/functional/onboarding/restore.spec.ts
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/settings/settings.spec.ts
  cypress/integration/smoke/smoke.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux

#628 Customizable `TransactionAuthorization` labels
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ChangePinScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/TransactionAuthorization.tsx
  app/store/authentication.ts
Labels: kind/feature, area/ui-ux, area/store

#634 Add copy "encrypting wallet this may take 20 seconds
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
Labels: kind/feature, area/ui-ux

#635 `slippage tolerance` - pool swap
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/components/SlippageTolerance.tsx
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux

#637 added `.imgbotconfig` to ignore cypress image snapshot
  .imgbotconfig
Labels: kind/chore

#630 `e2e` - updates tests
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/store/wallet.test.ts
  app/store/wallet.ts
  cypress-visual-screenshots/baseline/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  cypress-visual-screenshots/comparison/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  cypress.json
  cypress/integration/functional/wallet/balances/balances.spec.ts
  cypress/integration/functional/wallet/balances/receive.spec.ts
  cypress/integration/functional/wallet/components/oceanInterface.spec.ts
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  cypress/integration/functional/wallet/dex/confirm_add_liq.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  cypress/integration/functional/wallet/settings/changePasscode.spec.ts
  cypress/integration/smoke/smoke.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/walletCommands.ts
  package-lock.json
  package.json
Labels: kind/chore, area/e2e, area/ui-ux, area/store

#638 wait for all tx signed and broadcasted
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: kind/fix, area/ui-ux

#653 added github workflow concurrency to cancel in progress when new workflow is triggered
  .github/workflows/ci-drift.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/eas-publish.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  README.md
Labels: kind/chore, area/workflow

#655 fixed cypress plugin/index.ts
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/plugins/index.ts
Labels: kind/chore, area/e2e

#633 `remove liquidity` - add input text for percentage
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux

#658 add social media links on about page
  app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
  cypress/integration/functional/wallet/settings/community.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux

#659 adding @kyleleow to codeowners
  .github/CODEOWNERS
Labels: kind/chore, area/workflow

#656 `network` - update selection screen
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/components/RowNetworkItem.tsx
  app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.test.tsx
  app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  cypress/integration/functional/wallet/settings/settings.spec.ts
  cypress/integration/smoke/smoke.spec.ts
  cypress/support/commands.ts
Labels: kind/feature, area/e2e, area/ui-ux

#657 updated welcome page
  app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
Labels: kind/feature, area/ui-ux

#661 re-used common components
  app/components/ConfirmComponents/index.tsx
  app/components/NumberRow.tsx
  app/components/SubmitButtonGroup.tsx
  app/components/SummaryTitle.tsx
  app/components/TextRow.tsx
  app/components/TokenBalanceRow.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  cypress-visual-screenshots/comparison/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Labels: kind/refactor, area/e2e, area/ui-ux

#669 update copy
  app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.tsx
  app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
Labels: kind/chore, area/ui-ux

#664 bump expo packages
  app/components/OceanInterface/OceanInterface.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
  package-lock.json
  package.json
Labels: kind/chore, area/playground, area/ui-ux

#666 `dex` - add skeleton loader
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/screens/DexSkeletonLoader.tsx
  cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  package-lock.json
  package.json
Labels: kind/feature, area/e2e, area/ui-ux

#673 `offline` - add screen
  App.tsx
  app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
  app/screens/ConnectionBoundary/ConnectionBoundary.tsx
  cypress/integration/functional/network/connection.spec.ts
  cypress/integration/functional/wallet/settings/community.spec.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
Labels: kind/feature, area/e2e, area/ui-ux

#660 added `classnames` for a more delightful classname writing experience
  App.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/screens/AppNavigator/screens/Dex/screens/DexSkeletonLoader.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.test.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.tsx
  app/tailwind.ts
  package-lock.json
  package.json
Labels: kind/chore, area/ui-ux

#662 add links to app store/google play store readme
  .github/images/app_store.svg
  .github/images/play_store.svg
  README.md
Labels: kind/chore, area/workflow

#681 `offline` - fix flickering on cold start
  app/screens/ConnectionBoundary/ConnectionBoundary.test.tsx
  app/screens/ConnectionBoundary/ConnectionBoundary.tsx
  app/screens/ConnectionBoundary/__snapshots__/ConnectionBoundary.test.tsx.snap
  cypress/integration/functional/network/connection.spec.ts
  cypress/support/commands.ts
Labels: kind/feature, area/e2e, area/ui-ux

#684 Updated default token symbol to match light wallet (#672)
  app/components/icons/assets/_Default.tsx
Labels: kind/chore, area/ui-ux

#692 use different DfTx when max DFI sent
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  cypress/integration/functional/wallet/balances/send.spec.ts
Labels: kind/fix, area/e2e, area/ui-ux

#691 `transaction` - add skeleton loader
  app/components/SkeletonLoader.tsx
  app/components/skeletonLoaders/DexSkeletonLoader.tsx
  app/components/skeletonLoaders/TransactionSkeletonLoader.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/transaction/list.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux

#712 `IconButton` - add common component
  app/components/IconButton.test.tsx
  app/components/IconButton.tsx
  app/components/__snapshots__/IconButton.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: kind/feature, area/ui-ux

#710 `german translations`
  app/components/IconButton.test.tsx
  app/components/IconButton.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/components/icons/assets/__snapshots__/index.test.tsx.snap
  app/components/icons/assets/index.test.tsx
  app/components/themed/ThemedActivityIndicator.tsx
  app/components/themed/index.tsx
  app/constants/Theme.ts
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/components/SlippageTolerance.tsx
  app/screens/AppNavigator/screens/Settings/components/RowNetworkItem.tsx
  app/screens/AppNavigator/screens/Settings/screens/ChangePinScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.tsx
  app/screens/WalletNavigator/screens/CreateWallet/GuidelinesRecoveryWords.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
  app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
  app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/GuidelinesRecoveryWords.test.tsx.snap
  app/translations/languages/de.json
Labels: kind/chore, area/translations, area/ui-ux

#727 `convert` - auto deduct 0.1 DFI UTXO when converting max amount
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux

#737 update send
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  cypress/integration/functional/wallet/balances/send.spec.ts
Labels: kind/chore, area/e2e, area/ui-ux

#738 dark mode for offline mode and fix for translations
  App.tsx
  app/screens/ConnectionBoundary/ConnectionBoundary.test.tsx
  app/screens/ConnectionBoundary/ConnectionBoundary.tsx
  app/screens/ConnectionBoundary/__snapshots__/ConnectionBoundary.test.tsx.snap
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
Labels: kind/fix, area/ui-ux

#741 • Add German (de) translation for Wallet
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/translations/languages/de.json
Labels: kind/chore, area/translations, area/ui-ux

#742 render function component instead of calling it
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
Labels: kind/feature, area/ui-ux

#719 Disallow focused tests
  .eslintrc
  app/api/logging.test.ts
  app/api/secured/index.test.ts
  app/api/wallet/index.test.ts
  app/api/wallet/network.test.ts
  app/api/wallet/persistence.test.ts
  app/api/wallet/provider/mnemonic_unprotected.test.ts
  app/components/BarCodeScanner.test.tsx
  app/components/Button.test.tsx
  app/components/IconButton.test.tsx
  app/components/IconButton.tsx
  app/components/InputIconLabel.test.tsx
  app/components/LoadingScreen.test.tsx
  app/components/NumberTextInput.test.tsx
  app/components/SetAmountButton.test.tsx
  app/components/icons/AppIcon.test.tsx
  app/components/icons/assets/index.test.tsx
  app/environment.test.ts
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokensVsUtxoScreen.test.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/AboutScreen.test.tsx
  app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.test.tsx
  app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.test.tsx
  app/screens/AppNavigator/screens/Settings/screens/RecoveryWordsScreen.test.tsx
  app/screens/AppNavigator/screens/Transactions/EmptyTransaction.test.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  app/screens/ConnectionBoundary/ConnectionBoundary.test.tsx
  app/screens/ErrorBoundary/ErrorBoundary.test.tsx
  app/screens/Main.test.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.test.tsx
  app/screens/WalletNavigator/screens/CreateWallet/GuidelinesRecoveryWords.test.tsx
  app/store/block.test.ts
  app/store/ocean.test.ts
  app/store/transaction_queue.test.ts
  app/store/wallet.test.ts
  cypress/.eslintrc
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  cypress/integration/functional/wallet/settings/community.spec.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: kind/chore, area/e2e, area/ui-ux, area/store, area/api

#437 `absolute paths` for importing
  app/components/InputIconLabel.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/components/icons/assets/_Default.tsx
  app/components/index.tsx
  app/screens/AppNavigator/screens/Settings/screens/RecoveryWordsScreen.tsx
  babel.config.js
  cypress/plugins/index.ts
  tsconfig.json
Labels: kind/feature, area/e2e, area/ui-ux

#751 applied code style to match eslint
  .idea/codeStyles/Project.xml
Labels: kind/chore

#749 Bump @defichain/whale dependencies
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#753 updated useCallback dependencies
  .eslintrc
  app/components/CreateWalletStepIndicator.tsx
  app/components/OceanInterface/OceanInterface.tsx
  app/screens/AppNavigator/BottomTabNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/components/RowNetworkItem.tsx
  app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  cypress/.eslintrc
Labels: kind/refactor, area/ui-ux

#756 developer checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/docs, area/workflow

#754 Added mnemonic skeleton loader for restore wallet screen
  app/components/SkeletonLoader.tsx
  app/components/skeletonLoaders/DexSkeletonLoader.tsx
  app/components/skeletonLoaders/MnemonicWordSkeletonLoader.tsx
  app/components/skeletonLoaders/SkeletonLoader.test.tsx
  app/components/skeletonLoaders/TransactionSkeletonLoader.tsx
  app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  cypress/integration/functional/wallet/settings/settings.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux

#757 eslint updates
  app/components/SkeletonLoader.tsx
  app/components/icons/assets/_Default.tsx
  app/components/skeletonLoaders/MnemonicWordSkeletonLoader.tsx
  app/components/skeletonLoaders/SkeletonLoader.test.tsx
  app/components/themed/ThemedActivityIndicator.tsx
  app/components/themed/ThemedFlatList.tsx
  app/components/themed/ThemedIcon.tsx
  app/components/themed/ThemedScrollView.tsx
  app/components/themed/ThemedSectionList.tsx
  app/components/themed/ThemedText.tsx
  app/components/themed/ThemedTextInput.tsx
  app/components/themed/ThemedTouchableOpacity.tsx
  app/components/themed/ThemedView.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  app/store/transaction_queue.test.ts
  app/store/wallet.test.ts
Labels: kind/chore, area/ui-ux, area/store
