Repository BirthdayResearch/defichain-wallet, pull requests merged in 2021-10, with the labels that each got.

#992 set dependabot update schedule to daily from weekly to further shift left deps update timeline
  .github/dependabot.yml
Labels: kind/chore, area/workflow

#993 add missing intent filters for Android 11
  app.json
Labels: kind/chore

#996 missing colors
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
Labels: kind/fix, area/ui-ux

#994 Updated dat DFI token display name.
  mobile-app/app/store/wallet.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
Labels: kind/chore, area/store

#995 `input field` - fix button overflow
  mobile-app/app/components/WalletTextInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: kind/fix, area/ui-ux

#981 trigger EAS build on merge to `main branch`
  .github/workflows/eas-build.yml
  eas.json
Labels: kind/chore, area/workflow

#1001 updated eas-build.yml to trigger instead on enqueue so that it doesn't linger on orange status icon
  .github/workflows/eas-build.yml
Labels: kind/chore, area/workflow

#1004 `Translation` - Edited German (de) translation in About screen
  mobile-app/app/translations/languages/de.json
Labels: kind/chore, area/translations, area/settings, bug/minor

#1000 `summary` - update UI on all transaction screen
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/SummaryTitle.tsx
  mobile-app/app/components/TextRow.tsx
  mobile-app/app/components/themed/ThemedSectionTitle.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  mobile-app/app/translations/languages/de.json
  mobile-app/app/translations/languages/zh-Hans.json
  mobile-app/app/translations/languages/zh-Hant.json
  mobile-app/cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/sendConfirmation.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/poolswap.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Labels: kind/feature, area/translations, area/ui-ux

#1011 `shared` - translations
  .github/labeler.yml
  babel.config.js
  package.json
  shared/translations/index.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  tsconfig.json
Labels: kind/chore, area/workflow

#1014 `shared` - updated store and assets directory
  .codeclimate.yml
  .github/CODEOWNERS
  .github/labeler.yml
  README.md
  app.json
  babel.config.js
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  shared/assets/fonts/SpaceMono-Regular.ttf
  shared/assets/images/adaptive-icon.png
  shared/assets/images/favicon.png
  shared/assets/images/icon.png
  shared/assets/images/onboarding/a.png
  shared/assets/images/onboarding/b.png
  shared/assets/images/onboarding/c.png
  shared/assets/images/splash.png
  shared/store/authentication.ts
  shared/store/block.test.ts
  shared/store/block.ts
  shared/store/index.ts
  shared/store/ocean.test.ts
  shared/store/ocean.ts
  shared/store/transaction_queue.test.ts
  shared/store/transaction_queue.ts
  shared/store/wallet.test.ts
  shared/store/wallet.ts
  tsconfig.json
Labels: kind/chore, area/workflow, area/ui-ux

#1020 `shared` - environment and shared-api
  README.md
  babel.config.js
  mobile-app/app/api/secured/index.ts
  mobile-app/app/api/wallet/index.test.ts
  mobile-app/app/api/wallet/index.ts
  mobile-app/app/api/wallet/persistence.test.ts
  mobile-app/app/api/wallet/provider/mnemonic_encrypted.test.ts
  mobile-app/app/api/wallet/provider/mnemonic_encrypted.ts
  mobile-app/app/api/wallet/provider/mnemonic_unprotected.test.ts
  mobile-app/app/api/wallet/provider/mnemonic_unprotected.ts
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/contexts/PlaygroundContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.tsx
  mobile-app/app/screens/PrivacyLock.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  shared/__snapshots__/environment.test.ts.snap
  shared/api/wallet/__snapshots__/network.test.ts.snap
  shared/api/wallet/network.test.ts
  shared/api/wallet/network.ts
  shared/environment.test.ts
  shared/environment.ts
  tsconfig.json
Labels: kind/chore, area/ui-ux, area/api, area/contexts

#1015 `balance` - update UI to display unified DFI
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/receive.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  mobile-app/cypress/integration/functional/wallet/components/oceanInterface.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/changePasscode.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  mobile-app/cypress/support/walletCommands.ts
  shared/assets/images/DFI_balance_background.png
  shared/assets/images/DFI_balance_background_dark.png
  shared/store/wallet.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  tsconfig.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux, area/store

#1193 removed .idea/inspectionProfiles
  .idea/inspectionProfiles/Project_Default.xml
Labels: kind/chore
