Repository BirthdayResearch/defichain-wallet, pull requests merged in 2021-09, with the labels that each got.

#734 E2E tests for transaction authorization preview
  app/screens/TransactionAuthorization.tsx
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Labels: kind/chore, area/e2e, area/ui-ux

#763 Added German translation for confirm screen preview message
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/translations/languages/de.json
Labels: kind/feature, area/translations, area/ui-ux

#765 updated `ghcr.io/defich/whale:0.9.2`
  docker-compose.yml
Labels: kind/dependencies

#766 • Edited German (de) translation for Wallet
  app/translations/languages/de.json
Labels: kind/chore, area/translations

#771 `UI` - fix text overflow in UTXO vs Token screen
  app/screens/AppNavigator/screens/Balances/screens/TokensVsUtxoScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokensVsUtxoScreen.test.tsx.snap
Labels: kind/fix, area/ui-ux

#787 Edited German (de) translation for Wallet
  app/translations/languages/de.json
Labels: kind/chore, area/translations

#767 `network` - add screen to change network outside of wallet context
  app/components/HeaderTitle.tsx
  app/components/RowNetworkItem.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.test.tsx
  app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  app/translations/languages/de.json
  cypress/integration/functional/onboarding/onboarding.spec.ts
  package-lock.json
Labels: kind/feature, area/translations, area/e2e, area/ui-ux

#790 E2E for add liquidity and confirm liquidity spec
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
Labels: kind/feature, area/e2e

#789 Assets icon updated based on displaySymbol
  app/components/icons/assets/__snapshots__/index.test.tsx.snap
  app/components/icons/assets/index.test.tsx
  app/components/icons/assets/index.ts
  app/hooks/wallet/TokensAPI.ts
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/store/wallet.test.ts
  app/store/wallet.ts
Labels: kind/feature, area/ui-ux, area/store, area/hooks

#793 .idea/codeStyles HTML fix
  .editorconfig
  .idea/codeStyles/Project.xml
  app/components/Button.tsx
  app/components/HeaderTitle.tsx
Labels: kind/chore, area/ui-ux

#775 wrapped token names
  app/components/OceanInterface/OceanInterface.tsx
  app/components/icons/assets/__snapshots__/index.test.tsx.snap
  app/components/icons/assets/index.test.tsx
  app/components/icons/assets/index.ts
  app/hooks/wallet/TokensAPI.ts
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/store/wallet.test.ts
  app/store/wallet.ts
  app/translations/languages/de.json
  cypress/integration/functional/wallet/balances/balances.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/balances/sendConfirmation.spec.ts
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  cypress/integration/smoke/smoke.spec.ts
Labels: kind/feature, area/translations, area/e2e, area/ui-ux, area/store, area/hooks

#795 `jest` - add test coverage for `app/api/wallet`
  app/api/wallet/mnemonic_storage.test.ts
  app/api/wallet/mnemonic_storage.ts
  app/api/wallet/persistence.test.ts
  app/api/wallet/provider/mnemonic_encrypted.test.ts
  app/api/wallet/provider/mnemonic_unprotected.test.ts
Labels: kind/feature, area/api

#799 updated translations
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/translations/languages/de.json
Labels: kind/chore, area/translations, area/ui-ux

#786 `settings` - add language selection screen
  App.tsx
  app/api/index.ts
  app/api/persistence/language_storage.ts
  app/contexts/LanguageProvider.tsx
  app/environment.ts
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/components/RowLanguageItem.tsx
  app/screens/AppNavigator/screens/Settings/screens/LanguageSelectionScreen.test.tsx
  app/screens/AppNavigator/screens/Settings/screens/LanguageSelectionScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  app/translations/index.ts
  app/translations/languages/de.json
  cypress/integration/functional/wallet/settings/settings.spec.ts
  tsconfig.json
Labels: kind/feature, area/translations, area/e2e, area/ui-ux, area/api, area/contexts

#803 Offline mode - updated screen
  app/screens/ConnectionBoundary/ConnectionBoundary.tsx
  app/screens/ConnectionBoundary/__snapshots__/ConnectionBoundary.test.tsx.snap
  app/translations/languages/de.json
Labels: kind/feature, area/translations, area/ui-ux

#801 `send` - add info to inform reserved UTXO
  app/components/InfoText.test.tsx
  app/components/InfoText.tsx
  app/components/__snapshots__/InfoText.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/styles.json
  app/tailwind.config.js
  app/translations/languages/de.json
  cypress/integration/functional/wallet/balances/send.spec.ts
Labels: kind/feature, area/translations, area/e2e, area/ui-ux

#797 Refresh recovery words
  App.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
  app/translations/languages/de.json
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
Labels: kind/feature, area/translations, area/e2e, area/ui-ux

#792 Bump playground from `0.8.6` to `0.9.0`
  cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  cypress/integration/functional/wallet/balances/send.spec.ts
  cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
  cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  cypress/integration/smoke/smoke.spec.ts
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies, area/e2e

#762 moved `__mocks__` to `/app` to keep all source in `/app`
  app/__mocks__/expo-random.ts
  app/__mocks__/expo-secure-store.ts
Labels: kind/refactor

#808 increased Cypress parallelization to 8 for faster CI
  .github/workflows/ci-e2e.yml
Labels: kind/chore, area/workflow

#818 update dex icon
  app/screens/AppNavigator/BottomTabNavigator.tsx
Labels: kind/chore, area/ui-ux

#822 `verify wallet` - fix word option overflowing
  app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
Labels: kind/fix, area/ui-ux

#819 `convert` - add info text to inform reserved UTXO
  app/components/InfoText.tsx
  app/components/__snapshots__/InfoText.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Settings/components/RowLanguageItem.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  app/translations/languages/de.json
  cypress/integration/functional/wallet/balances/convert/convert.spec.ts
Labels: kind/feature, area/translations, area/e2e, area/ui-ux

#821 fixed overlapping status bar
  app/screens/Main.tsx
  app/screens/TransactionAuthorization.tsx
Labels: kind/fix, area/ui-ux

#824 `transaction authorization` - reduce to 3 attempts
  app/screens/TransactionAuthorization.tsx
  cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
Labels: kind/feature, area/e2e, area/ui-ux

#788 Activity indicator for submit buttons
  app/components/Button.test.tsx
  app/components/Button.tsx
  app/components/SubmitButtonGroup.tsx
  app/components/__snapshots__/Button.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/translations/languages/de.json
Labels: kind/feature, area/translations, area/ui-ux

#826 Updated default Icon to use first alphabet in capital case
  app/components/icons/assets/_Default.tsx
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/store/wallet.test.ts
  app/store/wallet.ts
Labels: kind/chore, area/ui-ux, area/store

#832 added tsc in lint check
  .github/workflows/ci.yml
  app/api/logging.ts
  app/components/OceanInterface/OceanInterface.tsx
  app/components/SetAmountButton.test.tsx
  app/components/__snapshots__/SetAmountButton.test.tsx.snap
  app/contexts/StatsProvider.tsx
  app/hooks/wallet/TokensAPI.ts
  app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.test.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/store/transaction_queue.test.ts
  app/store/wallet.ts
  cypress/.eslintrc
  cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  cypress/tsconfig.json
  tsconfig.json
  tsconfig.production.json
Labels: kind/chore, area/workflow, area/e2e, area/ui-ux, area/store, area/api, area/hooks, area/contexts

#840 disabled poolswap button - remove max amount for token B
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: kind/fix, area/ui-ux

#846 fixed @react-native-community packages that should never be updated
  .github/dependabot.yml
  .idea/dictionaries/fuxing.xml
  package-lock.json
  package.json
Labels: kind/fix, area/workflow

#845 `cypress` - fix main app to be visible during e2e test
  cypress.json
  package-lock.json
  package.json
Labels: kind/fix

#841 Disabled the verify button on refresh recovery word
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
Labels: kind/fix, area/ui-ux

#834 `recovery words faq` - add new component
  app/components/SectionTitle.tsx
  app/components/WalletAccordion.test.tsx
  app/components/WalletAccordion.tsx
  app/components/__snapshots__/WalletAccordion.test.tsx.snap
  app/components/themed/ThemedSectionTitle.tsx
  app/components/themed/index.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/components/SlippageTolerance.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/LanguageSelectionScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.tsx
  app/screens/WalletNavigator/screens/CreateWallet/GuidelinesRecoveryWords.tsx
  app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  app/screens/WalletNavigator/screens/CreateWallet/RecoveryWordsFaq.test.tsx
  app/screens/WalletNavigator/screens/CreateWallet/RecoveryWordsFaq.tsx
  app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/GuidelinesRecoveryWords.test.tsx.snap
  app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/RecoveryWordsFaq.test.tsx.snap
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  app/translations/languages/de.json
  cypress/integration/functional/onboarding/onboarding.spec.ts
  package-lock.json
  package.json
Labels: kind/feature, area/translations, area/e2e, area/ui-ux

#843 Updated themebased text color test for restore mnemonic
  cypress/.eslintrc
  cypress/integration/functional/onboarding/createMnemonicWallet.spec.ts
  cypress/support/onboardingCommands.ts
Labels: kind/chore, area/e2e

#852 add chinese translations
  app/components/CreateWalletStepIndicator.tsx
  app/components/WalletAccordion.tsx
  app/contexts/LanguageProvider.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/components/SlippageTolerance.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/components/RowLanguageItem.tsx
  app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/LanguageSelectionScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  app/translations/index.ts
  app/translations/languages/de.json
  app/translations/languages/zh-Hans.json
  app/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/contexts

#858 added react-reanimated lib to fix build
  app/translations/languages/de.json
  package-lock.json
  package.json
Labels: kind/chore, area/translations

#842 `debugging` - add react-devtools
  package-lock.json
  package.json
Labels: kind/feature

#863 `Translation` - Edited German (de)
  app/translations/languages/de.json
Labels: kind/chore, area/translations

#905 `Translation` - German (de) translation
  app/translations/languages/de.json
Labels: kind/chore, area/translations

#632 Privacy lock
  App.tsx
  app.json
  app/api/wallet/privacy_lock.ts
  app/api/wallet/provider/mnemonic_encrypted.test.ts
  app/api/wallet/provider/mnemonic_unprotected.test.ts
  app/components/Button.tsx
  app/contexts/AppStateContext.tsx
  app/contexts/LocalAuthContext.tsx
  app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  app/screens/PrivacyLock.tsx
  app/screens/RootNavigator.tsx
  app/screens/TransactionAuthorization.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
  app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
  app/store/wallet.ts
  cypress/integration/functional/wallet/dex/poolswap.spec.ts
  cypress/integration/functional/wallet/settings/privacyLock.spec.ts
  cypress/integration/functional/wallet/settings/privacyLock_with_stub.spec.ts
  cypress/tsconfig.json
Labels: kind/feature, area/e2e, area/ui-ux, area/store, area/api, area/contexts

#861 Added Network detail page
  app/components/HeaderTitle.tsx
  app/contexts/StatsProvider.tsx
  app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  app/screens/AppNavigator/screens/Settings/screens/NetworkDetails.test.tsx
  app/screens/AppNavigator/screens/Settings/screens/NetworkDetails.tsx
  app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
  app/screens/AppNavigator/screens/Transactions/TransactionsNavigator.tsx
  app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/store/block.test.ts
  app/store/block.ts
  app/translations/languages/de.json
  app/translations/languages/zh-Hans.json
  app/translations/languages/zh-Hant.json
  cypress/integration/functional/wallet/settings/networkDetails.spec.ts
  package-lock.json
Labels: kind/feature, area/translations, area/playground, area/e2e, area/ui-ux, area/store, area/contexts

#912 update language title
  app/screens/AppNavigator/screens/Settings/components/RowLanguageItem.tsx
  cypress/integration/functional/wallet/settings/settings.spec.ts
Labels: kind/fix, area/e2e, area/ui-ux

#916 `translation` - add chinese translation to passcode recovery faq
  app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  app/screens/WalletNavigator/WalletNavigator.tsx
  app/screens/WalletNavigator/screens/CreateWallet/RecoveryWordsFaq.tsx
  app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/RecoveryWordsFaq.test.tsx.snap
  app/translations/languages/de.json
  app/translations/languages/zh-Hans.json
  app/translations/languages/zh-Hant.json
  package-lock.json
  package.json
Labels: kind/feature, area/translations, area/ui-ux

#919 `refactor` - separate UI from transaction authorization
  app/screens/RootNavigator.tsx
  app/screens/TransactionAuthorization/PasscodePrompt.test.tsx
  app/screens/TransactionAuthorization/PasscodePrompt.tsx
  app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  app/screens/TransactionAuthorization/__snapshots__/PasscodePrompt.test.tsx.snap
  app/translations/languages/zh-Hans.json
Labels: kind/refactor, area/translations, area/ui-ux

#925 Changed german translation on page create wallet guidelines
  mobile-app/app/translations/languages/de.json
Labels: kind/fix, area/translations

#932 `about` - updated design
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
  mobile-app/app/translations/languages/de.json
  mobile-app/app/translations/languages/zh-Hans.json
  mobile-app/app/translations/languages/zh-Hant.json
  mobile-app/cypress/integration/functional/wallet/settings/community.spec.ts
Labels: kind/feature, area/translations, area/ui-ux

#930 `pool swap` - update input field's UI
  mobile-app/app/components/WalletTextInput.tsx
  mobile-app/app/components/__snapshots__/WalletTextInput.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  mobile-app/app/translations/languages/de.json
  mobile-app/app/translations/languages/zh-Hans.json
  mobile-app/app/translations/languages/zh-Hant.json
  mobile-app/cypress/integration/functional/wallet/dex/poolswap.spec.ts
Labels: kind/feature, area/translations, area/ui-ux

#927 DEX guideline page integration
  mobile-app/app/api/index.ts
  mobile-app/app/api/persistence/display_dexguidelines_storage.ts
  mobile-app/app/components/Button.tsx
  mobile-app/app/components/__snapshots__/Button.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexGuidelines.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexGuidelines.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/__snapshots__/DexGuidelines.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/__snapshots__/EmptyTransaction.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
  mobile-app/app/translations/languages/de.json
  mobile-app/app/translations/languages/zh-Hans.json
  mobile-app/app/translations/languages/zh-Hant.json
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/dex_guidelines.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/poolswap.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  package-lock.json
Labels: kind/feature, area/translations, area/ui-ux, area/api

#939 `DEX` - update UI
  mobile-app/app/components/IconButton.tsx
  mobile-app/app/components/__snapshots__/IconButton.test.tsx.snap
  mobile-app/app/components/icons/assets/BTC.tsx
  mobile-app/app/components/icons/assets/DFI.tsx
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/dBCH.tsx
  mobile-app/app/components/icons/assets/dBTC.tsx
  mobile-app/app/components/icons/assets/dDFI.tsx
  mobile-app/app/components/icons/assets/dDOGE.tsx
  mobile-app/app/components/icons/assets/dETH.tsx
  mobile-app/app/components/icons/assets/dLTC.tsx
  mobile-app/app/components/icons/assets/dUSDC.tsx
  mobile-app/app/components/icons/assets/dUSDT.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokensVsUtxoScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/translations/languages/de.json
  mobile-app/app/translations/languages/zh-Hans.json
  mobile-app/app/translations/languages/zh-Hant.json
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
Labels: kind/feature, area/translations, area/ui-ux

#949 `privacy lock` - update label
  mobile-app/app/contexts/LocalAuthContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  mobile-app/app/translations/languages/de.json
  mobile-app/app/translations/languages/zh-Hans.json
  mobile-app/app/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/contexts

#952 update entry to index.js
  mobile-app/index.js
  package.json
Labels: kind/chore

#951 translation: update german entries
  mobile-app/app/translations/languages/de.json
Labels: kind/feature, area/translations

#953 translation: fine tune 'iris scan'
  mobile-app/app/translations/languages/de.json
Labels: kind/chore, area/translations

#959 moved index.js
  index.js
  package.json
Labels: kind/chore

#955 `token detail` - update summary UI
  mobile-app/app/components/IconButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
Labels: kind/feature, area/ui-ux

#961 added @fullstackninja864 as code owner
  .github/CODEOWNERS
Labels: kind/chore, area/workflow

#954 Blocks height link for defi scan
  mobile-app/app/contexts/DeFiScanContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/settings/networkDetails.spec.ts
Labels: kind/feature, area/ui-ux, area/contexts

#968 `privacy lock` - fix biometric lock label on android
  mobile-app/app/contexts/LocalAuthContext.tsx
  mobile-app/app/translations/languages/de.json
  mobile-app/app/translations/languages/zh-Hans.json
  mobile-app/app/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/contexts

#973 governance.yml to automate capturing of platform and version labels
  .github/governance.yml
  .github/labels.yml
Labels: kind/chore, area/workflow

#974 `input text` - increase clear button touchable area
  mobile-app/app/components/WalletTextInput.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Labels: kind/fix, area/ui-ux

#964 `confirmation` - update summary UI
  mobile-app/app/components/SummaryTitle.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  mobile-app/app/translations/languages/de.json
  mobile-app/app/translations/languages/zh-Hans.json
  mobile-app/app/translations/languages/zh-Hant.json
  mobile-app/cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/sendConfirmation.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/poolswap.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  package-lock.json
  package.json
Labels: kind/feature, area/translations, area/ui-ux

#979 `privacy lock` - POC to test prompting on fresh start
  mobile-app/app/screens/PrivacyLock.tsx
Labels: kind/fix, area/ui-ux

#978 Token info redirection to defiscan token detail screen
  mobile-app/app/contexts/DeFiScanContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokenDetailScreen.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
Labels: kind/feature, area/ui-ux, area/contexts

#980 links - open on browser
  mobile-app/app/api/linking.ts
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
Labels: kind/fix, area/ui-ux, area/api

#983 Wait for Privacy lock and Storage to load
  mobile-app/app/contexts/LocalAuthContext.tsx
  mobile-app/app/screens/PrivacyLock.tsx
Labels: kind/fix, area/ui-ux, area/contexts

#985 added missing codeowner for /.github/
  .github/CODEOWNERS
Labels: kind/chore, area/workflow

#988 Bump @defichain/playground dependencies
  docker-compose.yml
  mobile-app/app/api/wallet/index.test.ts
  mobile-app/app/contexts/WhaleContext.tsx
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  package-lock.json
Labels: kind/dependencies, area/api, area/contexts
