Repository BirthdayResearch/defichain-wallet, pull requests merged in 2021-11, with the labels that each got.

#1210 Create loans skeleton loader
  mobile-app/app/components/SkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/LoanSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/SkeletonLoader.test.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
Labels: kind/feature, area/ui-ux

#1216 `balances` - addresses and redesign
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/EmptyBalances.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/receive.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  mobile-app/cypress/support/walletCommands.ts
  package-lock.json
  package.json
  shared/contexts/DeFiScanContext.tsx
  shared/contexts/__mocks__/DeFiScanContext.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1219 Bump whale to 0.12.2 and jellyfish to 0.50.0
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#1221 Bump `@defichain/*` for loan tooling to support 5/6 Loan API & 4/8 Loan DfTx
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#1227 `collaterals tab` - add static UI to vault details screen
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveLoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1228 added moduleResolution: node for cypress tests so that IDE doesn't show an error
  mobile-app/cypress/tsconfig.json
Labels: kind/chore

#1229 update release channel
  mobile-app/app/api/releaseChannel.ts
  mobile-app/app/api/secured/index.ts
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.tsx
  mobile-app/app/screens/PrivacyLock.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
Labels: kind/chore, area/ui-ux, area/api, area/contexts

#1225 `details tab` - add static UI to vault details screen
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/TextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveLoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1234 `dex` - added TVL to new DEX
  mobile-app/app/components/themed/ThemedSectionTitle.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  shared/contexts/StatsProvider.tsx
  shared/store/block.test.ts
  shared/store/block.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#1235 Update Translation (de)
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#1231 Redesign DEX to tabs and cards
  mobile-app/app/components/Tabs.test.tsx
  mobile-app/app/components/Tabs.tsx
  mobile-app/app/components/__snapshots__/Tabs.test.tsx.snap
  mobile-app/app/components/skeletonLoaders/DexSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/components/themed/ThemedSectionTitle.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveLoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/dex_guidelines.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  shared/contexts/StatsProvider.tsx
  shared/store/block.test.ts
  shared/store/block.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#1189 Loans State Management
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  package-lock.json
  package.json
  shared/store/index.ts
  shared/store/loans.ts
Labels: kind/feature, area/ui-ux, area/store

#1247 Bump to jellyfish `2.0.0` with `5/8` Loan and CompositeSwap DfTx support
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#1248 `add collateral` - add static UI
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/components/InputHelperText.tsx
  mobile-app/app/components/__snapshots__/InputHelperText.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
Labels: kind/feature, area/ui-ux

#1252 `expo` - updates
  mobile-app/app/components/BottomSheetTokenList.tsx
  package-lock.json
  package.json
Labels: kind/chore, area/ui-ux

#1251 `confirm add collateral` - add static UI
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmAddCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1211 Feature gate
  mobile-app/app/api/index.ts
  mobile-app/app/api/persistence/feature_flag_storage.ts
  mobile-app/app/components/LoanCards.test.tsx
  mobile-app/app/components/LoanCards.tsx
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/contexts/__mocks__/LanguageProvider.tsx
  mobile-app/app/screens/AppNavigator/BottomTabNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/featureGate.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/translations, area/ui-ux, area/api, area/contexts, area/website

#1267 refactor platform checking for electron migration
  .nvmrc
  mobile-app/app/api/linking.ts
  mobile-app/app/api/releaseChannel.ts
  mobile-app/app/screens/Main.web.tsx
  package-lock.json
  package.json
Labels: kind/refactor, area/ui-ux, area/api

#1268 Bump jellyfish from 2.0.0 to 2.1.1
  .github/dependabot.yml
  .github/workflows/defichain-dependencies.yml
  package-lock.json
  package.json
Labels: kind/dependencies, area/workflow

#1270 Bump whale from 0.13.2 to 0.13.5
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#1271 `loans` - integrate API for Create Vaults
  mobile-app/app/components/LoanCards.test.tsx
  mobile-app/app/components/LoanCards.tsx
  mobile-app/app/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/support/walletCommands.ts
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#1273 fix PoolSwap regression (TestNet)
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
Labels: kind/fix, area/ui-ux

#1277 Bump @defichain/jellyfish from 2.1.1 to 2.2.0
  package-lock.json
  package.json
Labels: kind/dependencies

#1276 translations update
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#1280 Bump playground from 0.11.2 to 0.11.3
  docker-compose.yml
  package.json
Labels: kind/dependencies

#1279 `loan token api` - integrate onto browse loan tab
  mobile-app/app/components/LoanCards.test.tsx
  mobile-app/app/components/LoanCards.tsx
  mobile-app/app/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1286 Bump whale to 0.14.1 to support ActivePrice data within LoanToken, CollateralToken, VaultLoanTokenAmount
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#1284 `feature flags` - added network and platform
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.test.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/support/walletCommands.ts
  package-lock.json
  shared/types/website.ts
  website/next.config.js
  website/package.json
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/ui-ux, area/contexts, area/website

#1287 added loan prices
  mobile-app/app/components/LoanCards.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/tsconfig.json
Labels: kind/feature, area/ui-ux

#1290 `loans` - announcements
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#1297 `loan` - icons
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/dAAPL.tsx
  mobile-app/app/components/icons/assets/dAMD.tsx
  mobile-app/app/components/icons/assets/dAMZN.tsx
  mobile-app/app/components/icons/assets/dARKK.tsx
  mobile-app/app/components/icons/assets/dBABA.tsx
  mobile-app/app/components/icons/assets/dCOIN.tsx
  mobile-app/app/components/icons/assets/dFB.tsx
  mobile-app/app/components/icons/assets/dGME.tsx
  mobile-app/app/components/icons/assets/dGOOG.tsx
  mobile-app/app/components/icons/assets/dMSFT.tsx
  mobile-app/app/components/icons/assets/dNVDA.tsx
  mobile-app/app/components/icons/assets/dPLTR.tsx
  mobile-app/app/components/icons/assets/dTSLA.tsx
  mobile-app/app/components/icons/assets/dTWTR.tsx
  mobile-app/app/components/icons/assets/dUSD.tsx
  mobile-app/app/components/icons/assets/index.test.tsx
  mobile-app/app/components/icons/assets/index.ts
Labels: kind/chore, area/ui-ux

#1298 `loans` - added ETF icons
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/dGLD.tsx
  mobile-app/app/components/icons/assets/dPDBC.tsx
  mobile-app/app/components/icons/assets/dQQQ.tsx
  mobile-app/app/components/icons/assets/dSLV.tsx
  mobile-app/app/components/icons/assets/dSPY.tsx
  mobile-app/app/components/icons/assets/dTLT.tsx
  mobile-app/app/components/icons/assets/dURTH.tsx
  mobile-app/app/components/icons/assets/dVNQ.tsx
  mobile-app/app/components/icons/assets/index.test.tsx
  mobile-app/app/components/icons/assets/index.ts
Labels: kind/chore, area/ui-ux

#1293 `borrow loan token` - add static UI
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/components/SearchInput.tsx
  mobile-app/app/components/WalletTextInput.tsx
  mobile-app/app/hooks/wallet/CollateralizationRatioColor.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/EmptyActiveLoans.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultStatusTag.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  shared/store/loans.ts
Labels: kind/feature, area/ui-ux, area/store, area/hooks

#1301 `website` - bump loans to Beta
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/featureGate.spec.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/ui-ux, area/contexts, area/website

#1309 `collateralization health bar` - add static UI
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  package-lock.json
  package.json
Labels: kind/feature, area/ui-ux

#1311 `feature flags` - label update
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#1312 `icon` - update company svg for loan token
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/dAAPL.tsx
  mobile-app/app/components/icons/assets/dAMD.tsx
  mobile-app/app/components/icons/assets/dARKK.tsx
  mobile-app/app/components/icons/assets/dBABA.tsx
  mobile-app/app/components/icons/assets/dGLD.tsx
  mobile-app/app/components/icons/assets/dGME.tsx
  mobile-app/app/components/icons/assets/dGOOG.tsx
  mobile-app/app/components/icons/assets/dPDBC.tsx
  mobile-app/app/components/icons/assets/dPLTR.tsx
  mobile-app/app/components/icons/assets/dQQQ.tsx
  mobile-app/app/components/icons/assets/dSLV.tsx
  mobile-app/app/components/icons/assets/dSPY.tsx
  mobile-app/app/components/icons/assets/dTLT.tsx
  mobile-app/app/components/icons/assets/dTSLA.tsx
  mobile-app/app/components/icons/assets/dURTH.tsx
  mobile-app/app/components/icons/assets/dVNQ.tsx
Labels: kind/feature, area/ui-ux

#1316 Bump playground to 0.11.5
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#1315 `loans` - add collateral
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/TokenIconGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/VaultShare.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmAddCollateralScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1318 `loans` - ui clean up
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux, area/store

#1319 `borrow loan token` - integrate api
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/hooks/wallet/CollateralizationRatioColor.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
Labels: kind/feature, area/ui-ux, area/hooks

#1314 Loan FAQ and WalletAccordion updated to support multi line answers
  mobile-app/app/components/WalletAccordion.test.tsx
  mobile-app/app/components/WalletAccordion.tsx
  mobile-app/app/components/__snapshots__/WalletAccordion.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LoansFaq.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LoansFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PasscodeFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/RecoveryWordsFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/PasscodeFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/RecoveryWordsFaq.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/settings/knowledgeBase.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1321 `loans` - add collateral conversion and confirm page
  mobile-app/app/api/transaction/transaction_commands.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrEditCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/api

#1322 `vault details` - update top section UI
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultSectionTextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Labels: kind/feature, area/ui-ux

#1323 `loans` - remove collateral and confirm page
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/VaultShare.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1358 `loans` - ui updates
  .idea/dictionaries/fuxing.xml
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/__snapshots__/ConversionDetailsRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/hooks/wallet/CollateralizationRatioColor.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultStatusTag.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralizationRatio.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
  shared/contexts/DeFiScanContext.tsx
  shared/contexts/__mocks__/DeFiScanContext.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/hooks

#1360 Use modal for bottom sheet on web
  mobile-app/app/components/BottomSheetModal.web.tsx
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  package-lock.json
  package.json
Labels: kind/feature, area/ui-ux

#1361 `vault details` - integrate api data into collateral and loans tab
  mobile-app/app/components/BottomSheetInfo.tsx
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/FeeInfoRow.tsx
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/__snapshots__/ConversionDetailsRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/hooks/wallet/Conversion.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveLoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/EmptyCollateral.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/EmptyLoan.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultSectionTextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultStatusTag.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/NextCollateralizationRatio.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/hooks

#1369 `loans` - ui updates
  mobile-app/app/components/Tabs.test.tsx
  mobile-app/app/components/__snapshots__/Tabs.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/EmptyLoan.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/translations, area/ui-ux, area/website

#1370 `payback loan`
  mobile-app/app/components/FeeInfoRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1372 `loan` - translations and minor ui updates
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LoansFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LoansFaq.test.tsx.snap
  shared/translations/languages/de.json
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/translations, area/ui-ux, area/website

#1379 `col ratio health bar` - change max ratio to display more healthy region
  mobile-app/app/components/TokenIconGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultStatusTag.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralizationRatio.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LoansFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LoansFaq.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1385 Bump playground to 0.12.0 & whale to 0.15.1
  docker-compose.yml
  mobile-app/cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  package-lock.json
  package.json
Labels: kind/dependencies

#1390 Bump playground to 0.12.1 to fix HALTED Vault State
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#1391 `loan` - update icons
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/dAMZN.tsx
  mobile-app/app/components/icons/assets/dCOIN.tsx
  mobile-app/app/components/icons/assets/dFB.tsx
  mobile-app/app/components/icons/assets/dMSFT.tsx
  mobile-app/app/components/icons/assets/dNVDA.tsx
  mobile-app/app/components/icons/assets/dTWTR.tsx
Labels: kind/chore, area/ui-ux

#1255 Composite swap feature
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/InfoText.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/PricesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/helpers/path-finding.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/helpers/path-finding.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1398 `borrow more` - add static UI and integrate API
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/InterestPerBlock.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#1399 `loans` - UI fixes
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanOperations.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  shared/translations/languages/de.json
Labels: kind/fix, area/translations, area/ui-ux

#1400 `composite swap` - number format and empty state
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/PricesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/EmptyTransaction.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/__snapshots__/EmptyTransaction.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/transaction/list.spec.ts
  mobile-app/cypress/integration/functional/wallet/transaction/list_empty.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#1401 `browser loan` - add search UI to header
  mobile-app/app/components/HeaderSearchIcon.tsx
  mobile-app/app/components/HeaderSearchInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
Labels: kind/feature, area/ui-ux

#1404 Translation (DE) - edit
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanSchemeOptions.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#1406 Pool Swap to Compo
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageTolerance.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/ConfirmPoolSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolSwap/PoolSwapScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/poolswap.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1409 `loans` - switch tabs
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Labels: kind/chore, area/ui-ux

#1413 composite swap fixes and label updates
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  shared/translations/languages/de.json
Labels: kind/fix, area/translations, area/ui-ux

#1420 show 8 decimal places for outstanding amount in payback loan screen
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Labels: kind/fix, area/ui-ux

#1423 German translation update for `At Risk`
  shared/translations/languages/de.json
Labels: kind/fix, area/translations

#1417 updated announcements
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#1424 Bump whale to 0.16.1 to include highestBid for Auctioned Vault
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#1411 `borrow loan` - add form validation and max loan amount
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/MaxLoanAmount.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1428 Remove color for min collateral value
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Labels: kind/fix, area/ui-ux

#1414 Switch button composite swap
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1440 Loan scheme UI changes for scheme listing and risk status bg color
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanSchemeOptions.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultStatusTag.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
Labels: kind/fix, area/ui-ux

#1438 `add DUSD price` - hardcode activePrice to DUSD
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/InterestPerBlock.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
  shared/store/loans.ts
Labels: kind/feature, area/ui-ux, area/store

#1442 `borrow more` - fix DUSD label flicker
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Labels: kind/fix, area/ui-ux

#1410 Bottom sheet info modal implementation for loans screen
  mobile-app/app/components/BottomSheetInfo.tsx
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/TextRow.tsx
  mobile-app/app/components/__snapshots__/ConversionDetailsRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultSectionTextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
  package-lock.json
  package.json
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1454 `close vault` - add UI and integrate API
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CloseVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreen.tsx
Labels: kind/feature, area/ui-ux

#1455 `loans and composite swap` - ui fixes
  mobile-app/app/api/transaction/dfi_converter.ts
  mobile-app/app/components/index.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
  shared/translations/languages/de.json
Labels: kind/fix, area/translations, area/ui-ux, area/api

#1457 Translation update
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#1460 `translation` - add entries for close vault
  mobile-app/app/components/TokenIconGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1458 Translation (DE): typo
  shared/translations/languages/de.json
Labels: needs/kind, kind/chore, area/translations

#1459 Fix UI alignment on Prices Section on word break
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/__snapshots__/ConversionDetailsRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
Labels: kind/fix, area/ui-ux

#1461 `loan UI` - fix various issues
  mobile-app/app/components/SkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/VaultSkeletonLoader.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#1469 Update zh-Hans.json
  shared/translations/languages/zh-Hans.json
Labels: kind/feature, area/translations

#1468 Update zh-Hant.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations

#1472 Translation (DE): typo
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#1479 enable loans
  website/src/pages/api/v0/announcements.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#1485 update conversion to 2.1 DFI for vault fees
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  shared/translations/languages/de.json
Labels: kind/fix, area/translations, area/ui-ux

#1491 Fix composite swap
  mobile-app/app/screens/AppNavigator/screens/Dex/helpers/path-finding.tsx
Labels: kind/fix, area/ui-ux

#1473 `browse auctions` - integrate API
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionTimeProgress.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionTimeLeft.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  shared/store/auctions.ts
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#1477 Fix bottom sheet on web
  mobile-app/app/components/BottomSheetModal.web.tsx
  mobile-app/app/components/WalletTextInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Labels: kind/fix, area/ui-ux

#1505 Translation (DE): amendments
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#1470 updated zh translations
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations
