Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-10, with the labels that each got.

#3590 feature(ui-ux): create vault card 2.0
  mobile-app/app/components/BottomSheetModalInfo.tsx
  mobile-app/app/components/ButtonV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PriceOracleInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultBanner.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/LoansCarousel.tsx
  shared/assets/images/loans/empty_collateral.png
  shared/assets/images/loans/liquidated_vault.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#3587 chore(ui-ux): adjust bottom sheet layout
  mobile-app/app/components/BottomSheetInfoV2.tsx
  mobile-app/app/components/BottomSheetModalV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/BottomSheetSlippageInfo.tsx
Labels: kind/chore, area/ui-ux

#3600 fix(ui-ux): fix build by using button group v2
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreenV2.tsx
Labels: kind/fix, area/ui-ux

#3592 chore(translations): updated fr.json
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#3604 feature(core): improve perf of tab switching
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreenV2.tsx
Labels: kind/feature, area/ui-ux

#3603 chore(translations): add tab translations on loan
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreenV2.tsx
Labels: kind/chore, area/ui-ux

#3605 fix(ui-ux): resolve search input logic on token screen
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
Labels: kind/fix, area/ui-ux

#3611 fix(core): search behaviour and loading
  mobile-app/app/components/SearchInputV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PriceOracleInfo.tsx
Labels: kind/fix, area/ui-ux

#3615 chore(deps): bump expo
  .github/workflows/expo-preview.yml
  eas.json
  package-lock.json
  package.json
Labels: kind/chore, area/workflow

#3617 fix(ui-ux): fix overlapping text on smaller screen
  mobile-app/app/components/TextRowV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
Labels: kind/fix, area/ui-ux

#3598 fix(e2e): update and add loan search e2e to loan token search
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
Labels: kind/fix, area/ui-ux

#3623 chore(translations): updated fr.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#3624 fix(core): crashing DEX search
  mobile-app/app/components/themed/ThemedFlashList.tsx
Labels: kind/fix, area/ui-ux

#3629 chore(deps): bump expo deps
  package-lock.json
  package.json
Labels: kind/chore

#3628 feature(ui-ux): vaults card 2.0 (2) - circular progress status
  mobile-app/app/components/TokenIconGroupV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultBanner.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardStatus.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultSectionTextRowV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralizationRatioV2.ts
  package-lock.json
  package.json
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3589 feature(ui-ux): vaults card 2.0
  mobile-app/app/components/ButtonV2.tsx
  mobile-app/app/components/SymbolIcon.tsx
  mobile-app/app/components/TokenIconGroup.tsx
  mobile-app/app/components/TokenIconGroupV2.tsx
  mobile-app/app/hooks/useUnitSuffix.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/BottomSheetSlippageInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetLoanTokensList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PriceOracleInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultBanner.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardStatus.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultSectionTextRowV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralizationRatioV2.ts
  package-lock.json
  package.json
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/hooks

#3634 Updates es.json file for Spanish translations
  shared/translations/languages/es.json
Labels: area/translations

#3619 feature(ui-ux): edit loan scheme v2
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanSchemeOptionsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreenV2.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3637 fix(translations): add missing translations
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreenV2.tsx
  shared/translations/languages/es.json
Labels: kind/fix, area/translations, area/ui-ux

#3645 fix(translations): rename existing loans in vault card
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3644 feature(ui-ux): collateral ratio progress bar
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapRowTo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplayV2.tsx
Labels: kind/feature, area/ui-ux

#3653 fix(ui-ux): fixed collateral ratio display bar
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplayV2.tsx
Labels: kind/fix, area/ui-ux

#3656 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3660 chore(deps): bump expo
  package-lock.json
  package.json
Labels: kind/chore

#3630 feature(ui-ux): loans v2 bottom sheet search
  mobile-app/app/components/BottomSheetModalInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapRowTo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetLoanTokensList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PriceOracleInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultBanner.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardStatus.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultsV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/LoansCarousel.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/PaginationButton.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/support/loanCommands.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3643 feature(ui-ux): add and remove collateral V2
  mobile-app/app/components/BottomSheetInfoV2.tsx
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetTokenListHeader.tsx
  mobile-app/app/components/CollateralFactorTag.tsx
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/components/SummaryTitleV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplayV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/ControlledTextInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralizationRatioV2.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/MaxLoanAmount.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Labels: kind/feature, area/ui-ux

#3654 feature(ui-ux): update borrow loan to v2
  mobile-app/app/components/SummaryTitleV2.tsx
  mobile-app/app/hooks/useBottomSheet.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetLoanTokensList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralizationRatio.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/DFIRequirementForDusdLoanAndCollateral.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/MaxLoanAmount.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
Labels: kind/feature, area/ui-ux, area/hooks

#3647 feature(ui-ux): collaterals and loans card v2
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailCollateralsRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailLoansRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanActionButton.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3670 chore(translations): add translation for borrow loan v2
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3657 feature(ui-ux): payback loan v2 implementation
  mobile-app/app/components/TokenDropdownButton.tsx
  mobile-app/app/components/TransactionCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3672 chore(translations): add translation for add/remove collateral v2
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplayV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3678 fix(ui-ux): fix add/remove collateral issues
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralTokenList.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Labels: kind/fix, area/ui-ux

#3666 feature(ui-ux): loan phase two v2 (add/remove collateral, borrow loan and payback loan)
  mobile-app/app/components/BottomSheetInfoV2.tsx
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/BottomSheetTokenListHeader.tsx
  mobile-app/app/components/CollateralFactorTag.tsx
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/components/SummaryTitleV2.tsx
  mobile-app/app/components/TokenDropdownButton.tsx
  mobile-app/app/components/TransactionCard.tsx
  mobile-app/app/hooks/useBottomSheet.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetLoanTokensList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplayV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/ControlledTextInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralTokenList.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralizationRatio.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralizationRatioV2.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/DFIRequirementForDusdLoanAndCollateral.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/MaxLoanAmount.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/hooks

#3646 feature(core): close vault screen 2.0
  mobile-app/app/components/SubmitButtonGroupV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultBanner.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CloseVaultScreenV2.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
  shared/assets/images/loans/close_vault.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#3679 chore(translation): update toast message for quick input in borrow loan v2
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3682 feature(ui-ux): display selected vault indicator in borrow screen
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
Labels: kind/feature, area/ui-ux

#3683 fix(translations): add missing translations on bottomsheet vault list
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3684 feature(ui-ux): fixed header for loans bottom sheet
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetLoanTokensList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3687 fix(ui-ux): rearrange error condition to take priority over warning
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
Labels: kind/fix, area/ui-ux

#3688 feature(ui-ux): update passcode loading and text messages
  mobile-app/app/screens/TransactionAuthorization/api/transaction_types.ts
Labels: kind/feature, area/ui-ux

#3459 feature(ui-ux): reset nav stack upon switching address
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetailV2.tsx
Labels: kind/feature, area/ui-ux

#3692 chore(translation): update translation message for validation message for borrow-loan-token-screen
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3694 chore(translations): updated de.json
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#3681 fix(ui-ux): Loans v1 cleanup - phase 1
  jest.config.js
  jest.setup.js
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreenV2.tsx
Labels: kind/fix, area/ui-ux

#3693 fix(ui-ux): component card for pool pairs
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolSharesSection.tsx
Labels: kind/fix, area/ui-ux

#3638 feature(ui-ux): vault details screen v2
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/components/TextRowV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CloseVaultButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailCollateralsRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailLoansRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailStatus.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetLoanTokensList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetPayBackList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanActionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PayLoanCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardStatus.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultStatusTag.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralizationRatio.ts
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3362 fix(ui-ux): add cancel prompt function on all transaction
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolPairDetailsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/SwapButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/TotalValueLocked.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/enum.ts
  mobile-app/cypress/e2e/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/addresses.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/convert/convert.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3707 feature(core): add col factor on vault detail
  mobile-app/app/components/CollateralFactorTag.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailCollateralsRow.tsx
Labels: kind/feature, area/ui-ux

#3626 feature(ui-ux): add sorting feature to loans tokens screen
  mobile-app/app/components/BottomSheetWithNavV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoansTokensSortRow.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/support/loanCommands.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3691 feature(ui-ux): reset nav stack upon switching language
  mobile-app/app/screens/AppNavigator/BottomTabNavigator.tsx
  mobile-app/app/screens/AppNavigator/constants/DefaultRoutes.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/RowLanguageItem.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/LanguageSelectionScreen.tsx
Labels: kind/feature, area/ui-ux

#3667 fix(ui-ux): ui fixes v2
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVaultV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/CarouselPagination.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/LoansCarousel.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3699 fix(ui-ux): as utxo/token % breakdown displayed as decimals during lag
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenBreakdownDetailsV2.tsx
Labels: kind/fix, area/ui-ux

#3701 chore(cleanup): Auctions v1 files cleanup and update eslint rule
  .eslintrc
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionedCollaterals.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionedCollaterals.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BottomSheetAuctionedCollateral.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/CollateralTokenIconGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/CollateralTokenItemRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/EmptyBidsScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/EmptyBidsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/ManageBids.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/MinNextBidTextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BidHistory.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/EmptyBidsScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/SecondstoHm.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/ConfirmPlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
Labels: kind/chore, area/ui-ux

#3708 fix(ui-ux): updated and fix vault details v2
  mobile-app/app/components/TextRowV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3710 fix(ui-ux): navigation header alignment
  mobile-app/app/hooks/useNavigatorScreenOptions.ts
  mobile-app/app/screens/AppNavigator/hooks/useNavigatorHeaderStylesOption.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
Labels: kind/fix, area/ui-ux, area/hooks

#3705 fix(ui-ux): trailing >2dp for NEW POOLS
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexScrollable.tsx
Labels: kind/fix, area/ui-ux

#3711 fix(ui-ux): auctions minutes and seconds combined into seconds
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionTimeProgress.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/SecondstoHm.ts
Labels: kind/fix, area/ui-ux

#3716 fix(ui-ux): use informativeRatio when displaying col ratio
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
Labels: kind/fix, area/ui-ux

#3718 fix(ui-ux): resolve bug in v2.9.1
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3719 fix(ui-ux): loan card gutter
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
Labels: kind/fix, area/ui-ux

#3724 fix(ui-ux): fix cut icons on vault detail screen
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultActionButtons.tsx
Labels: kind/fix, area/ui-ux

#3722 fix(ui-ux): enlarge create vault font size no button
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultBanner.tsx
Labels: kind/fix, area/ui-ux

#3723 chore(e2e): update vault details e2e
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CloseVaultButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailCollateralsRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailLoansRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetPayBackList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PayLoanCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_with_dfi_dusd_vault_share.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/support/loanCommands.ts
Labels: kind/chore, area/ui-ux

#3725 chore(e2e): update e2e for unloop dusd loans
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailLoansRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PayLoanCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_unloop_dusd.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/support/loanCommands.ts
Labels: kind/chore, area/ui-ux

#3731 chore(e2e): update payback loan e2e
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardStatus.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/loans/loans_payback.spec.ts
Labels: kind/chore, area/ui-ux

#3735 chore(e2e): update collaterals e2e
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailCollateralsRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplayV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/support/loanCommands.ts
Labels: kind/chore, area/ui-ux

#3721 fix(ui-ux): added onPress UI state for quick input
  mobile-app/app/components/TransactionCard.tsx
  mobile-app/app/components/__snapshots__/TransactionCard.test.tsx.snap
Labels: kind/fix, area/ui-ux

#3727 chore(e2e): update failing e2e tests for Loans
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CloseVaultButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailCollateralsRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailLoansRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetPayBackList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplayV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanActionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PayLoanCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardStatus.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_payback.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_unloop_dusd.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_with_dfi_dusd_vault_share.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/support/loanCommands.ts
Labels: kind/chore, area/ui-ux
