Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-04, with the labels that each got.

#2532 chore(deps): bump local node to 2.7.0-rc
  docker-compose.yml
  package-lock.json
Labels: kind/chore

#2533 fix(core): filter out non dat in all tokens api
  shared/store/wallet.ts
Labels: kind/fix, area/store

#2464 feature(ui-ux): loans - allow DUSD to contribute to 50% of total collateral
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/VaultShare.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2507 feature(core): add address book to send screen
  mobile-app/app/components/WalletAddressRow.test.tsx
  mobile-app/app/components/WalletTextInput.tsx
  mobile-app/app/components/__snapshots__/WalletTextInput.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressSelectionButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressBook.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.test.tsx
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  mobile-app/app/screens/TransactionAuthorization/__snapshots__/PasscodePrompt.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  shared/store/authentication.ts
  shared/store/userPreferences.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#2546 feature(core): add flags for dusd payment
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/website

#2517 feature(ui-ux): `DEX` - breakdown liquidity token
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/InfoSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveUSDValue.tsx
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2516 feature(core): add dusd payment option on all loans
  mobile-app/app/components/FeeInfoRow.tsx
  mobile-app/app/components/TextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanPercentage.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PaymentTokenCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanPaymentTokenRate.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  shared/store/loans.test.ts
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/website

#2552 fix(ui-ux): remove hasBottomSheet option
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddOrEditAddressBookScreen.tsx
Labels: kind/fix, area/ui-ux

#2551 feature(ui-ux): subtract loans amount on total portfolio
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.tsx
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2553 feature(ui-ux): update e2e
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
Labels: kind/chore

#2554 fix(core): change 1 percent payment fee
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanPercentage.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PaymentTokenCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#2555 fix(ui-ux): scroll in paybackloan
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Labels: kind/fix, area/ui-ux

#2558 fix(ui-ux): faq translation fix
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
Labels: kind/fix, area/ui-ux

#2556 feature(core): add edit & delete in address book
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressListEditButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressListEditButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/AddressListEditButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  shared/store/userPreferences.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#2561 fix(ui-ux): hide edit button when no address
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
Labels: kind/fix, area/ui-ux

#2568 fix(ui-ux): translations, sorting and dBURN
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SwappableTokens.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#2573 chore(deps): bump jellyfish
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#2580 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#2581 feature(ui-ux): to update transaction section in swap screen
  mobile-app/app/components/BottomSheetInfo.tsx
  mobile-app/app/components/InfoRow.test.tsx
  mobile-app/app/components/InfoRow.tsx
  mobile-app/app/components/__snapshots__/InfoRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/ConfirmPlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  shared/contexts/DeFiScanContext.tsx
Labels: kind/feature, area/ui-ux

#2588 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#2587 chore(translations): updated fr.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#2593 feature(ui-ux): minor update on UI in swap screen
  mobile-app/app/components/InputHelperText.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageTolerance.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroup.tsx
Labels: needs/kind, area/ui-ux

#2598 chore(deps): bump jellyfish
  docker-compose.yml
  package-lock.json
  package.json
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#2599 fix(core): allow removal of col if no loans
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
Labels: kind/fix, area/ui-ux

#2608 chore(deps): bump deps
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#2609 chore(website-api): update flags and announcements
  website/src/pages/api/v0/announcements.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#2604 refactor(ui-ux): TargetTokenRow from TokenRow
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageTolerance.tsx
Labels: kind/refactor, area/ui-ux

#2637 test(e2e): flaky test case update and minor fixes
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.test.tsx
  mobile-app/cypress/integration/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Labels: kind/refactor, area/ui-ux

#2572 feature(ui-ux): add CTA to future swap from portfolio screen
  .github/workflows/pr-lint.yml
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/FutureSwapDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/FutureSwapScreen.tsx
Labels: kind/feature, area/workflow, area/ui-ux, area/transactions

#2590 chore(core): update workflows to handle iOS migration
  .github/workflows/eas-publish.yml
  app.config.js
  eas.json
Labels: kind/chore, area/workflow

#2650 chore(workflows): update oss-governance-bot.yml to use new package
  .github/workflows/oss-governance-bot.yml
Labels: kind/chore, area/workflow

#2636 feature(core): change 50% logic on payback loan
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/support/walletCommands.ts
Labels: kind/feature, area/ui-ux

#2653 chore(deps): bump dependencies
  docker-compose.yml
  package-lock.json
Labels: kind/dependencies

#2648 feature(api): add partial api integration
  mobile-app/app/components/__snapshots__/InputHelperText.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/FutureSwapDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/FutureSwapScreen.tsx
  shared/store/futureSwap.ts
  shared/store/index.ts
  shared/store/loans.ts
Labels: kind/feature, area/ui-ux, area/store

#2657 fix(core): dfi conversion on payback loan
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanPaymentTokenRate.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Labels: kind/fix, area/ui-ux

#2589 feature(ui-ux): `portfolio` - allow BTC/DFI as portfolio value
  mobile-app/app/api/index.ts
  mobile-app/app/api/persistence/portfolio_currency_storage.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/usd-precision.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenAmountText.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenBreakdownDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenBreakdownDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/TotalPortfolio.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/PortfolioCurrency.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenLockedBalance.ts
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveUSDValue.tsx
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
Labels: kind/feature, area/ui-ux, area/api

#2661 fix(ui-ux): fixed token precision value
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/CollateralTokenItemRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/precision-token-value.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/usd-precision.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionBidValue.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveUSDValue.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Labels: kind/fix, area/ui-ux

#2665 chore(deps): bump dependencies and update playground URL
  docker-compose.yml
  mobile-app/app/contexts/PlaygroundContext.tsx
  mobile-app/cypress/integration/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  package-lock.json
  shared/contexts/WhaleContext.test.tsx
  shared/contexts/WhaleContext.tsx
  shared/contexts/__snapshots__/WhaleContext.test.tsx.snap
Labels: kind/dependencies, area/contexts

#2420 performance - move fetchTokens to WalletDataProvider to prevent multiple re-renders
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/RootNavigator.tsx
  shared/contexts/WalletDataProvider.tsx
Labels: kind/refactor, area/ui-ux

#2668 feature(ui-ux): view recovery word
  mobile-app/app/components/icons/DownloadAppleIcon.tsx
  mobile-app/app/screens/AppNavigator/AppNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Legacy/LegacyNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Legacy/LegacyScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
Labels: kind/feature

#2666 feature(ui-ux): add paste and input footer to send address input
  mobile-app/app/components/WalletTextInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
Labels: kind/feature, area/ui-ux

#2671 feature(ui-ux): add address book row ui in settings page
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
Labels: kind/feature, area/ui-ux

#2662 fix(ui-ux): `balances` align token amount text on the right
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenAmountText.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
Labels: kind/fix, area/ui-ux

#2693 chore(workflows): cleanup workflow permissions and names
  .github/workflows/defichain-dependencies.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/release-drafter.yml
Labels: kind/chore, area/workflow

#2685 feature(ui-ux): update empty address book UI and auto select address on successful add
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/settings.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2699 chore(deps): update deps
  docker-compose.yml
  package-lock.json
  package.json
  website/package.json
Labels: kind/dependencies, area/website

#2684 remove collateral from list if active price is 0 #2623
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
Labels: kind/fix, area/ui-ux

#2673 style(ui-ux): update design of prices
  mobile-app/app/components/PricesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2698 feature(core): retry flags api on error
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
Labels: kind/fix, area/contexts

#2701 feature(ui-ux): update address book UI and enhance features
  mobile-app/app/components/WalletTextInput.tsx
  mobile-app/app/components/__snapshots__/WalletTextInput.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressListEditButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/AddressListEditButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/settings.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2718 feature(core): move the fetch tokens down to app nav
  mobile-app/app/screens/AppNavigator/AppNavigator.tsx
  shared/contexts/WalletDataProvider.tsx
Labels: needs/kind, area/ui-ux

#2719 feature(ui-ux): `address` book e2e
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/settings.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2723 chore(translations): add address translations
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#2727 welcome screen - display app version #2703
  mobile-app/app/components/VersionText.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
Labels: kind/feature, area/ui-ux
