Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-02, with the labels that each got.

#2085 Update de.json improvements to the formulations
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#2074 feature(ui-ux): add DUSD as collateral token
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/ActivePrice.test.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/ActivePrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/NextCollateralizationRatio.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
  shared/store/loans.test.ts
  shared/store/loans.ts
Labels: kind/feature, area/ui-ux, area/store

#2092 feature(ui-ux): add dfi loan payback faq entries
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PaymentTokenCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
Labels: kind/feature, area/translations, area/ui-ux

#2093 chore(deps): bump packages to resolve security issues
  package-lock.json
  package.json
  website/netlify.toml
  website/package.json
  website/src/pages/_app.tsx
Labels: kind/chore, area/website

#2066 feature(core): allow dfi payment in DUSD loans
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/NumberRowWithConversion.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PaymentTokenCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanPaymentTokenRate.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/support/loanCommands.ts
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/contexts

#2101 fix(core): update payback loan computations
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanPaymentTokenRate.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#2107 chore(workflow): added time and priority labels
  .github/governance.yml
  .github/labels.yml
Labels: kind/chore, area/workflow

#2114 Update de.json Making expressions more understandable
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#2118 chore: updated announcements
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#2115 test(e2e): payback loan by dfi
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PaymentTokenCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanPaymentTokenRate.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Labels: kind/chore, area/ui-ux

#2102 feature(ui-ux): `pool swap` - store last selected slippage tolerance
  mobile-app/app/api/index.ts
  mobile-app/app/api/persistence/slippage-tolerance_storage.ts
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SlippageTolerance.ts
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
Labels: kind/feature, area/ui-ux, area/api

#2088 refactor(hooks): token price optimisation
  docker-compose.yml
  mobile-app/app/api/cache/cache.test.ts
  mobile-app/app/api/cache/index.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.ts
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  package-lock.json
  package.json
Labels: kind/refactor, area/ui-ux, area/api

#2163 Update fr.json Corrections
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#2150 feature(core): display banner for outages and maintenances
  mobile-app/app/screens/AppNavigator/screens/Balances/components/Announcements.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/DefichainStatus.ts
  mobile-app/cypress/integration/functional/wallet/balances/announcements.spec.ts
  shared/store/index.ts
  shared/store/website.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  shared/types/website.ts
  website/src/pages/api/v0/announcements.ts
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/website

#2151 feature(ui-ux): `balances` - sort tokens based on USD value
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
Labels: kind/feature, area/ui-ux

#2168 fix(ui-ux): next col ratio calculation in health bar
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/ActivePrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/NextCollateralizationRatio.ts
  mobile-app/cypress/integration/functional/wallet/loans/vault_detail.spec.ts
Labels: kind/fix, area/ui-ux

#2181 build(workflow): add 2 concurrent cypress machines
  .github/workflows/ci-e2e.yml
Labels: kind/chore, area/workflow

#2179 fix(ui-ux): display n/a if resulting col is invalid
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
Labels: kind/fix, area/ui-ux

#2177 feature(ui-ux): `offline screen` - add manual reconnect
  mobile-app/app/screens/ConnectionBoundary/ConnectionBoundary.tsx
  mobile-app/app/screens/ConnectionBoundary/__snapshots__/ConnectionBoundary.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2193 Update fr.json improvement
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#2192 chore(translations): `Loans` - Missing translation (DE, FR, ZHT, ZHS)
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#2176 feature(ui-ux): add skeleton loader to balance screen
  mobile-app/app/components/SkeletonLoader.tsx
  mobile-app/app/components/TextSkeletonLoader.tsx
  mobile-app/app/components/icons/assets/index.test.tsx
  mobile-app/app/components/skeletonLoaders/BalanceSkeletonLoader.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  shared/store/wallet.test.ts
  shared/store/wallet.ts
Labels: kind/feature, area/ui-ux, area/store

#2194 chore(translations): `DEX` - Swapping Missing translation (DE, FR, ZHT, ZHS)
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#2199 chore(deps): updated LRU cache
  mobile-app/app/api/cache/index.ts
  package-lock.json
  package.json
Labels: kind/chore, area/api

#2203 feature(ui-ux): auctions improvements
  mobile-app/App.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  shared/contexts/StatsProvider.tsx
  shared/contexts/WalletDataProvider.tsx
Labels: kind/chore, area/ui-ux

#2027 feature(ui-ux): add USD values for min. next bid
  mobile-app/App.tsx
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/MinNextBidTextRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/QuickBid.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionBidValue.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/cypress/integration/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/support/walletCommands.ts
  shared/contexts/StatsProvider.tsx
  shared/contexts/WalletDataProvider.tsx
Labels: kind/feature, area/ui-ux

#2201 feature(ui-ux): `payback loans` - add half/max buttons to prefill the amount to pay
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Labels: kind/feature, area/ui-ux

#2206 chore(deps): bump expo packages
  mobile-app/app/components/HeaderSearchInput.tsx
  mobile-app/app/components/__snapshots__/HeaderSearchInput.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/dex_features.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  package-lock.json
  package.json
Labels: kind/chore, area/ui-ux

#2178 performance(ui-ux): ui component optimisation for auction and dex
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionTimeProgress.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/ManageBids.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
Labels: kind/refactor, area/ui-ux

#2200 feature(ui-ux): pool swap - slippage tolerance design update
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/BottomSheetSlippageTolerance.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageTolerance.tsx
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/support/commands.ts
Labels: kind/feature, area/ui-ux

#2221 Update de.json standardization of terms
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#2204 feature(ui-ux): add UI for button group in DEX screen
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroup.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/ButtonGroup.test.tsx.snap
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2224 chore(translations): update ZHS entries for button group label
  shared/translations/languages/zh-Hans.json
Labels: kind/chore, area/translations

#2207 feature(ui-ux): add new TVL UI component
  mobile-app/app/components/HeaderSearchIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/SwapButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/TotalValueLocked.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/TotalValueLocked.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/TotalValueLocked.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2228 feature(ui-ux): add new dex skeleton loader
  mobile-app/app/components/skeletonLoaders/DexSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
Labels: kind/feature, area/ui-ux

#2209 fix(ui-ux): `payback loan` - incorrect error message when clearing input amount
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Labels: kind/fix, area/ui-ux

#2230 fix(e2e): fix flaky e2e test case
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  mobile-app/cypress/support/loanCommands.ts
Labels: kind/chore

#2235 feature(ui-ux): rectify grammatical error for "Collateral" (uncountable noun; no `s`)
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/EmptyCollateral.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailTabSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/EmptyVault.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/loans/vault_detail.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2243 feature(ui-ux): `about` - update copy of defichain explorer to defi scan
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2251 chore(deps): bump expo deps
  package-lock.json
Labels: kind/chore

#2252 fix translations issue #2123
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
Labels: kind/fix, area/translations

#2258 feature(ui-ux): remove use callback on TX auth
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
Labels: kind/chore, area/ui-ux

#2256 feature(ui-ux): auctions- inconsistent currency unit displayed
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/CollateralTokenItemRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
Labels: kind/feature, area/ui-ux

#2261 chore(ui-ux): `Loans` - vault - missing translation de
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#2259 chore(ui-ux): loans - `CONFIRM PAYMENT` button incorrect spelling (DE)
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#2262 feature(ui-ux): grammar error: Remove s for "Auction" in quick bid drawer
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/QuickBid.tsx
  package-lock.json
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2229 feature(core): redesign dex ui cards
  mobile-app/app/components/HeaderSearchIcon.tsx
  mobile-app/app/components/HeaderSearchInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/APRSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/ActionSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/InfoSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairTextSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PriceRatesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/SwapButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/TotalValueLocked.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/ButtonGroup.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/TotalValueLocked.test.tsx.snap
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/dex_features.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2263 Update de.json standardization
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#2265 fix(ui-ux): remove animation causing issues
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
Labels: kind/fix, area/ui-ux

#2266 feature(ui-ux): add button filter to DEX
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroup.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/InfoSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/ButtonGroup.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/dex/dex_features.spec.ts
Labels: kind/feature, area/ui-ux

#2278 Update fr.json linguistic improvements
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#2156 performance(ui-ux): ui component optimisation for app
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Labels: kind/refactor, area/ui-ux
