Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-08, with the labels that each got.

#3219 feature(ui-ux): assets sort row and modal 2.0
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/components/themed/ThemedBottomSheetFlatList.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAssetSortList.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
Labels: kind/feature, area/ui-ux

#3210 feature(ui-ux): assets filter row 2.0
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AssetsFilterRow.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AssetsFilterRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/AssetsFilterRow.test.tsx.snap
Labels: kind/feature, area/ui-ux

#3220 feature(ui-ux): announcement Banner 2.0
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/Announcements.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/ActionButtons.test.tsx.snap
Labels: kind/feature, area/ui-ux

#3232 chore(deps): bump expo and eas cli
  package-lock.json
  package.json
Labels: kind/dependencies

#3222 feature(ui-ux): portfolio empty screen implementation
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/assets/EmptyCryptoIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/assets/EmptyDTokenIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/assets/EmptyLPTokenIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/assets/EmptyPortfolioIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/assets/EmptyWalletDark.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/assets/EmptyWalletLight.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AssetsFilterRow.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AssetsFilterRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/EmptyBalances.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/EmptyPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/EmptyTokensScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3234 feature(fix): Address book from send
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
Labels: kind/fix, area/ui-ux

#3235 fix(ui-ux): adjust network header and padding for settings
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/RowThemeItemV2.tsx
Labels: kind/fix, area/ui-ux

#3236 fix(ui-ux): token detail top padding fix
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
Labels: kind/fix, area/ui-ux

#3239 feature(ui-ux): add huobi
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/MarketplaceScreen.tsx
  shared/assets/images/exchanges/Huobi.png
  shared/contexts/WalletDataProvider.tsx
Labels: kind/feature, area/assets, area/ui-ux

#3241 fix(ui-ux): align currency center
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/TotalPortfolio.test.tsx.snap
Labels: kind/fix, area/ui-ux

#3238 feature(ui-ux): portfolio screen DFI balance card implementation
  mobile-app/app/components/skeletonLoaders/PortfolioSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AssetsFilterRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BalanceTextV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/EmptyTokensScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenAmountTextV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/ActionButtons.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/AssetsFilterRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/TotalPortfolio.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3245 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3246 fix(e2e): portfolio send spec e2e
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/cypress/e2e/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/e2e/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/e2e/functional/wallet/components/oceanInterface.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/addresses.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/convert/convert.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/poolpairRewards.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/receive.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/tokenDetail.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/changePasscode.spec.ts
  mobile-app/cypress/e2e/smoke/smoke.spec.ts
Labels: kind/fix, area/ui-ux

#3253 feature(ui-ux): improve display message of errors
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/components/OceanInterface/__snapshots__/TransactionError.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaqV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaqV2.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3255 fix(ui-ux): display col ratio up to 2 dp
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
Labels: kind/fix, area/ui-ux

#3269 fix(ui-ux): skip calculation when input is 0
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralizationRatio.ts
Labels: kind/fix, area/ui-ux

#3275 fix(core): display fee of dex stab fee
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/DexStabilization.ts
Labels: needs/kind, area/ui-ux

#3262 feature(ui-ux): ocean interface 2.0 - dynamic titles
  mobile-app/app/api/transaction/dfi_converter.ts
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/SignBidAndSend.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/ConfirmPlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CloseVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConfirmWithdrawFutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  mobile-app/cypress/e2e/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/convert/convert.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  shared/store/ocean.ts
  shared/store/transaction_queue.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/api

#3270 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3267 fix(ui-ux): fixed minor UI fixes for portfolio screen
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenAmountTextV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenNameTextV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/ActionButtons.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/DFIBalanceCard.test.tsx.snap
Labels: kind/fix, area/ui-ux

#3268 fix(ui-ux): display Sort by as label on first load
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3276 fix(ui-ux): minor ui fixes
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetailV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreenV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
Labels: kind/fix, area/ui-ux

#3281 feature(ui-ux): increase touch area of x in ocean interface
  mobile-app/app/components/OceanInterface/TransactionCloseButton.tsx
  mobile-app/app/components/OceanInterface/TransactionDetail.tsx
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/components/OceanInterface/__snapshots__/TransactionError.test.tsx.snap
Labels: kind/feature, area/ui-ux

#3243 feature(ui-ux): convert screen v2.0
  mobile-app/app/api/transaction/dfi_converter.ts
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/components/SummaryTitleV2.test.tsx
  mobile-app/app/components/SummaryTitleV2.tsx
  mobile-app/app/components/TransactionCard.test.tsx
  mobile-app/app/components/TransactionCard.tsx
  mobile-app/app/components/WalletTransactionCardTextInput.test.tsx
  mobile-app/app/components/WalletTransactionCardTextInput.tsx
  mobile-app/app/components/__snapshots__/SummaryTitleV2.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionCard.test.tsx.snap
  mobile-app/app/components/__snapshots__/WalletTransactionCardTextInput.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
  mobile-app/cypress/e2e/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/e2e/functional/wallet/components/oceanInterface.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/convert/convert.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/api

#3284 feature(ui-ux): remove hoo and hotbit
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/MarketplaceScreen.tsx
Labels: kind/feature, area/ui-ux

#3285 chore(ui-ux): add feature flagging for 2.0 screens
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#3286 fix(ui-ux): fixed portfolio header thin line for android device
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/TotalPortfolio.test.tsx.snap
Labels: kind/fix, area/ui-ux

#3287 chore(ui-ux): re-use existing components
  mobile-app/app/components/themed/ThemedTouchableListItem.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
Labels: kind/chore, area/ui-ux

#3297 chore(translations): updated fr.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#3296 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3291 fix(translations): update missing translation
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations

#3288 feature(core): create send v2
  mobile-app/app/api/transaction/dfi_converter.ts
  mobile-app/app/components/ButtonV2.test.tsx
  mobile-app/app/components/ButtonV2.tsx
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/components/SkeletonLoader.tsx
  mobile-app/app/components/SubmitButtonGroupV2.tsx
  mobile-app/app/components/SummaryTitleV2.test.tsx
  mobile-app/app/components/SummaryTitleV2.tsx
  mobile-app/app/components/TransactionCard.tsx
  mobile-app/app/components/__snapshots__/ButtonV2.test.tsx.snap
  mobile-app/app/components/__snapshots__/SummaryTitleV2.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionCard.test.tsx.snap
  mobile-app/app/components/skeletonLoaders/TokenSelectionLoader.tsx
  mobile-app/app/components/themed/ThemedTextInputV2.tsx
  mobile-app/app/components/themed/index.tsx
  mobile-app/app/hooks/wallet/Conversion.ts
  mobile-app/app/hooks/wallet/DisplayUtxoWarning.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveUSDValueV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/Onboarding.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/sendConfirmation.spec.ts
  shared/assets/images/send/empty-assets.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux, area/api, area/hooks

#3299 chore(website-api): set send v2 feature to public
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#3298 fix(ui-ux): reduce space and add on click on acknowledgement text of lp send
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreenV2.tsx
Labels: kind/fix, area/ui-ux

#3303 fix(ui-ux): keyboard blocking input field
  mobile-app/app/components/SummaryTitleV2.tsx
  mobile-app/app/components/__snapshots__/SummaryTitleV2.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreenV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3304 feature(ui-ux): update ocean interface for convert v2
  mobile-app/app/api/transaction/dfi_converter.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/api

#3307 feature(ui-ux): update copy and translation for token details screen
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenBreakdownDetailsV2.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/tokenDetail.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3320 fix(ui-ux): validate address issue
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreenV2.tsx
Labels: kind/fix, area/ui-ux

#3305 chore(core): remove convert screen v1
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreenV2.tsx
Labels: kind/chore, area/ui-ux

#3325 chore(translations): updated de.json
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#3324 fix(ui-ux): potential fix for disappearing bottom sheet
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/components/BottomSheetWithNavV2.tsx
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
Labels: kind/fix, area/ui-ux

#3326 chore(deps): bump dependencies
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#3266 feature(core): add/remove liquidity screen 2.0
  mobile-app/app/components/BottomSheetWithNavV2.tsx
  mobile-app/app/components/InfoText.tsx
  mobile-app/app/components/InputHelperText.tsx
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/components/PricesSectionV2.tsx
  mobile-app/app/components/ReservedDFIInfoText.tsx
  mobile-app/app/components/SubmitButtonGroupV2.tsx
  mobile-app/app/components/TransactionCard.tsx
  mobile-app/app/components/TransactionCardWalletTextInputV2.test.tsx
  mobile-app/app/components/TransactionCardWalletTextInputV2.tsx
  mobile-app/app/components/__snapshots__/TransactionCardWalletTextInputV2.test.tsx.snap
  mobile-app/app/hooks/wallet/DisplayUtxoWarning.ts
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidityV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidityV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidityV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidityV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/AddLiquidityInputCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/LiquidityCalculationSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairTextSectionV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ViewPoolAmountRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ViewPoolDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ViewPoolHeader.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/tokenDetail.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/translations, area/ui-ux, area/hooks, area/website

#3331 fix(ui-ux): missing signer copy for remove liquidity
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidityV2.tsx
Labels: needs/kind, area/ui-ux

#3334 fix(translations): future swap success message and ASSETS
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations

#3333 chore(ui-ux): refactor poolpair icon component
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairIconV2.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairIconV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairTextSectionV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/__snapshots__/PoolPairIconV2.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ViewPoolDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
Labels: kind/chore, area/ui-ux

#3280 feature(ui-ux): removed dex guideline screen
  mobile-app/app/api/index.ts
  mobile-app/app/api/persistence/display_dexguidelines_storage.ts
  mobile-app/app/screens/AppNavigator/screens/Dex/DexGuidelines.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexGuidelines.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/__snapshots__/DexGuidelines.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/dex_features.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/dex_guidelines.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/dex_poolpairs.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/futureswap.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/e2e/smoke/smoke.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/api

#3282 feature(ui-ux): update empty active poolpair
  mobile-app/app/screens/AppNavigator/screens/Dex/components/EmptyActivePoolPair.tsx
Labels: kind/feature, area/ui-ux

#3283 feature(ui-ux): scrollable Dex Top Liquidity pairs Section
  mobile-app/app/hooks/useUnitSuffix.ts
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexActionButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexActionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexScrollable.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/FavoriteButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/FavoriteButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/DexActionButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/FavoriteButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/assets/FavoriteIcon.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/hooks

#3290 feature(ui-ux): scrollable Dex new pools pairs Section
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  package-lock.json
  package.json
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3336 feature(ui-ux): defi testing v2
  mobile-app/app/components/themed/ThemedTouchableListItem.tsx
  mobile-app/app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  mobile-app/app/screens/PlaygroundNavigator/PlaygroundScreen.tsx
  mobile-app/app/screens/PlaygroundNavigator/components/PlaygroundAction.tsx
  mobile-app/app/screens/PlaygroundNavigator/components/PlaygroundStatus.tsx
  mobile-app/app/screens/PlaygroundNavigator/components/PlaygroundTitle.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundConnection.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundOperations.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundStatusInfo.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundWallet.tsx
  mobile-app/cypress/e2e/functional/onboarding/onboarding.spec.ts
Labels: kind/feature, area/playground, area/ui-ux

#3321 feature(ui-ux): dex home screen header v2
  mobile-app/app/components/HeaderNetworkStatus.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/SwapButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/TotalValueLocked.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/TotalValueLocked.test.tsx.snap
Labels: kind/feature, area/ui-ux

#3346 chore(api): birthday announcements
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#3330 feature(ui-ux): dex pair type filter and search box implementation
  mobile-app/app/components/HeaderSearchInputV2.tsx
  mobile-app/app/components/SearchInputV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexScrollable.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/TotalValueLocked.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/TotalValueLocked.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AssetsFilterRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/EmptyTokensScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/dex_features.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/dex_poolpairs.spec.ts
  mobile-app/cypress/e2e/smoke/smoke.spec.ts
  mobile-app/cypress/support/walletCommands.ts
Labels: kind/feature, area/ui-ux

#3313 feature(ui-ux): available poolpairs card
  mobile-app/app/components/skeletonLoaders/DexPricesSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/DexSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexActionButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexActionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/FavoriteButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/FavoriteButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/APRSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolSharesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PriceRatesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/DexActionButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/FavoriteButton.test.tsx.snap
Labels: kind/feature, area/ui-ux

#3348 fix(ui-ux): disable onPress on playground status info
  mobile-app/app/screens/PlaygroundNavigator/components/PlaygroundAction.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundStatusInfo.tsx
Labels: kind/fix, area/playground, area/ui-ux

#3344 fix(ui-ux): rectify inconsistency on confirm add liquidity screen
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidityV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidityV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidityV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidityV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3352 fix(e2e): fixed e2e test cases
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/cypress/e2e/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/addresses.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/sendConfirmation.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/e2e/smoke/smoke.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3335 fix(ui-ux): reset message if auth is undefined
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
Labels: kind/fix, area/ui-ux

#3349 feature(ui-ux): add LP token details page
  mobile-app/App.tsx
  mobile-app/app/api/index.ts
  mobile-app/app/api/persistence/favourite_poolpairs_storage.ts
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/contexts/FavouritePoolpairContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolPairDetailsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/FavoriteButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/FavoriteButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/YourPoolPairAmountBreakdown.ts
  shared/store/wallet.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/api, area/contexts

#3361 fix(ui-ux): pool pair details page minor fixes
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolPairDetailsScreen.tsx
Labels: kind/fix, area/ui-ux

#3360 fix(ui-ux): fixed dex main screen bugs
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolPairDetailsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexScrollable.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3364 fix(dex): performance improvement for dex landing screen
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
Labels: kind/fix, area/ui-ux

#3363 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3353 chore(ui-ux): cleanup add/remove liquidity v1
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidityV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidityV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidityV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidityV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexActionButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexActionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/DexActionButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/cypress/e2e/functional/wallet/dex/remove_liquidity.spec.ts
Labels: kind/chore, area/ui-ux

#3366 fix(translations): dex LP Tokens to receive translation
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations

#3367 feature(ui-ux): reduce font size of price rate and APR
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/APRSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PriceRatesSection.tsx
Labels: kind/feature, area/ui-ux

#3369 fix(ui-ux): change tech approach on dex stab fee
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/DexStabilization.ts
Labels: kind/fix, area/ui-ux

#3373 feature(core): add feature flag for swap 2.0
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/website

#3374 fix(ui-ux): fixed issue on token detail screen for amount update after switching currency
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/precision-token-value.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenBreakdownDetailsV2.tsx
Labels: kind/fix, area/ui-ux

#3356 chore(core): remove all send v1 screens
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreenV2.tsx
Labels: kind/chore, area/ui-ux

#3365 fix(e2e): fix e2e for v2
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/TotalValueLocked.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/TotalValueLocked.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/dex_features.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/dex_poolpairs.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/serviceProvider.spec.ts
  mobile-app/cypress/e2e/smoke/smoke.spec.ts
Labels: kind/fix, area/ui-ux

#3377 fix(ui-ux): condition for tokenB suffix
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenBreakdownDetailsV2.tsx
Labels: kind/fix, area/ui-ux

#3378 chore(translations): updated de.json
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#3380 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3379 fix(translations): fixed missing translation for add liquidity screen
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ViewPoolDetails.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3385 chore(deps): bump jellyfish packages
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore
