Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-07, with the labels that each got.

#3044 feature(ui-ux): create - recovery words screen
  mobile-app/app/components/CreateWalletStepIndicatorV2.test.tsx
  mobile-app/app/components/CreateWalletStepIndicatorV2.tsx
  mobile-app/app/components/SkeletonLoader.tsx
  mobile-app/app/components/__snapshots__/CreateWalletStepIndicatorV2.test.tsx.snap
  mobile-app/app/components/skeletonLoaders/MnemonicWordSkeletonLoaderV2.tsx
  mobile-app/app/components/skeletonLoaders/SkeletonLoader.test.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWalletV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelinesV2.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelinesV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelinesV2.test.tsx.snap
  package-lock.json
  package.json
  shared/assets/images/darkNewWallet.png
  shared/assets/images/lightNewWallet.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#3046 feature(ui-ux): verify mnemonic screen
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PasscodeFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PasscodeFaqV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWalletV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/PasscodeFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/PasscodeFaqV2.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3089 feature(ui-ux): increase DFI fee to 5%
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PaymentTokenCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanPaymentTokenRate.ts
Labels: kind/feature, area/ui-ux

#3062 feature(ui-ux): pinCreation and pinConfirmation screen
  mobile-app/app/components/CreateWalletStepIndicatorV2.tsx
  mobile-app/app/components/PinTextInputV2.tsx
  mobile-app/app/components/themed/ThemedActivityIndicatorV2.tsx
  mobile-app/app/components/themed/index.tsx
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelinesV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinConfirmationV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinCreationV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/WalletCreateRestoreSuccess.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/WalletCreateRestoreSuccess.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelinesV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/WalletCreateRestoreSuccess.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/components/LearnModeCTA.tsx
  package-lock.json
  package.json
  shared/assets/images/dark-wallet-guidelines.png
  shared/assets/images/light-wallet-guidelines.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#3092 chore(website-api): bump to public
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#3093 chore(website-api): bump to public
  package-lock.json
  shared/types/website.ts
  website/package.json
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#3100 chore(deps): bump jellyfish
  docker-compose.yml
  package-lock.json
Labels: kind/chore

#3094 feature(ui-ux): added restore wallet screen
  mobile-app/app/components/WalletTextInputV2.test.tsx
  mobile-app/app/components/WalletTextInputV2.tsx
  mobile-app/app/components/__snapshots__/WalletTextInputV2.test.tsx.snap
  mobile-app/app/components/skeletonLoaders/MnemonicWordSkeletonLoaderV2.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWalletV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/WalletCreateRestoreSuccess.tsx
  mobile-app/app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWalletV2.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Labels: kind/feature, area/ui-ux

#3097 fix(ui-ux): fixed issues with LW Onboarding v2
  mobile-app/app/components/ButtonV2.tsx
  mobile-app/app/components/NetworkItemRowV2.tsx
  mobile-app/app/components/VersionTagV2.tsx
  mobile-app/app/components/__snapshots__/ButtonV2.test.tsx.snap
  mobile-app/app/components/__snapshots__/VersionTagV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinConfirmationV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinCreationV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/WalletCreateRestoreSuccess.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelinesV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/WalletCreateRestoreSuccess.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/OnboardingV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/CarouselPagination.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarouselV2.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Labels: kind/fix, area/ui-ux

#3101 fix(ui-ux): update onboarding images
  mobile-app/app/constants/ThemeV2.ts
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  shared/assets/images/onboarding/welcome-screen-a-dark.png
  shared/assets/images/onboarding/welcome-screen-a-light.png
Labels: needs/kind, area/assets, area/ui-ux

#3102 fix(e2e): fixed restore wallet failing test case
  mobile-app/cypress/e2e/smoke/smoke.spec.ts
Labels: kind/fix

#3109 fix(ui-ux): updated clear btn icon size
  mobile-app/app/components/WalletTextInputV2.tsx
Labels: kind/fix, area/ui-ux

#3106 fix(ui-ux): header horizontal spacing and replace refresh icon
  mobile-app/app/components/ButtonV2.tsx
  mobile-app/app/components/HeaderNetworkStatus.tsx
  mobile-app/app/components/WalletTextInputV2.tsx
  mobile-app/app/components/__snapshots__/WalletTextInputV2.test.tsx.snap
  mobile-app/app/components/themed/ThemedIcon.tsx
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWalletV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWalletV2.tsx
Labels: kind/fix, area/ui-ux

#3110 fix(ui-ux): text overlap in onboarding image and use refresh svg
  mobile-app/app/screens/WalletNavigator/assets/RefreshIcon.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWalletV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/OnboardingV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWalletV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/CarouselPagination.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarouselV2.tsx
Labels: needs/kind, area/ui-ux

#3114 fix(ui-ux): fix wrapped network name
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
Labels: needs/kind, area/ui-ux

#3113 chore(translations): added FR and DE translations from Onboarding V2
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelinesV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinConfirmationV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWalletV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelinesV2.test.tsx.snap
  package-lock.json
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations, area/ui-ux

#3103 feature(ui-ux): display high fees warning dusd-dfi
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/DexStabilization.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/Announcements.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBestPath.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  shared/types/website.ts
  website/src/pages/api/v0/announcements.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/translations, area/ui-ux, area/website

#3115 chore(announcements): revert announcements
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#3118 chore(ui-ux): missing translations
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PasscodeFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/PasscodeFaq.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3108 feature(e2e): added e2e for onboarding v2
  mobile-app/app/components/HeaderNetworkStatus.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelinesV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinCreationV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/WalletCreateRestoreSuccess.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelinesV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/WalletCreateRestoreSuccess.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/components/LearnModeCTA.tsx
  mobile-app/cypress/e2e/functional/onboarding/createMnemonicWalletV2.spec.ts
  mobile-app/cypress/e2e/functional/onboarding/onboardingV2.spec.ts
  mobile-app/cypress/e2e/functional/onboarding/restoreV2.spec.ts
  mobile-app/cypress/e2e/smoke/smokeV2.spec.ts
  mobile-app/cypress/support/commands.ts
  mobile-app/cypress/support/onboardingCommandsV2.ts
Labels: kind/feature, area/ui-ux

#3117 chore(ui-ux): update exchange list
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/GetDFIScreen.tsx
  shared/assets/images/exchanges/Bybit.png
  shared/assets/images/exchanges/Swyftx.png
Labels: kind/chore, area/assets, area/ui-ux

#3116 fix(ui-ux): fixed ui for pin creation and confirmation
  mobile-app/app/components/PinTextInputV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinConfirmationV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinCreationV2.tsx
Labels: kind/fix, area/ui-ux

#3121 chore(website-api): update flags and announcements
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/Announcements.tsx
  shared/types/website.ts
  website/src/pages/api/v0/announcements.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/ui-ux, area/website

#3122 feature(ui-ux): display DEX stabilization fee
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  shared/store/wallet.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#3124 feature(website-api): added setting v2 flag for settingv2 onboarding
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/website

#3123 feature(ui-ux): added design for faq screen for v2
  mobile-app/app/components/WalletAccordionV2.tsx
  mobile-app/app/components/__snapshots__/WalletAccordionV2.test.tsx.snap
  mobile-app/app/hooks/useNavigatorScreenOptions.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionsFaqV2.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionsFaqV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/__snapshots__/AuctionsFaqV2.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaqV2.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaqV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaqV2.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokensVsUtxoFaqV2.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokensVsUtxoFaqV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/__snapshots__/TokensVsUtxoFaqV2.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigatorV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreenV2.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/KnowledgeBaseScreenV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/DexFaqV2.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/DexFaqV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LiquidityMiningFaqV2.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LiquidityMiningFaqV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PasscodeFaqV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/RecoveryWordsFaqV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/DexFaqV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LiquidityMiningFaqV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/PasscodeFaqV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/RecoveryWordsFaqV2.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/hooks

#3125 feature(ui-ux): bottom navigation 2
  mobile-app/app/screens/AppNavigator/BottomTabNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/EmptyTransaction.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  mobile-app/app/screens/WalletNavigator/assets/BottomNavIcon.tsx
  mobile-app/cypress/e2e/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/settings.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/detail.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/list.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/list_empty.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3130 feature(ui-ux): added recovery words v2 in setting screen
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigatorV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/RecoveryWordsScreenV2.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/RecoveryWordsScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/RecoveryWordsScreenV2.test.tsx.snap
Labels: kind/feature, area/ui-ux

#3131 feature(ui-ux): update beta screen for v2
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3128 feature(ui-ux): setting screen v2 implementation
  docker-compose.yml
  mobile-app/app/components/skeletonLoaders/MnemonicWordSkeletonLoaderV2.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigatorV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/RowThemeItemV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWalletV2.tsx
  package-lock.json
  package.json
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3132 feature(ui-ux): update language screen v2.0
  mobile-app/app/screens/AppNavigator/screens/Settings/components/RowLanguageItem.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/LanguageSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  shared/translations/index.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3141 chore(deps): bump deps
  package-lock.json
  shared/assets/images/adaptive-icon.png
  shared/assets/images/icon.png
Labels: kind/dependencies, area/assets

#3134 feature(ui-ux): added service provider screen update
  mobile-app/app/components/HeaderNetworkStatus.tsx
  mobile-app/app/components/WalletTextInputV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigatorV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/ResetButtonV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/RowThemeItemV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ServiceProviderScreenV2.tsx
  mobile-app/cypress/e2e/functional/wallet/settings/settings.spec.ts
  mobile-app/cypress/support/commands.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3142 chore(ui-ux): added lg-v2 and xl-v2 border radius style
  mobile-app/app/components/WalletTextInputV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/ResetButtonV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/LanguageSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/RecoveryWordsScreenV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWalletV2.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Labels: kind/chore, area/ui-ux

#3146 fix(ui-ux): bottom sheet slowness
  mobile-app/app/components/BottomSheetInfo.tsx
  package-lock.json
Labels: kind/fix, area/ui-ux

#3148 fix(ui-ux): minor text casing and layout issue
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreenV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3144 feature(ui-ux): update about screen V2
  mobile-app/app/components/VersionTagV2.tsx
  mobile-app/app/components/__snapshots__/VersionTagV2.test.tsx.snap
  mobile-app/app/components/icons/AppIcon.tsx
  mobile-app/app/components/icons/__snapshots__/AppIcon.test.tsx.snap
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/ErrorBoundary/__snapshots__/ErrorBoundary.test.tsx.snap
  shared/assets/images/DeFiChainWallet-dark.png
  shared/assets/images/DeFiChainWallet-light.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#3149 chore(ui-ux): cleanup flags
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/ManageBids.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/settings/featureGate.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/knowledgeBase.spec.ts
  shared/contexts/WalletDataProvider.tsx
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/ui-ux, area/contexts, area/website

#3143 feature(ui-ux): get DFI screen v2.0
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/GetDFIScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/GetDFIScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/MarketplaceScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/__snapshots__/GetDFIScreen.test.tsx.snap
  mobile-app/cypress-visual-screenshots/comparison/functional/wallet/balances/receive.spec.ts-qr-code-container.png
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  package-lock.json
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/translations, area/ui-ux, area/website

#3152 feature(ui-ux): update community screen v2
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3159 fix(ui-ux): missing translations
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ServiceProviderScreenV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3160 fix(ui-ux): `receive` screen fix qr code
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ReceiveScreen.tsx
Labels: kind/fix, area/ui-ux

#3162 fix(ui-ux): missing translations
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ServiceProviderScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ServiceProviderScreenV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3127 feature(ui-ux): passcode prompt v2
  mobile-app/app/components/PinTextInputV2.tsx
  mobile-app/app/components/themed/ThemedIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ReceiveScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreenV2.tsx
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.test.tsx
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  shared/store/authentication.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#3158 fix(ui-ux): wallet address issue
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/GetDFIScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/__snapshots__/GetDFIScreen.test.tsx.snap
Labels: kind/fix, area/ui-ux

#3163 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3164 feature(ui-ux): updated ios icon
  shared/assets/images/icon.png
Labels: kind/feature, area/assets

#3165 chore(translations): updated fr.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#3133 feature(ui-ux): change and verify passcode v2
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigatorV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ChangePinScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/RecoveryWordsScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/RecoveryWordsScreenV2.test.tsx.snap
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3166 chore(translations): add entries for change passcode screen
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#3168 fix(ui-ux): language screen tick icon
  mobile-app/app/screens/AppNavigator/screens/Settings/components/RowLanguageItem.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
Labels: kind/fix, area/ui-ux

#3173 fix(ui-ux): update grid background images for about screen
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  shared/assets/images/about-grid-bg-dark.png
  shared/assets/images/about-grid-bg-light.png
Labels: kind/fix, area/assets, area/ui-ux

#3154 feature(ui-ux): address book v2 integration
  mobile-app/app/components/SearchInputV2.tsx
  mobile-app/app/components/WalletTextInputV2.tsx
  mobile-app/app/components/__snapshots__/WalletAddressRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/WalletTextInputV2.test.tsx.snap
  mobile-app/app/components/themed/ThemedFlatListV2.tsx
  mobile-app/app/components/themed/ThemedTextInputV2.tsx
  mobile-app/app/components/themed/index.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroupV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/RandomAvatar.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/AddressControlScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/AddressSelectionButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddOrEditAddressBookScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/GetDFIScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/GetDFIScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ReceiveScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ReceiveScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigatorV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/assets/FavoriteIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/KnowledgeBaseScreenV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/assets/RefreshIcon.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/RecoveryWordsFaqV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/RecoveryWordsFaqV2.test.tsx.snap
  shared/assets/images/empty-address-dark.png
  shared/assets/images/empty-address-light.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#3174 chore(ui-ux): added missing translations
  mobile-app/app/components/WalletTextInputV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddOrEditAddressBookScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreenV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3175 fix(ui-ux): padding on android
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/RowThemeItemV2.tsx
Labels: kind/fix, area/ui-ux

#3183 feature(website-api): add portfolio 2.0 feature flag
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/website

#3184 Translation (DE): Current translation for "LP Token" breaks UI #2535
  shared/translations/languages/de.json
Labels: kind/fix, area/translations

#3186 feature(ui-ux): add new reusable ThemedListItem component
  mobile-app/app/components/themed/ThemedListItem.tsx
  mobile-app/app/components/themed/index.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/MarketplaceScreen.tsx
Labels: kind/feature, area/ui-ux

#3189 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3182 chore(ui-ux): onboarding v1 cleanup
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWallet.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateMnemonicWalletV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelinesV2.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelinesV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreenV2.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreenV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinConfirmation.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinConfirmationV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinCreation.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinCreationV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWallet.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/VerifyMnemonicWalletV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/WalletCreateRestoreSuccess.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelinesV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreenV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/Onboarding.tsx
  mobile-app/app/screens/WalletNavigator/screens/OnboardingV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWallet.tsx
  mobile-app/app/screens/WalletNavigator/screens/RestoreWallet/RestoreMnemonicWalletV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarouselV2.tsx
  mobile-app/cypress/e2e/functional/onboarding/createMnemonicWallet.spec.ts
  mobile-app/cypress/e2e/functional/onboarding/createMnemonicWalletV2.spec.ts
  mobile-app/cypress/e2e/functional/onboarding/onboarding.spec.ts
  mobile-app/cypress/e2e/functional/onboarding/onboardingV2.spec.ts
  mobile-app/cypress/e2e/functional/onboarding/restore.spec.ts
  mobile-app/cypress/e2e/functional/onboarding/restoreV2.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/settings.spec.ts
  mobile-app/cypress/e2e/smoke/smokeV2.spec.ts
  mobile-app/cypress/support/commands.ts
  mobile-app/cypress/support/onboardingCommands.ts
  mobile-app/cypress/support/onboardingCommandsV2.ts
Labels: kind/chore, area/ui-ux

#3191 fix(ui-ux): update ThemeTouchableListItem.tsx and fix some screen
  mobile-app/app/components/NetworkItemRowV2.tsx
  mobile-app/app/components/themed/ThemedTouchableListItem.tsx
  mobile-app/app/components/themed/index.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/MarketplaceScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/RowLanguageItem.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/LanguageSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreenV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
Labels: kind/refactor, area/ui-ux

#3192 chore(deps): bump packages
  docker-compose.yml
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBestPath.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenPrice.test.tsx
  package-lock.json
  package.json
Labels: kind/chore, area/ui-ux

#3180 chore(e2e): e2e test case update
  mobile-app/app/components/HeaderNetworkStatus.tsx
  mobile-app/app/components/NetworkItemRowV2.tsx
  mobile-app/app/components/icons/assets/NetworkIcon.tsx
  mobile-app/app/components/skeletonLoaders/SkeletonLoader.test.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddOrEditAddressBookScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/ResetButtonV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ServiceProviderScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreenV2.test.tsx.snap
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  mobile-app/cypress/e2e/functional/onboarding/restore.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/addressBook.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/community.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/featureGate.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/knowledgeBase.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/serviceProvider.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/settings.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/detail.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/list.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/list_empty.spec.ts
  mobile-app/cypress/e2e/smoke/smoke.spec.ts
  mobile-app/cypress/e2e/smoke/smokeV2.spec.ts
  mobile-app/cypress/support/commands.ts
  mobile-app/cypress/support/onboardingCommands.ts
Labels: kind/chore, area/ui-ux

#3187 chore(e2e): fixed flaky e2e tests
  mobile-app/cypress/e2e/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/e2e/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/addresses.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/addressBook.spec.ts
  mobile-app/cypress/support/walletCommands.ts
Labels: kind/chore

#3181 feature(ui-ux): token details screen 2.0
  mobile-app/app/components/InfoTextLink.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairTextSectionV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenBreakdownDetailsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/tokenDetail.spec.ts
  shared/store/wallet.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#3188 feature(ui-ux): add portfolio 2.0 header and address selection button v2
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/assets/SettingsIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressSelectionButtonV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/HeaderSettingButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/HeaderSettingButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/TotalPortfolio.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/portfolio/addresses.spec.ts
Labels: kind/feature, area/ui-ux

#3195 feature(ui-ux): add total portfolio value v2 and currency switcher v2
  mobile-app/app/components/HeaderNetworkStatus.tsx
  mobile-app/app/components/TextSkeletonLoaderV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/precision-token-value.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BalanceTextV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/TotalPortfolio.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigatorV2.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  mobile-app/cypress/support/commands.ts
Labels: kind/feature, area/ui-ux

#3199 fix(e2e): click on visible header network icon
  mobile-app/cypress/e2e/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/settings.spec.ts
Labels: kind/fix

#3193 feature(core): display dex stabilization warning fees for dUSDC, dUSDT paired with DUSD
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/DexStabilization.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  shared/types/website.ts
  website/src/pages/api/v0/announcements.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/translations, area/ui-ux, area/website

#3190 feature(ui-ux): update address switcher ui to v2
  mobile-app/app/components/BottomSheetWithNavV2.tsx
  mobile-app/app/components/SubmitButtonGroupV2.tsx
  mobile-app/app/components/WalletToast.tsx
  mobile-app/app/components/__snapshots__/WalletToast.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetailV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetHeaderBackButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/CreateOrEditAddressLabelFormV2.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/addresses.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3201 fix(core): revert previous flag name
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/fix, area/website

#3204 feature(ui-ux): add info text in future swap list
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/FutureSwapScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3212 chore(deps): bump packages
  docker-compose.yml
  package-lock.json
Labels: kind/chore

#3213 fix(ui-ux): label of zht in language select
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  shared/translations/index.ts
Labels: kind/fix, area/translations, area/ui-ux

#3214 fix(core): display of percentage and refactor dex stabilization hook
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/DexStabilization.ts
Labels: kind/fix, area/ui-ux

#3211 feature(ui-ux): ocean Interface v2.0
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/components/OceanInterface/TransactionCloseButton.tsx
  mobile-app/app/components/OceanInterface/TransactionDetail.tsx
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/components/OceanInterface/TransactionIDButton.tsx
  mobile-app/app/components/OceanInterface/__snapshots__/TransactionError.test.tsx.snap
  shared/store/ocean.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#3215 fix(ui-ux): fix light mode on ocean interface
  mobile-app/app/components/OceanInterface/TransactionDetail.tsx
Labels: kind/fix, area/ui-ux

#3202 feature(ui-ux): address book from send screen
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreenV2.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/addressBook.spec.ts
Labels: kind/feature, area/ui-ux

#3221 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3196 feature(ui-ux): implemented action button portfolio 2.0
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/ActionButtons.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/FutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreenV2.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  mobile-app/cypress/e2e/functional/wallet/dex/futureswap.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/detail.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/list.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/list_empty.spec.ts
  shared/store/futureSwap.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#3200 feature(ui-ux): implementation of asset list view for portfolio page
  mobile-app/app/components/icons/assets/DefaultLoanToken.tsx
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/index.test.tsx
  mobile-app/app/components/icons/assets/index.ts
  mobile-app/app/components/skeletonLoaders/PortfolioSkeletonLoader.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveUSDValueV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BalanceTextV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenAmountTextV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenNameTextV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/TotalPortfolio.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/WithdrawFutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/__snapshots__/TokensVsUtxoScreen.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
Labels: kind/feature, area/ui-ux

#3228 fix(ui-ux): redirect to new network details from Portfolio
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  shared/assets/images/adaptive-icon.png
  shared/assets/images/icon.png
Labels: kind/fix, area/assets, area/ui-ux
