Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-03, with the labels that each got.

#2295 fix(ui-ux): wrapping of APR and button group
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/APRSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairTextSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/ButtonGroup.test.tsx.snap
Labels: kind/fix, area/ui-ux

#2302 feature(core): update payback loan max behaviour
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PaymentTokenCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/LoanPaymentTokenRate.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1899 feature(core): add bid history tab in auction detail
  mobile-app/app/components/Tabs.tsx
  mobile-app/app/components/__snapshots__/Tabs.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionedCollaterals.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionTimeProgress.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BidCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BidHistory.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/SecondstoHm.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionTimeLeft.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/BidTimeAgo.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
  mobile-app/cypress/integration/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/dex_features.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/support/index.ts
  package-lock.json
  shared/store/auctions.test.ts
  shared/store/auctions.ts
  shared/store/loans.test.ts
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#2315 chore(translations): update search poolpair placeholder
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations, area/ui-ux

#2260 fix(ui-ux): transaction passcode - restart transaction
  mobile-app/app/components/SubmitButtonGroup.tsx
  mobile-app/app/hooks/useNonInitialEffect.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/ConfirmPlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CloseVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  mobile-app/app/screens/TransactionAuthorization/api/transaction_types.ts
  mobile-app/cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/receive.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/sendConfirmation.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/changePasscode.spec.ts
  shared/store/transaction_queue.test.ts
  shared/store/transaction_queue.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux, area/store, area/hooks

#2320 fix(e2e): fix Loans - Payback Loans
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Labels: kind/fix

#2321 feature(ui-ux): updated avatar
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/RandomAvatar.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/AddressControlScreen.test.tsx.snap
Labels: kind/feature, area/ui-ux

#2325 build(deps): bump jellyfish and playground to one package
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#2300 fix(ui-ux): cancelling a search will reset button filter (#2273)
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
Labels: kind/fix, area/ui-ux

#2349 chore(core): consolidate playground bumping in defichain-dependencies.yml
  .github/workflows/defichain-dependencies.yml
Labels: kind/chore, area/workflow

#2332 fix(ui-ux): translate date formatting and fix various other translations
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionTimeLeft.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/DefichainStatus.ts
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  shared/contexts/LanguageProvider.tsx
  shared/translations/languages/de.json
Labels: kind/fix, area/translations, area/ui-ux

#2344 fix(ui-ux): cancelling a search will reset button filter
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/dex_features.spec.ts
Labels: kind/fix, area/ui-ux

#2303 feature(ui-ux): `collaterals` - add resulting vault share when adding/removing collateral
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2358 feature(ui-ux): loader for portfolio value breakdown
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.tsx
  shared/store/loans.ts
  shared/store/wallet.ts
Labels: kind/feature, area/ui-ux, area/store

#2364 fix(ui-ux): pass display symbol
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/QuickBid.tsx
Labels: kind/fix, area/ui-ux

#2348 feature(ui-ux): portfolio value breakdown
  mobile-app/app/screens/AppNavigator/BottomTabNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/TotalPortfolio.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/settings.spec.ts
  shared/store/loans.ts
  shared/store/wallet.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#2365 fix(ui-ux): `vault share` - display default values on 0 or max amount
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#2367 chore(deps): bump packages
  package-lock.json
Labels: kind/chore

#2363 fix(core): change payback loan's max to available amount if balance is not enough
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Labels: kind/fix, area/ui-ux

#2355 fix(ui-ux): translate date formatting and fix various other translati…
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionTimeLeft.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/AddressControlScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/DefichainStatus.ts
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/screens/TransactionDetailScreen.tsx
  shared/contexts/LanguageProvider.tsx
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2373 fix(ui-ux): set min value of vault share to 0%
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/VaultShare.ts
Labels: kind/fix, area/ui-ux

#2374 chore(deps): bump expo packages
  package-lock.json
Labels: kind/chore

#2370 fix(core): display payment tokens even if no balance
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
Labels: kind/fix, area/ui-ux

#2350 feature(ui-ux): add DFI token breakdown
  mobile-app/app/components/TextSkeletonLoader.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenBreakdownPercentage.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/TotalPortfolio.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenLockedBalance.ts
  mobile-app/cypress/integration/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/receive.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/components/oceanInterface.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/changePasscode.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  shared/assets/images/DFI_balance_background.png
  shared/assets/images/DFI_balance_background_dark.png
  shared/assets/images/DFI_balance_bg_gradient.png
  shared/assets/images/DFI_balance_bg_gradient_dark.png
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#2381 fix(translations): updated
  shared/translations/languages/fr.json
Labels: kind/fix, area/translations

#2379 chore(deps): bump expo deps
  package-lock.json
Labels: kind/chore

#2383 fix(translations): fixed translation for portfolio
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations

#2384 fix(translations): fixed FR translation for locked in vault(s)
  shared/translations/languages/fr.json
Labels: needs/kind, area/translations

#2386 chore(translations): updated fr.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#2388 feature(ui-ux): add breakdown percentage and details to token in portfolio
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenBreakdownDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenBreakdownDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenBreakdownPercentage.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/TokenBreakdownDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenLockedBalance.ts
  mobile-app/cypress/integration/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/convert/convert.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/poolpairRewards.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/receive.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/components/oceanInterface.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/changePasscode.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
Labels: kind/feature, area/ui-ux

#2398 feature(core): remove preselect on to token
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/dex_features.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2410 chore(deps): bump expo deps and docker
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#2399 feature(ui-ux): add address selection button to portfolio header
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressSelectionButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressSelectionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceControlCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/EmptyBalances.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/HeaderSettingButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/HeaderSettingButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/AddressSelectionButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/HeaderSettingButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/TotalPortfolio.test.tsx.snap
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/available_pool_pairs.spec.ts
Labels: kind/feature, area/ui-ux

#2413 feature(website-api): updated announcements and flags
  .nvmrc
  shared/types/website.ts
  website/src/pages/api/v0/announcements.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#2369 refactor filter logic in DexScreen
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
Labels: kind/refactor, area/ui-ux

#2426 chore(e2e): announcements banner update
  mobile-app/cypress/integration/functional/wallet/balances/announcements.spec.ts
Labels: kind/chore

#2422 chore(deps): bump deps
  docker-compose.yml
  mobile-app/app/api/wallet/index.ts
  package-lock.json
  package.json
Labels: kind/chore, area/api

#2430 chore(deps): bump deps
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#2443 chore(deps): bump deps
  docker-compose.yml
  package-lock.json
Labels: kind/chore

#2432 feature(ui-ux): `portfolio` - sorting and filtering tokens
  mobile-app/app/components/__snapshots__/WalletAccordion.test.tsx.snap
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/components/themed/ThemedScrollView.tsx
  mobile-app/app/components/themed/ThemedSectionList.tsx
  mobile-app/app/components/themed/ThemedView.tsx
  mobile-app/app/components/themed/__snapshots__/ThemedSectionList.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/EmptyAuction.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/EmptyBidsScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/__snapshots__/AuctionsFaq.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/AddressControlScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/__snapshots__/TokensVsUtxoScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/ButtonGroup.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/EmptyVault.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/KnowledgeBaseScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/RecoveryWordsScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Transactions/__snapshots__/EmptyTransaction.test.tsx.snap
  mobile-app/app/screens/ConnectionBoundary/__snapshots__/ConnectionBoundary.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/DexFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LiquidityMiningFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/PasscodeFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/RecoveryWordsFaq.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2304 feature(core): create local storage
  mobile-app/App.tsx
  mobile-app/app/api/local_storage/provider/index.ts
  mobile-app/app/api/local_storage/provider/provider.native.ts
  mobile-app/app/api/local_storage/provider/provider.ts
  package-lock.json
  package.json
  shared/contexts/WalletDataProvider.tsx
  shared/store/index.ts
  shared/store/userPreferences.ts
Labels: kind/feature, area/store, area/api

#2456 feature(ui-ux): update sorting icon
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceCard.tsx
Labels: kind/feature, area/ui-ux

#2435 chore(core): delete feature flag on auctions
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/auctions/auctions.spec.ts
Labels: kind/chore, area/ui-ux, area/contexts

#2436 feature(ui-ux): update UI for address selection bottom sheet
  mobile-app/App.tsx
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/components/WalletToast.test.tsx
  mobile-app/app/components/WalletToast.tsx
  mobile-app/app/components/__snapshots__/WalletToast.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/support/commands.ts
  package-lock.json
  package.json
  shared/contexts/WalletContext.tsx
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2459 chore(deps): bump deps
  package-lock.json
Labels: kind/chore

#2437 feature(ui-ux): `portfolio` - empty state
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/assets/EmptyWalletDark.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/assets/EmptyWalletLight.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/assets/NoTokensDark.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/assets/NoTokensLight.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/EmptyBalances.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/EmptyPortfolio.tsx
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2461 feature(ui-ux): deduct loan value
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/TotalPortfolio.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#2460 chore(ui-ux): `portfolio` - code cleanup
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceCard.tsx
Labels: kind/chore, area/ui-ux

#2471 chore(deps): bump packages
  package-lock.json
  package.json
Labels: kind/chore

#2472 feature(ui-ux): `portfolio` - hide breakdown percentage when user turned off balance display
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/EmptyPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenBreakdownPercentage.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/support/walletCommands.ts
Labels: kind/feature, area/ui-ux

#2473 chore(ui-ux): `loans` - light theme inconsistency
  mobile-app/app/components/themed/ThemedSectionTitle.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
Labels: kind/chore, area/ui-ux

#2477 feature(core): allow user to edit address label
  mobile-app/app/api/local_storage/provider/provider.ts
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/components/__snapshots__/ConversionDetailsRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/hooks/useAddressLabel.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressSelectionButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressSelectionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/AddressControlScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/KnowledgeBaseScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
  shared/store/userPreferences.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/api, area/hooks

#2483 chore(deps): bump packages
  docker-compose.yml
  package-lock.json
  package.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#2485 fix(ui-ux): set min & max width for AddressSelectionButton
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressSelectionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/AddressSelectionButton.test.tsx.snap
Labels: kind/fix, area/ui-ux

#2487 feature(ui-ux): updated translations
  mobile-app/app/screens/AppNavigator/screens/Balances/components/CreateOrEditAddressLabelForm.tsx
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2497 feature(ui-ux): `address` - display the new address component on all co…
  mobile-app/app/components/WalletAddressRow.test.tsx
  mobile-app/app/components/WalletAddressRow.tsx
  mobile-app/app/components/__snapshots__/WalletAddressRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressSelectionButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressSelectionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/AddressSelectionButton.test.tsx.snap
Labels: kind/feature, area/ui-ux

#2492 chore(e2e): add tests for edit address label
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
Labels: kind/chore, area/ui-ux

#2500 chore(deps): bump packages
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#2513 chore(deps): bump packages
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#2489 feature(ui-ux): add vault scheme skeleton loader
  mobile-app/app/components/SkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/SkeletonLoader.test.tsx
  mobile-app/app/components/skeletonLoaders/VaultSchemeSkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanSchemeOptions.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  shared/store/loans.test.ts
  shared/store/loans.ts
Labels: kind/feature, area/ui-ux, area/store

#2475 fix(ui-ux): fix for portfolio page skeleton loaders
  mobile-app/app/components/skeletonLoaders/BalanceSkeletonLoader.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.tsx
Labels: kind/fix, area/ui-ux

#2499 feature(ui-ux): `address selection screen` - increase bottom sheet height
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
Labels: kind/feature, area/ui-ux

#2515 chore(deps): update jellyfish and node packages for hardfork testing
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#2434 refactor(core): integrate swappable tokens from whale
  mobile-app/app/components/icons/assets/index.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SwappableTokens.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  shared/store/wallet.test.ts
  shared/store/wallet.ts
Labels: kind/refactor, area/ui-ux, area/store

#2525 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations
