Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-09, with the labels that each got.

#3382 fix(ui-ux): fixed negative dfi value for add liquidity screen
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
Labels: kind/fix, area/ui-ux

#3387 chore(ui-ux): remove announcement in lw
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#3390 chore(deps): format e2e test files
  .github/workflows/ci.yml
  mobile-app/App.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/Announcements.tsx
  mobile-app/cypress/.eslintrc
  mobile-app/cypress/e2e/functional/onboarding/createMnemonicWallet.spec.ts
  mobile-app/cypress/e2e/functional/onboarding/onboarding.spec.ts
  mobile-app/cypress/e2e/functional/onboarding/restore.spec.ts
  mobile-app/cypress/e2e/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/e2e/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/e2e/functional/wallet/components/oceanInterface.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/dex_features.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/dex_poolpairs.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/futureswap.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/remove_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/addresses.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/announcements.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/convert/convert.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/poolpairRewards.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/receive.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/sendConfirmation.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/tokenDetail.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/addressBook.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/changePasscode.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/community.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/featureGate.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/knowledgeBase.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/serviceProvider.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/settings.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/detail.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/list.spec.ts
  mobile-app/cypress/e2e/functional/wallet/transaction/list_empty.spec.ts
  mobile-app/cypress/e2e/smoke/smoke.spec.ts
  mobile-app/cypress/plugins/index.ts
  mobile-app/cypress/support/commands.ts
  mobile-app/cypress/support/e2e.ts
  mobile-app/cypress/support/loanCommands.ts
  mobile-app/cypress/support/onboardingCommands.ts
  mobile-app/cypress/support/walletCommands.ts
  mobile-app/cypress/tsconfig.json
Labels: kind/chore, area/workflow, area/ui-ux

#3394 chore(deps): cleanup
  .editorconfig
  jest.setup.js
  mobile-app/app/screens/AppNavigator/AppNavigator.tsx
  mobile-app/app/screens/Main.web.tsx
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  package-lock.json
  package.json
  website/next.config.js
  website/package.json
  website/src/public/_redirects
Labels: kind/chore, area/ui-ux, area/website

#3396 chore(ui-ux): run lint
  .eslintrc
  mobile-app/app/contexts/StoreServiceProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/EmptyTokensScreen.tsx
  mobile-app/app/screens/PlaygroundNavigator/components/PlaygroundAction.tsx
  website/.eslintrc
  website/src/components/layouts/Default.tsx
  website/src/pages/index.tsx
Labels: kind/chore, area/playground, area/ui-ux, area/contexts, area/website

#3397 fix(translations): added missing translation for Slippage tolerance
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations

#3371 feature(ui-ux): future swap from portfolio v2
  mobile-app/app/components/SummaryTitleV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/FutureSwap.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConfirmWithdrawFutureSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/FutureSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ViewSwapInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/WithdrawFutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/WithdrawFutureSwapScreenV2.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundStatusInfo.tsx
  mobile-app/cypress/e2e/functional/wallet/dex/futureswap.spec.ts
  shared/contexts/LanguageProvider.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  website/.eslintrc
  website/src/pages/api/v0/announcements.ts
Labels: kind/feature, area/translations, area/playground, area/ui-ux, area/website

#3403 chore(ui-ux): added typings and added useWalletAddress for bottom sheet address details
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/QuickBid.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/AddLiquidityInputCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetailV2.tsx
Labels: kind/chore, area/ui-ux

#3392 feature(core): create button group (tabs) on swap v2 (2)
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapButtonGroup.tsx
Labels: kind/feature, area/ui-ux

#3408 fix(ui-ux): add missing translations
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ConfirmPinScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3401 feature(core): redesign from and to (4)
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapRowTo.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/TokenDropdownButton.tsx
Labels: kind/feature, area/ui-ux

#3405 feature(core): redesign price rates (5)
  mobile-app/app/components/BottomSheetInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
Labels: kind/feature, area/ui-ux

#3413 fix(ui-ux): add dollar prefix to total liquidity in new pools
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexScrollable.tsx
Labels: kind/fix, area/ui-ux

#3406 feature(core): add transaction and total fees (6)
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBestPath.ts
Labels: kind/feature, area/ui-ux

#3381 feature(core): composite(instant/future) swap v2 update (7)
  .github/workflows/ci.yml
  .github/workflows/expo-preview.yml
  .github/workflows/pr-lint.yml
  .github/workflows/translations-reporter.yml
  mobile-app/app/components/BottomSheetInfo.tsx
  mobile-app/app/components/BottomSheetInfoV2.tsx
  mobile-app/app/components/BottomSheetModalV2.tsx
  mobile-app/app/components/TransactionCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
Labels: kind/feature, area/workflow, area/ui-ux

#3407 feature(ui-ux): swap v2 token selection screen (9)
  mobile-app/app/components/TransactionCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapRowTo.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/ViewFeeDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SwappableTokensV2.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenNameTextV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3410 feature(ui-ux): future swap oracle price warning (10)
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/Announcements.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3411 fix(ui-ux): swap v2 random fixes (11)
  mobile-app/app/components/ConfirmSummaryTitleV2.tsx
  mobile-app/app/components/TransactionCard.tsx
  mobile-app/app/components/TransactionCardWalletTextInputV2.test.tsx
  mobile-app/app/components/TransactionCardWalletTextInputV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapButtonGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/TokenDropdownButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/AddLiquidityInputCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroupV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/FutureSwap.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/WithdrawFutureSwapScreenV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3409 feature(ui-ux): slippage tolerance v2 (12)
  mobile-app/app/components/WalletTextInputV2.tsx
  mobile-app/app/components/__snapshots__/WalletTextInputV2.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/BottomSheetSlippageInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageToleranceV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/TokenDropdownButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/DFIBalanceCard.test.tsx.snap
Labels: kind/feature, area/ui-ux

#3419 fix(ui-ux): swap v2 fixes
  mobile-app/app/components/BottomSheetInfoV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3420 feature(ui-ux): add checkbox for dex stab confirmation on confirm pag…
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreenV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3421 chore(deps): bump jellyfish
  docker-compose.yml
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBestPath.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenPrice.test.tsx
  package-lock.json
  package.json
Labels: kind/chore, area/ui-ux

#3424 fix(ui-ux): fix bottom sheet modal for NumberRowV2
  mobile-app/app/components/BottomSheetInfoV2.tsx
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3423 chore(ui-ux): add translations
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageToleranceV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3422 chore(ui-ux): display token name in swap token selections list
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SwappableTokensV2.ts
Labels: kind/chore, area/ui-ux

#3428 chore(deps): update jellyfish
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#3429 chore(ui-ux): auto scroll top when switch between instant/future swap tabs
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
Labels: kind/chore, area/ui-ux

#3436 chore(docs): updated governance
  .github/labeler.yml
Labels: area/workflow

#3437 chore(deps): bump cypress
  package-lock.json
  package.json
Labels: kind/chore

#3418 chore(e2e): add swap v2 e2e (13)
  .eslintrc
  mobile-app/app/components/ConfirmSummaryTitleV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageToleranceV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapRowTo.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/TokenDropdownButton.tsx
  mobile-app/cypress/e2e/functional/wallet/dex/compositeswap.spec.ts
Labels: needs/kind, area/ui-ux

#3432 fix(ui-ux): filter token list with status false
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SwappableTokensV2.ts
Labels: kind/fix, area/ui-ux

#3431 refactor(ui-ux): input amount enable/disable behaviour
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
Labels: kind/refactor, area/ui-ux

#3427 fix(ui-ux): swap v2 slippage tolerance fix
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageToleranceV2.tsx
Labels: kind/fix, area/ui-ux

#3440 fix(ui-ux): fix UI on Swap screen v2
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/TokenDropdownButton.tsx
Labels: kind/fix, area/ui-ux

#3433 fix(ui-ux): disable swap button for status false poolpair
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolPairDetailsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexActionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexScrollable.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
Labels: kind/fix, area/ui-ux

#3441 fix(ui-ux): swap v2 fixes
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/BottomSheetSlippageInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageToleranceV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapButtonGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
Labels: kind/fix, area/ui-ux

#3430 fix(hooks): token drop down console error
  mobile-app/app/components/icons/assets/DefaultLoanToken.tsx
  mobile-app/app/components/icons/assets/_Default.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/TokenDropdownButton.tsx
Labels: kind/fix, area/ui-ux

#3442 feature(core): add slippage in formula
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
Labels: kind/feature, area/ui-ux

#3445 chore(e2e): update compositeswap.specs.ts
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexActionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/DexActionButton.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/dex/compositeswap.spec.ts
Labels: kind/chore, area/ui-ux

#3444 fix(ui-ux): Fix bugs on composite swap screen v2
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3449 fix(ui-ux): Composite swap bug fixes
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageToleranceV2.tsx
Labels: kind/fix, area/ui-ux

#3398 chore(ui-ux): renamed usd to usdt on portfolio screen
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionedCollaterals.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/ConfirmPlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAssetSortList.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3448 feature(core): replace reserve with token b value equivalent
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SwappableTokensV2.ts
Labels: kind/feature, area/ui-ux

#3451 chore(e2e): future swap v2 test cases
  mobile-app/app/components/ConfirmSummaryTitleV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapRowTo.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/cypress/e2e/functional/wallet/dex/futureswap.spec.ts
Labels: kind/chore, area/ui-ux

#3447 fix(ui-ux): update fees text on swaps and confirm screen
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/BottomSheetSlippageInfo.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3391 feature(core): swap screens v2
  .eslintrc
  .github/workflows/ci.yml
  .github/workflows/expo-preview.yml
  .github/workflows/translations-reporter.yml
  mobile-app/app/components/BottomSheetInfoV2.tsx
  mobile-app/app/components/BottomSheetModalV2.tsx
  mobile-app/app/components/ConfirmSummaryTitleV2.tsx
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/components/TransactionCard.tsx
  mobile-app/app/components/TransactionCardWalletTextInputV2.test.tsx
  mobile-app/app/components/TransactionCardWalletTextInputV2.tsx
  mobile-app/app/components/WalletTextInputV2.tsx
  mobile-app/app/components/__snapshots__/TransactionCard.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionCardWalletTextInputV2.test.tsx.snap
  mobile-app/app/components/__snapshots__/WalletTextInputV2.test.tsx.snap
  mobile-app/app/components/icons/assets/DefaultLoanToken.tsx
  mobile-app/app/components/icons/assets/_Default.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/BottomSheetSlippageInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageToleranceV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapButtonGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapRowTo.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/TokenDropdownButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/ViewFeeDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolPairDetailsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/AddLiquidityInputCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/ButtonGroupV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/DexActionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/DexActionButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/DexStabilization.ts
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/FutureSwap.ts
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SwappableTokensV2.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/Announcements.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenNameTextV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBestPath.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBestPath.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ViewSwapInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/WithdrawFutureSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/futureswap.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/workflow, area/translations, area/ui-ux

#3452 chore(core): bump description
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#3453 chore(core): use relative import
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#3454 fix(ui-ux): rectify slippage sizing bug
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageToleranceV2.tsx
Labels: kind/fix, area/ui-ux

#3455 feature(ui-ux): settlement block time display on swap and confirm v2
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/FutureSwap.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3458 fix(ui-ux): update x behaviour on slippage tolerance
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageToleranceV2.tsx
Labels: kind/fix, area/ui-ux

#3456 fix(core): use best path on price rates calculation
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBestPath.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBestPath.ts
Labels: kind/fix, area/ui-ux

#3460 fix(core): utxo amount not included in swap from token detail screen
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
Labels: kind/fix, area/ui-ux

#3464 chore(cleanup): remove unused comps
  mobile-app/app/components/BottomSheetWithNav.tsx
  mobile-app/app/components/BottomSheetWithNavV2.tsx
  mobile-app/app/constants/Theme.ts
  mobile-app/app/constants/ThemeV2.ts
  mobile-app/app/screens/AppNavigator/AppNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenAmountText.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenAmountTextV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenNameText.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenNameTextV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/ResetButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/ResetButtonV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/RowThemeItem.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/RowThemeItemV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/UnlockButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ServiceProviderScreen.tsx
  mobile-app/app/screens/Main.web.tsx
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
Labels: kind/chore, area/ui-ux

#3470 chore(translations): updated fr.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#3467 chore(deps): expo SDK 46
  mobile-app/app/components/OceanInterface/TransactionDetail.tsx
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/components/WalletTextInput.tsx
  mobile-app/app/components/WalletTextInputV2.tsx
  mobile-app/app/components/WalletTransactionCardTextInput.tsx
  mobile-app/app/components/__snapshots__/InputHelperText.test.tsx.snap
  mobile-app/app/components/icons/assets/DefaultLPS.tsx
  mobile-app/app/components/icons/assets/DefaultLoanToken.tsx
  mobile-app/app/components/icons/assets/DefaultToken.tsx
  mobile-app/app/components/icons/assets/dDOGE.tsx
  mobile-app/app/components/themed/ThemedFlashList.tsx
  mobile-app/app/components/themed/index.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/TokenBreakdownDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBestPath.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenPrice.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/GetDFIScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  mobile-app/app/screens/ErrorBoundary/ErrorBoundary.test.tsx
  mobile-app/app/screens/ErrorBoundary/__snapshots__/ErrorBoundary.test.tsx.snap
  mobile-app/app/screens/TransactionAuthorization/assets/TransactionSignedDark.tsx
  mobile-app/app/screens/TransactionAuthorization/assets/TransactionSignedLight.tsx
  mobile-app/cypress/e2e/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/futureswap.spec.ts
  netlify.toml
  package-lock.json
  package.json
  shared/contexts/LanguageProvider.test.tsx
  shared/contexts/ThemeProvider.test.tsx
  website/package.json
Labels: kind/chore, area/ui-ux, area/website

#3461 fix(ui-ux): rectify shadow issue on composite swap header
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
Labels: kind/fix, area/ui-ux

#3481 chore(deps): update jest and jellyfish
  .github/dependabot.yml
  .github/workflows/jellyfish-dependencies.yml
  docker-compose.yml
  jest.config.js
  package-lock.json
  package.json
Labels: kind/chore, area/workflow

#3486 chore(deps): setup renovate
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/ci-drift.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/eas-build.yml
  .github/workflows/eas-publish.yml
  .github/workflows/expo-dependencies.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/release-drafter.yml
  .github/workflows/stale.yml
  .github/workflows/translations-reporter.yml
Labels: kind/chore, area/workflow

#3492 fix(ui-ux): fixed header search bar flicker issue and added in focus border
  mobile-app/app/components/HeaderSearchInputV2.tsx
  mobile-app/app/components/SearchInputV2.tsx
Labels: kind/fix, area/ui-ux

#3463 fix(ui-ux): fix slippage tolerance v2 behavior
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageToleranceV2.tsx
  mobile-app/cypress/e2e/functional/wallet/dex/compositeswap.spec.ts
Labels: kind/fix, area/ui-ux

#3483 fix(ui-ux): vault share calculation
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/cypress/e2e/functional/wallet/loans/collateral.spec.ts
Labels: kind/fix, area/ui-ux

#3416 feature(ui-ux): added auction v2 header, filter pill and search option
  mobile-app/app/components/BottomSheetHeader.test.tsx
  mobile-app/app/components/BottomSheetHeader.tsx
  mobile-app/app/components/__snapshots__/BottomSheetHeader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionFilterPillGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionsSortRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/EmptyAuction.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/EmptyAuction.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/EmptyAuction.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/assets/EmptyAuctionsDark.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/assets/EmptyAuctionsLight.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/EmptyTokensScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  shared/store/auctions.test.ts
  shared/store/auctions.ts
Labels: kind/feature, area/ui-ux, area/store

#3519 fix(ui-ux): add price factor to active price of collateral
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/ActivePrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/NextCollateralizationRatio.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/collateral.spec.ts
Labels: kind/fix, area/ui-ux

#3527 chore(deps): bump jellyfish
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#3528 feature(api): set unloop feature flag to public
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/website

#3523 feature(ui-ux): create vault v2
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/components/SkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/VaultSchemeSkeletonLoaderV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CreateVaultSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanSchemeOptionsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreenV2.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  mobile-app/cypress/e2e/functional/wallet/loans/create_vault.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3531 feature(api): add FCE announcement
  website/src/pages/api/v0/announcements.ts
Labels: kind/feature, area/website

#3533 chore(flags): enable on mainnet
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#3535 fix(ui-ux): pass col factor on total col calculation
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/ActivePrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/collateral.spec.ts
Labels: kind/fix, area/ui-ux

#3536 fix(e2e): update test cases related to create vault
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/support/loanCommands.ts
Labels: kind/fix

#3534 chore(core): remove swap v1 code
  mobile-app/app/components/ConfirmSummaryTitle.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageTolerance.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageToleranceV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SwappableTokens.ts
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SwappableTokensV2.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConfirmWithdrawFutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConfirmWithdrawFutureSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/FutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/FutureSwapScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/WithdrawFutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/WithdrawFutureSwapScreenV2.tsx
Labels: kind/chore, area/ui-ux

#3480 feature(ui-ux): updated auction batch v2 component
  mobile-app/app/components/TokenIconGroupV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/VerticalProgressBar.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionTimeProgress.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BidCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/SecondstoHm.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionTimeLeft.ts
Labels: kind/feature, area/ui-ux

#3538 feature(core): change loan token avatar
  mobile-app/app/components/icons/assets/DefaultLoanToken.tsx
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/LoanCards.test.tsx.snap
Labels: kind/feature, area/ui-ux

#3539 feature(core): enable hermes
  app.json
Labels: kind/feature

#3516 feature(ui-ux): added quick bid bottom sheet v2
  mobile-app/app/components/BottomSheetHeader.tsx
  mobile-app/app/components/TokenIconGroupV2.tsx
  mobile-app/app/components/__snapshots__/BottomSheetHeader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/QuickBid.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionBidValue.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/SignBidAndSend.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
Labels: kind/feature, area/ui-ux

#3542 chore(docs): updated code owners
  .github/CODEOWNERS
Labels: kind/chore, area/workflow

#3545 feature(ui-ux): marketplace to flashlist
  mobile-app/app/components/themed/ThemedFlashList.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/MarketplaceScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/settings/privacyLock.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/privacyLock_with_stub.spec.ts
Labels: kind/feature, area/ui-ux

#3457 fix(e2e): swap v2 test cases
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapSummary.tsx
  mobile-app/cypress.config.js
  mobile-app/cypress/e2e/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/futureswap.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/swap/swap_future.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/swap/swap_future_pending.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/swap/swap_future_transaction.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/swap/swap_future_withdraw.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/swap/swap_instant_dfi.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/swap/swap_instant_dfi_summary.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/swap/swap_instant_non_dfi.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/swap/swap_instant_non_dfi_confirmation.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/swap/swap_tabs_dropdowns.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/tokenDetail.spec.ts
  mobile-app/cypress/support/commands.ts
Labels: kind/fix, area/ui-ux

#3513 feature(ui-ux): Loans list v2
  mobile-app/app/components/SkeletonLoader.tsx
  mobile-app/app/components/skeletonLoaders/LoanSkeletonLoaderV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanActionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreenV2.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_payback.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_unloop_dusd.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_with_dfi_dusd_vault_share.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/support/loanCommands.ts
  shared/store/loans.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#3544 feature(ui-ux): added auction v2 bid history screen
  mobile-app/app/components/icons/assets/DefaultLoanToken.tsx
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistoryItem.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistoryItem.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BidHistoryItem.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/BidHistoryScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/LoanCards.test.tsx.snap
  shared/contexts/__mocks__/NetworkContext.tsx
Labels: kind/feature, area/ui-ux

#3530 feature(ui-ux): loans v2 - header and carousel
  mobile-app/app/components/InfoTextLink.tsx
  mobile-app/app/components/icons/assets/DefaultLoanToken.tsx
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/screens/AppNavigator/hooks/useNavigatorHeaderStylesOption.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVaultV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/components/CarouselPagination.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/LoansCarousel.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/PaginationButton.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  shared/assets/images/loans/empty_vault.png
  shared/assets/images/loans/loans_1_dark.png
  shared/assets/images/loans/loans_1_light.png
  shared/assets/images/loans/loans_2_dark.png
  shared/assets/images/loans/loans_2_light.png
  shared/assets/images/loans/loans_3_dark.png
  shared/assets/images/loans/loans_3_light.png
  shared/assets/images/loans/loans_4_dark.png
  shared/assets/images/loans/loans_4_light.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#3556 chore(deps): bump jellyfish
  docker-compose.yml
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.test.tsx
  package-lock.json
  package.json
Labels: kind/chore, area/ui-ux

#3543 feature(ui-ux): search and create vault v2
  mobile-app/app/components/SearchInputV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreenV2.tsx
  mobile-app/cypress/e2e/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_payback.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_unloop_dusd.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_with_dfi_dusd_vault_share.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/support/loanCommands.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3553 fix(ui-ux): loans v2 fixes
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVaultV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/LoansCarousel.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/PaginationButton.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3563 feature(ui-ux): update auction details screen to v2
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/components/SummaryTitleV2.tsx
  mobile-app/app/components/TextRowV2.tsx
  mobile-app/app/components/TokenIconGroupV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionVaultDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionTimeLeft.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/ConfirmPlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3565 feature(ui-ux): auction translations
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionFilterPillGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionsSortRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistoryItem.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/QuickBid.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionsFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/BidHistoryScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/__snapshots__/AuctionsFaq.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3555 feature(ui-ux): add additional exchange Gate.io
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/MarketplaceScreen.tsx
  shared/assets/images/exchanges/Gateio.png
Labels: kind/feature, area/assets, area/ui-ux

#3564 chore(deps): migrate from classic builds to EAS builds
  .github/workflows/eas-publish.yml
  .github/workflows/expo-dependencies.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-publish.yml
  app.config.js
  app.json
  docker-compose.yml
  eas.json
  mobile-app/app/api/releaseChannel.ts
  package-lock.json
  package.json
Labels: kind/chore, area/workflow, area/api

#3552 feature(ui-ux): connection error state v2
  mobile-app/app/screens/AppNavigator/screens/Transactions/EmptyTransaction.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/EmptyTransaction.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/__snapshots__/EmptyTransaction.test.tsx.snap
  mobile-app/app/screens/ConnectionBoundary/ConnectionBoundary.tsx
  mobile-app/app/screens/ConnectionBoundary/__snapshots__/ConnectionBoundary.test.tsx.snap
  mobile-app/app/screens/ErrorBoundary/ErrorBoundary.tsx
  shared/assets/images/misc/connection_problem.png
  shared/assets/images/misc/generic_error.png
  shared/assets/images/portfolio/no_transaction.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#3575 feature(ui-ux): add usdc and dusd to the currency toggler
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
Labels: kind/feature, area/ui-ux

#3567 feature(core): use native tab on loans
  mobile-app/app/components/themed/ThemedFlashList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreenV2.tsx
  package-lock.json
  package.json
Labels: kind/feature, area/ui-ux

#3576 fix(core): create vault convert error
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreenV2.tsx
Labels: kind/fix, area/ui-ux

#3554 chore(e2e): reduce machines
  .github/workflows/ci-e2e.yml
Labels: kind/chore, area/workflow

#3579 chore(ui-ux): minor UI fixes and e2e updates
  mobile-app/app/components/PricesSectionV2.tsx
  mobile-app/app/components/TextRowV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/ConfirmPlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/auctions/auctions.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3581 chore(ui-ux): removed sort for total collateral USD value in auctions
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionsSortRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
Labels: kind/chore, area/ui-ux

#3557 feature(ui-ux): replace flatlist with flashlist on DEX
  mobile-app/app/components/Delayed.tsx
  mobile-app/app/components/themed/ThemedFlashList.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
Labels: kind/feature, area/ui-ux

#3582 fix(ui-ux): fixed flash list warning for rendered size
  mobile-app/app/components/themed/ThemedFlashList.tsx
Labels: kind/fix, area/ui-ux

#3588 feature(ui-ux): extend auction loader display time
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
Labels: kind/feature, area/ui-ux

#3586 fix(ui-ux): resolve ui issue on loans screen
  mobile-app/app/screens/AppNavigator/hooks/useNavigatorHeaderStylesOption.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
Labels: kind/fix, area/ui-ux

#3583 chore(ui-ux): loans tab auto scroll to top
  mobile-app/app/components/themed/ThemedFlashList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreenV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanSchemeOptionsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreenV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#3585 feature(core): add loans search functionality
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCardsV2.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux
