Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-11, with the labels that each got.

#3744 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3732 fix(ui-ux): fix overlap on bottomsheet vault list when scrolling
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
Labels: kind/fix, area/ui-ux

#3734 fix(ui-ux): fix missing vault share on confirm remove collateral screen
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
Labels: kind/fix, area/ui-ux

#3754 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3738 fix(ui-ux): standardize btn padding size
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/TotalPortfolio.test.tsx.snap
Labels: kind/fix, area/ui-ux

#3756 chore(api): removed unused announcement
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#3763 chore(translation): updated for get dfi
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#3762 chore(translation): service provider missing translation
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#3729 fix(ui-ux): remove decimalScale for NumberFormat
  mobile-app/App.tsx
  mobile-app/app/api/number-format-value.tsx
  mobile-app/app/components/ConfirmSummaryTitle.tsx
  mobile-app/app/components/SummaryTitle.tsx
  mobile-app/app/components/SummaryTitleV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SwapRowTo.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/PoolPairDetailsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/APRSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolSharesSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailCollateralsRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailStatus.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatio.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplayV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanPercentage.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCardStatus.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenAmountText.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenBreakdownDetailsV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenBreakdownPercentage.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/GetDFIScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/e2e/functional/wallet/auctions/auctions_bid_with_multiple_wallet.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/create_vault.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_payback.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_unloop_dusd.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans_with_dfi_dusd_vault_share.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/convert/convert.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  mobile-app/cypress/e2e/smoke/smoke.spec.ts
  mobile-app/cypress/support/loanCommands.ts
  mobile-app/cypress/support/walletCommands.ts
Labels: kind/fix, area/ui-ux, area/api

#3768 feature(ui-ux): add new ui changes to convertscreen page
  mobile-app/app/components/TokenDropdownButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  mobile-app/cypress/e2e/functional/wallet/portfolio/convert/convert.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3781 feature(core): update feature flag
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/contexts/__mocks__/FeatureFlagContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.test.tsx
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/ui-ux, area/contexts, area/website

#3784 chore(translations): updated de.json
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#3780 feature(ui-ux): add get dfi button remove dfi card
  mobile-app/app/components/icons/assets/index.ts
  mobile-app/app/components/icons/assets/plainDFI.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/ActionButtons.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3805 chore(deps): update jellyfish
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#3765 chore(deps): update to Expo SDK 47
  .github/images/app_store.svg
  .github/images/play_store.svg
  babel.config.js
  docker-compose.yml
  mobile-app/app/__mocks__/@mealection/react-native-boring-avatars.tsx
  mobile-app/app/components/__snapshots__/SummaryTitle.test.tsx.snap
  mobile-app/app/components/__snapshots__/WalletAddressRow.test.tsx.snap
  mobile-app/app/components/icons/__snapshots__/AppIcon.test.tsx.snap
  mobile-app/app/components/icons/assets/NetworkIcon.tsx
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/plainDFI.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/contexts/AppStateContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/EmptyAuction.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/__snapshots__/PoolPairIconV2.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/FavoriteButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/__snapshots__/PortfolioScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/RandomAvatar.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/ActionButtons.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/AddressControlScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/AddressSelectionButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/HeaderSettingButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/__snapshots__/GetDFIScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/TransactionAuthorization/__snapshots__/PasscodePrompt.test.tsx.snap
  package-lock.json
  package.json
Labels: kind/chore, area/workflow, area/ui-ux, area/contexts
