Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-05, with the labels that each got.

#2688 Add ES and IT translation
  shared/translations/languages/es.json
  shared/translations/languages/it.json
Labels: kind/feature, area/translations

#2740 fix(ui-ux): right spacing created by relative position of TokenIconGroup
  mobile-app/app/components/TokenIconGroup.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultInfo.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
Labels: kind/fix, area/ui-ux

#2733 feature(core): display app version tag in onboarding and about screen
  mobile-app/app/components/VersionTag.test.tsx
  mobile-app/app/components/VersionTag.tsx
  mobile-app/app/components/__snapshots__/VersionTag.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
  mobile-app/cypress/integration/functional/wallet/settings/settings.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2724 feature(ui-ux): `translations` - add option for es and it translations
  mobile-app/app/screens/AppNavigator/screens/Balances/components/Announcements.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/DefichainStatus.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/LanguageSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  shared/contexts/LanguageProvider.tsx
  shared/translations/index.ts
  shared/translations/languages/es.json
  shared/translations/languages/it.json
  shared/types/website.ts
  website/src/pages/api/v0/announcements.ts
Labels: kind/feature, area/translations, area/ui-ux, area/website

#2731 style(ui-ux): add auto scroll on menu tap
  mobile-app/app/components/themed/ThemedFlatList.tsx
  mobile-app/app/components/themed/ThemedScrollView.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
Labels: kind/feature, area/ui-ux

#2728 fix(ui-ux): display locked collateral in portfolio
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenLockedBalance.ts
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
Labels: kind/fix, area/ui-ux

#2720 DEX - estimated to receive and total to be swapped - add USD value #2594
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/cypress/integration/functional/wallet/dex/compositeswap.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/dex_poolpairs.spec.ts
Labels: kind/feature, area/ui-ux

#2751 fix it translation
  shared/translations/languages/it.json
Labels: needs/kind, area/translations

#2752 improvements in the German language file
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#2756 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#2758 token detail - reenable for DFI #2395
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
Labels: kind/feature, area/ui-ux

#2772 2395 tokendetail2
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Labels: needs/kind, area/ui-ux

#2771 style(ui-ux): fix alignment on number row
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/__snapshots__/ConversionDetailsRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/NumberRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
Labels: kind/fix, area/ui-ux

#2785 chore(workflows): add required Create PR token to trigger workflows
  .github/workflows/defichain-dependencies.yml
Labels: kind/chore, area/workflow

#2788 token detail - reenable for DFI #2395
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
Labels: needs/kind, area/ui-ux

#2770 feature(ui-ux): token detail - reenable for DFI #2395 (#2758)
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
Labels: kind/feature, area/ui-ux

#2780 feature(ui-ux): update future swap list view UI
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/FutureSwapScreen.tsx
  shared/store/futureSwap.ts
Labels: kind/feature, area/ui-ux, area/store

#2764 feature(ui-ux): add info on backing up 24 words - restore page and view recovery words
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/RecoveryWordsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/RecoveryWordsScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PinCreation.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2750 feature(ui-ux): `passcode prompt` - updated success page
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
  mobile-app/app/screens/TransactionAuthorization/api/transaction_types.ts
  mobile-app/app/screens/TransactionAuthorization/assets/TransactionSignedDark.tsx
  mobile-app/app/screens/TransactionAuthorization/assets/TransactionSignedLight.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2794 build(deps): bump deps
  docker-compose.yml
  mobile-app/app/api/cache/index.ts
  package-lock.json
  package.json
Labels: kind/dependencies, area/api

#2787 feature(ui-ux): redesign token breakdown
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceText.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenBreakdownDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenBreakdownPercentage.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/TokenBreakdownDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenLockedBalance.ts
  mobile-app/cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/receive.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/dex_poolpairs.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/changePasscode.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2801 fix(ui-ux): remove extra bracket
  shared/translations/languages/it.json
Labels: kind/fix, area/translations

#2818 chore(deps): bump dependencies
  .eslintrc
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#2824 chore(core): fix for iOS breaking
  babel.config.js
  docker-compose.yml
  mobile-app/app/api/wallet/mnemonic_storage.ts
  mobile-app/app/api/wallet/provider/mnemonic_encrypted.ts
  mobile-app/app/api/wallet/provider/mnemonic_unprotected.ts
  mobile-app/app/screens/ErrorBoundary/ErrorBoundary.tsx
  package-lock.json
  package.json
Labels: kind/chore, area/ui-ux, area/api

#2829 fix(ui-ux): moving image and updated SVG for wallet
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/TransactionAuthorization/assets/TransactionSignedDark.tsx
  mobile-app/app/screens/TransactionAuthorization/assets/TransactionSignedLight.tsx
Labels: kind/fix, area/ui-ux

#2836 build(deps): bump expo dependencies
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#2732 fix(core): add custom redirect on back button
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/cypress/integration/functional/wallet/balances/tokenDetail.spec.ts
Labels: kind/fix, area/ui-ux

#2769 fix(ui-ux): multiply collateral value by factor
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/NextCollateralizationRatio.ts
  mobile-app/app/screens/ErrorBoundary/ErrorBoundary.tsx
Labels: kind/fix, area/ui-ux

#2814 feature(ui-ux): price rates - order of token display #2735
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Labels: kind/feature, area/ui-ux

#2837 feature(ui-ux): price rates - order of token display
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Labels: kind/feature, area/ui-ux

#2844 chore(translations): add future swap translations
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2845 chore(deps): bump dependencies
  docker-compose.yml
  package-lock.json
Labels: kind/dependencies

#2839 feature(ui-ux): update welcome screen carousel
  mobile-app/app/components/OceanInterface/TransactionError.test.tsx
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/components/OceanInterface/__snapshots__/TransactionError.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
  shared/assets/images/onboarding/a.png
  shared/assets/images/onboarding/b.png
  shared/assets/images/onboarding/c.png
  shared/assets/images/onboarding/d.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#2846 fix(core): future swap minor fix
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/__snapshots__/NumberRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConfirmWithdrawFutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/WithdrawFutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/cypress/integration/functional/wallet/dex/futureswap.spec.ts
Labels: kind/fix, area/ui-ux

#2849 chore(ui-ux): updated announcements
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#2848 chore(ui-ux): change execution to settlement
  mobile-app/app/components/InfoRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/FutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#2851 feature(core): add flag for future swap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/WithdrawFutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/FutureSwap.ts
  mobile-app/cypress/integration/functional/wallet/dex/futureswap.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/translations, area/ui-ux, area/website

#2854 fix(translations): fix future swap
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#2857 chore(translations): update portfolio on es
  shared/translations/languages/es.json
Labels: kind/chore, area/translations

#2861 chore(ui-ux): updated onboarding welcome screen text
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#2853 feature(ui-ux): added expand btn to expand error text in ocean interface
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/components/OceanInterface/__snapshots__/TransactionError.test.tsx.snap
Labels: kind/feature, area/ui-ux

#2865 fix(core): use correct boolean on navigate confirm
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Labels: kind/fix, area/ui-ux

#2862 chore(deps): bump packages deps
  package-lock.json
  package.json
Labels: kind/chore

#2878 feature(ui-ux): Added search box and create new address icon
  mobile-app/app/components/HeaderSearchInput.tsx
  mobile-app/app/components/SearchInput.test.tsx
  mobile-app/app/components/SearchInput.tsx
  mobile-app/app/components/__snapshots__/HeaderSearchInput.test.tsx.snap
  mobile-app/app/components/__snapshots__/SearchInput.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
Labels: needs/kind, kind/feature, area/ui-ux

#2856 fix(e2e): updated failing remove liquidity e2e test case
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Labels: kind/chore

#2891 feature(ui-ux): address book tabs
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
Labels: needs/kind, kind/feature, area/ui-ux
