Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-12, with the labels that each got.

#3815 chore(deps): update deps, cleanup webapp
  .github/CODEOWNERS
  package-lock.json
  package.json
  website/.eslintrc
  website/next-env.d.ts
  website/package.json
  website/src/components/commons/Container.tsx
  website/src/components/layouts/Footer.tsx
  website/tsconfig.json
Labels: kind/chore, area/workflow, area/website

#3709 fix(ui-ux): refactor network screen navigation
  mobile-app/app/screens/AppNavigator/hooks/useNavigatorHeaderStylesOption.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
Labels: kind/fix, area/ui-ux

#3832 fix(rn-svg): crashing android
  docker-compose.yml
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
  package-lock.json
  package.json
Labels: kind/fix, area/ui-ux

#3835 chore(deps): updated jellyfish packages
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#3854 feature(walletkit): update playgroundcontext
  mobile-app/app/contexts/PlaygroundContext.tsx
  mobile-app/app/screens/PlaygroundNavigator/PlaygroundNavigator.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundOperations.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundToken.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundUTXO.tsx
  package-lock.json
  package.json
Labels: kind/feature, area/playground, area/ui-ux, area/contexts

#3851 feature(walletkit-ui): migrate store service provider
  mobile-app/App.tsx
  mobile-app/app/__mocks__/@waveshq/walletkit-ui.ts
  mobile-app/app/components/HeaderNetworkStatus.tsx
  mobile-app/app/components/HeaderTitle.test.tsx
  mobile-app/app/components/HeaderTitle.tsx
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/contexts/StoreServiceProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/Announcements.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressBook.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/ResetButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ServiceProviderScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/WalletCreateRestoreSuccess.tsx
  shared/contexts/WhaleContext.test.tsx
  shared/contexts/WhaleContext.tsx
Labels: kind/feature, area/ui-ux, area/contexts
