Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-06, with the labels that each got.

#2667 feature(core): performance - move fetchTokens to WalletDataProvider to prevent multi…
  mobile-app/App.tsx
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/screens/AppNavigator/AppNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/RootNavigator.tsx
  shared/contexts/WalletDataProvider.tsx
Labels: kind/feature, area/ui-ux

#2531 feature(ui-ux): add copy receive address toaster
  mobile-app/app/components/WalletToast.tsx
  mobile-app/app/components/__snapshots__/WalletToast.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
Labels: kind/feature, area/ui-ux

#2901 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#2897 feature(core): add fav whitelisted address to address book
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  shared/store/userPreferences.ts
Labels: kind/feature, area/ui-ux, area/store

#2879 chore(core): bump react-redux package
  .eslintrc
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/hooks/useAddressBook.ts
  mobile-app/app/hooks/useAppDispatch.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BrowseAuctions.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/ManageBids.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/SignBidAndSend.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/ConfirmPlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressBook.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConfirmWithdrawFutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/FutureSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SwappableTokens.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ChooseLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CloseVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmCreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmPaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  mobile-app/app/screens/PlaygroundNavigator/sections/PlaygroundOperations.tsx
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  package-lock.json
  package.json
  shared/contexts/StatsProvider.tsx
  shared/contexts/WalletDataProvider.tsx
  shared/store/index.ts
Labels: kind/chore, area/playground, area/ui-ux, area/store, area/hooks, area/contexts

#2907 chore(deps): bump to latest node
  .github/workflows/defichain-dependencies.yml
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore, area/workflow

#2924 chore(workflow): consolidate jellyfish dependencies bumping
  .github/workflows/jellyfish-dependencies.yml
Labels: needs/kind, area/workflow

#2902 feature(core): display wallet address in address book
  mobile-app/app/hooks/useWalletAddress.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/settings.spec.ts
  shared/store/userPreferences.ts
Labels: kind/feature, area/ui-ux, area/store, area/hooks

#2930 chore(ui-ux): update announcement for dAMZN Stock Split
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#2921 feature(ui-ux): portfolio - empty DFI balances
  mobile-app/app/components/tooltip/IconTooltip.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/GetDFIScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/GetDFIScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/__snapshots__/GetDFIScreen.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  package-lock.json
  package.json
  shared/assets/images/exchanges/Bitrue.png
  shared/assets/images/exchanges/Bittrex.png
  shared/assets/images/exchanges/CakeDeFi.png
  shared/assets/images/exchanges/DFX.png
  shared/assets/images/exchanges/EasyCrypto.png
  shared/assets/images/exchanges/Hoo.png
  shared/assets/images/exchanges/Hotbit.png
  shared/assets/images/exchanges/Kucoin.png
  shared/assets/images/exchanges/Latoken.png
  shared/assets/images/exchanges/Transak.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#2934 chore(ui-ux): updated announcement
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#2906 style(ui-ux): redesign prices section
  mobile-app/app/components/NumberRow.tsx
  mobile-app/app/components/PricesSection.tsx
  mobile-app/app/components/__snapshots__/ConversionDetailsRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/NumberRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/TransactionResultsRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/components/SlippageTolerance.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkDetails.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/dex/add_liquidity.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/futureswap.spec.ts
  mobile-app/cypress/integration/functional/wallet/dex/remove_liquidity.spec.ts
Labels: kind/feature, area/ui-ux

#2940 chore(deps): update dependencies
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/__snapshots__/GetDFIScreen.test.tsx.snap
  package-lock.json
  package.json
Labels: kind/chore, area/ui-ux

#2860 feature(ui-ux): `portfolio` - additional sorting options
  .eslintrc
  mobile-app/app/api/logging.ts
  mobile-app/app/hooks/useCachedResources.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAssetSortList.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/TotalPortfolio.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/api, area/hooks

#2925 feature(core): add local address to address book
  mobile-app/app/components/HeaderSearchInput.tsx
  mobile-app/app/components/SearchInput.test.tsx
  mobile-app/app/components/SearchInput.tsx
  mobile-app/app/components/WalletAddressRow.test.tsx
  mobile-app/app/components/__snapshots__/HeaderSearchInput.test.tsx.snap
  mobile-app/app/components/__snapshots__/SearchInput.test.tsx.snap
  mobile-app/app/hooks/useWalletAddress.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressListEditButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressSelectionButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/settings.spec.ts
  shared/store/userPreferences.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/hooks

#2946 chore(translations): added missing translations
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/AddressBookScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#2964 feature(ui-ux): reduce sorting modal popup length
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
Labels: kind/feature, area/ui-ux

#2954 chore(core): remove import cycle or loop
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/BottomSheetAssetSortList.tsx
Labels: kind/chore, area/ui-ux

#2974 chore(website-api): remove announcements
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#2973 feature(ui-ux): `announcement` - DETAILS CTA got blocked by wallet addr…
  mobile-app/app/components/__snapshots__/WalletAddressRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressSelectionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/AddressSelectionButton.test.tsx.snap
Labels: kind/feature, area/ui-ux

#2944 fix(ui-ux): text alignment of poolpair card
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/APRSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairTextSection.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Labels: kind/fix, area/ui-ux

#2948 Remove Liquidity - Negative value #2883
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
Labels: kind/feature, area/ui-ux

#2989 fix(core): display DUSD with price factor for collateral & DEX price for auctioned collaterals
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionedCollaterals.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/CollateralTokenItemRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/ActivePrice.test.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/ActivePrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/CollateralPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/NextCollateralizationRatio.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/loans/collateral.spec.ts
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
Labels: kind/fix, area/ui-ux

#2991 chore(deps): bump expo dependencies
  package-lock.json
  package.json
Labels: kind/chore

#2996 feature(core): add remote and local flag for service provider
  shared/types/website.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: needs/kind, area/website

#2986 fix(store): filtered out v1 tokens and poolpairs
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/SwappableTokens.ts
  mobile-app/cypress/e2e/functional/wallet/dex/compositeswap.spec.ts
  shared/store/wallet.test.ts
  shared/store/wallet.ts
Labels: kind/fix, area/ui-ux, area/store

#2995 fix(ui-ux): clickable wallet address, estimated fee suffix, deduct fee from resulting row
  mobile-app/app/components/WalletAddressRow.tsx
  mobile-app/app/components/__snapshots__/WalletAddressRow.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionBidValue.ts
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/ConfirmCompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexConfirmRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressSelectionButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/auctions/auctions.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/convert/convert.spec.ts
Labels: kind/fix, area/ui-ux

#3010 chore(deps): bump expo dependencies
  docker-compose.yml
  package-lock.json
Labels: kind/chore

#3018 chore(core): enable custom provider on all env
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#2920 loans - active loans values overflow in vault card #2847
  mobile-app/app/components/TokenIconGroup.tsx
Labels: kind/feature, area/ui-ux

#3016 feature(core): add custom service provider
  mobile-app/App.tsx
  mobile-app/app/api/wallet/service_provider.ts
  mobile-app/app/components/HeaderTitle.test.tsx
  mobile-app/app/components/HeaderTitle.tsx
  mobile-app/app/components/WalletTextInput.tsx
  mobile-app/app/components/__snapshots__/HeaderTitle.test.tsx.snap
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/contexts/StoreServiceProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidHistory.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/Announcements.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/ResetButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/UnlockButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ServiceProviderScreen.tsx
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  mobile-app/cypress/e2e/functional/wallet/settings/settings.spec.ts
  shared/contexts/WhaleContext.test.tsx
  shared/contexts/WhaleContext.tsx
  shared/store/authentication.ts
  shared/store/index.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/api, area/contexts

#3023 chore(core): flag service provider as beta
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/feature, area/website

#3024 feature(ui-ux): update translations and text
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ServiceProviderScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3025 fix(ui-ux): ui fix 1.14.0
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
Labels: kind/fix, area/ui-ux

#3012 feature(assets): add sora font
  mobile-app/app/hooks/useCachedResources.ts
  mobile-app/app/tailwind.ts
  package-lock.json
  package.json
Labels: kind/feature, area/hooks

#3013 feature(ui-ux): add v2 color to tw classes
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Labels: kind/feature

#3019 feature(ui-ux): update splash screen
  shared/assets/images/splash.png
Labels: kind/feature, area/assets

#3030 Translation: Missing <.> in Payback loan screen
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#3031 chore(deps): bump expo dependencies
  package-lock.json
Labels: kind/chore

#3033 feature(ui-ux): feather icon support
  mobile-app/app/components/IconButton.test.tsx
  mobile-app/app/components/IconButton.tsx
  mobile-app/app/components/themed/ThemedIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexGuidelines.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/ActionSection.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/ScrollableButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/TransactionsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/screens/stateProcessor.ts
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.tsx
Labels: kind/feature, area/ui-ux

#3054 chore(deps): update next sitemap
  package-lock.json
  website/next-sitemap.config.js
  website/package.json
Labels: kind/chore, area/website

#3055 chore(deps): bump expo deps
  package-lock.json
Labels: kind/chore

#3045 feature(ui-ux): add themed and row component v2
  mobile-app/app/components/NumberRowV2.tsx
  mobile-app/app/components/TextRowV2.tsx
  mobile-app/app/components/themed/ThemedScrollViewV2.tsx
  mobile-app/app/components/themed/ThemedSectionTitleV2.tsx
  mobile-app/app/components/themed/ThemedTextV2.tsx
  mobile-app/app/components/themed/ThemedTouchableOpacityV2.tsx
  mobile-app/app/components/themed/ThemedViewV2.tsx
  mobile-app/app/components/themed/index.tsx
Labels: kind/feature, area/ui-ux

#3058 fix(e2e): disable v2 feature flag on v1 tests
  mobile-app/cypress/e2e/functional/onboarding/createMnemonicWallet.spec.ts
  mobile-app/cypress/e2e/functional/onboarding/onboarding.spec.ts
  mobile-app/cypress/e2e/functional/onboarding/restore.spec.ts
  mobile-app/cypress/e2e/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/addresses.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/poolpairRewards.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/settings.spec.ts
  mobile-app/cypress/support/commands.ts
Labels: kind/fix

#3064 feature(ui-ux): update for DFIP-2206-C
  mobile-app/app/screens/AppNavigator/screens/Loans/components/PaymentTokenCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/LoansFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/loans/loans.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3067 fix(ui-ux): updated orange shade for v2 design
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Labels: kind/fix

#3056 feature(ui-ux): improvement of `automatic announcement` message
  mobile-app/app/hooks/useApiStatus.ts
  mobile-app/app/hooks/useBlockchainStatus.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/Announcements.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/DeFiChainStatus.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/DefichainStatus.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/announcements.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/settings.spec.ts
  package-lock.json
  package.json
  shared/store/website.ts
  shared/types/website.ts
Labels: kind/feature, area/ui-ux, area/store, area/hooks

#3020 feature(ui-ux): onboarding screen v2
  mobile-app/app/components/ButtonV2.test.tsx
  mobile-app/app/components/ButtonV2.tsx
  mobile-app/app/components/VersionTagV2.test.tsx
  mobile-app/app/components/VersionTagV2.tsx
  mobile-app/app/components/__snapshots__/ButtonV2.test.tsx.snap
  mobile-app/app/components/__snapshots__/VersionTagV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/OnboardingV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarouselV2.tsx
  shared/assets/images/onboarding/grid-background-dark.png
  shared/assets/images/onboarding/grid-background-light.png
  shared/assets/images/onboarding/welcome-screen-a-dark.png
  shared/assets/images/onboarding/welcome-screen-a-light.png
  shared/assets/images/onboarding/welcome-screen-b-dark.png
  shared/assets/images/onboarding/welcome-screen-b-light.png
  shared/assets/images/onboarding/welcome-screen-c-dark.png
  shared/assets/images/onboarding/welcome-screen-c-light.png
  shared/assets/images/onboarding/welcome-screen-d-dark.png
  shared/assets/images/onboarding/welcome-screen-d-light.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#3065 feature(ui-ux): added wallet accordion, password and recovery word FAQ screen
  mobile-app/app/components/WalletAccordionV2.test.tsx
  mobile-app/app/components/WalletAccordionV2.tsx
  mobile-app/app/components/__snapshots__/WalletAccordionV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PasscodeFaqV2.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/PasscodeFaqV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/RecoveryWordsFaqV2.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/RecoveryWordsFaqV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/PasscodeFaqV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/RecoveryWordsFaqV2.test.tsx.snap
Labels: kind/feature, area/ui-ux

#3066 feature(ui-ux): implemented wallet create restore success screen
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/WalletCreateRestoreSuccess.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/WalletCreateRestoreSuccess.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/WalletCreateRestoreSuccess.test.tsx.snap
  shared/assets/images/create-success-coin.png
  shared/assets/images/restore-success-coin.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#3079 chore(deps): update docker
  docker-compose.yml
  package-lock.json
  package.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#3047 feature(core): add select network v2 screens
  mobile-app/app/components/NetworkItemRowV2.tsx
  mobile-app/app/components/__snapshots__/ButtonV2.test.tsx.snap
  mobile-app/app/components/__snapshots__/WalletAccordionV2.test.tsx.snap
  mobile-app/app/components/themed/ThemedTouchableOpacityV2.tsx
  mobile-app/app/screens/WalletNavigator/WalletNavigator.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreenV2.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/OnboardingNetworkSelectScreenV2.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreenV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/PasscodeFaqV2.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/RecoveryWordsFaqV2.test.tsx.snap
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Labels: kind/feature, area/ui-ux

#3080 fix(e2e): block v2 on v1 tests
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/settings.spec.ts
Labels: kind/fix

#3082 fix(ui-ux): add border color to theme v2
  mobile-app/app/constants/ThemeV2.ts
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarouselV2.tsx
Labels: kind/fix, area/ui-ux
