Repository BirthdayResearch/defichain-wallet, pull requests merged in 2022-01, with the labels that each got.

#1800 Updated transaction authorisation flaky test
  mobile-app/cypress/integration/functional/wallet/authorization/transactionAuthorization.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
Labels: kind/chore

#1833 update emergency messages
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#1841 `test` - add unit test to auction
  shared/store/auctions.test.ts
  shared/store/auctions.ts
Labels: kind/feature, area/store

#1850 Test case updates
  mobile-app/app/components/WalletAccordion.test.tsx
  mobile-app/app/components/__snapshots__/WalletAccordion.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionTimeProgress.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionedCollaterals.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionDetails.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionTimeProgress.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/AuctionedCollaterals.test.tsx.snap
  shared/contexts/DeFiScanContext.test.tsx
  shared/contexts/LanguageProvider.test.tsx
  shared/contexts/ThemeProvider.test.tsx
  shared/contexts/WhaleContext.test.tsx
  shared/contexts/WhaleContext.tsx
  shared/contexts/__snapshots__/LanguageProvider.test.tsx.snap
  shared/contexts/__snapshots__/ThemeProvider.test.tsx.snap
  shared/contexts/__snapshots__/WhaleContext.test.tsx.snap
Labels: kind/chore, area/ui-ux

#1855 Test case updates
  mobile-app/app/components/CreateWalletStepIndicator.test.tsx
  mobile-app/app/components/HeaderSearchIcon.test.tsx
  mobile-app/app/components/HeaderSearchInput.test.tsx
  mobile-app/app/components/HeaderTitle.test.tsx
  mobile-app/app/components/InfoTextLink.test.tsx
  mobile-app/app/components/NumberRow.test.tsx
  mobile-app/app/components/PinTextInput.test.tsx
  mobile-app/app/components/ReservedDFIInfoText.test.tsx
  mobile-app/app/components/RowNetworkItem.test.tsx
  mobile-app/app/components/SearchInput.test.tsx
  mobile-app/app/components/__snapshots__/CreateWalletStepIndicator.test.tsx.snap
  mobile-app/app/components/__snapshots__/HeaderSearchIcon.test.tsx.snap
  mobile-app/app/components/__snapshots__/HeaderSearchInput.test.tsx.snap
  mobile-app/app/components/__snapshots__/HeaderTitle.test.tsx.snap
  mobile-app/app/components/__snapshots__/InfoTextLink.test.tsx.snap
  mobile-app/app/components/__snapshots__/NumberRow.test.tsx.snap
  mobile-app/app/components/__snapshots__/PinTextInput.test.tsx.snap
  mobile-app/app/components/__snapshots__/ReservedDFIInfoText.test.tsx.snap
  mobile-app/app/components/__snapshots__/RowNetworkItem.test.tsx.snap
  mobile-app/app/components/__snapshots__/SearchInput.test.tsx.snap
Labels: kind/chore, area/ui-ux

#1860 Update CODEOWNERS
  .github/CODEOWNERS
Labels: kind/chore, area/workflow

#1894 Translation (DE): update translation
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#1900 `package` - resolved vulnerabilities
  package-lock.json
  package.json
  website/package.json
Labels: kind/chore, area/website

#1906 `e2e` - optimize and improve efficiency of vault liquidation
  mobile-app/cypress/integration/functional/wallet/auctions/auctions.spec.ts
Labels: kind/feature

#1858 `DEX` - FAQ screen
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/KnowledgeBaseScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/DexFaq.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/DexFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LiquidityMiningFaq.test.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LiquidityMiningFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/DexFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LiquidityMiningFaq.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/settings/knowledgeBase.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1935 French translation correction
  shared/translations/languages/fr.json
Labels: kind/fix, area/translations

#1924 Fix failing tests on cypress
  mobile-app/cypress/support/index.ts
Labels: kind/fix

#1938 bump to Cypress@9.3.0
  docker-compose.yml
  mobile-app/app/components/LoadingScreen.test.tsx
  mobile-app/app/components/LoadingScreen.tsx
  mobile-app/app/components/__snapshots__/LoadingScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/LoanCards.test.tsx.snap
  package-lock.json
  package.json
  shared/store/wallet.test.ts
  shared/store/wallet.ts
Labels: kind/chore, area/ui-ux, area/store

#1934 Translation (DE): update translation
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#1910 `send` - update content when sending liquidity tokens
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendConfirmationScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#1916 `e2e` - assert playground top up screen
  mobile-app/app/components/index.tsx
  mobile-app/app/components/skeletonLoaders/SkeletonLoader.test.tsx
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/settings/settings.spec.ts
Labels: kind/chore, area/ui-ux

#1942 Fix unit tests on icon update
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/index.test.tsx
Labels: kind/fix, area/ui-ux

#1903 implement babel-plugin-transform-remove-console to remove console log…
  babel.config.js
  package-lock.json
  package.json
Labels: kind/feature

#1927 `vault` - remove gap between color scale in health bar
  mobile-app/app/screens/AppNavigator/screens/Loans/components/CollateralizationRatioDisplay.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
Labels: kind/fix, area/ui-ux

#1940 Fix vaults and poolpair update on switching address
  .github/CODEOWNERS
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/ManageBids.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/LoansScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/Vaults.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
Labels: kind/fix, area/workflow, area/ui-ux

#1943 expo build fix
  eas.json
  package-lock.json
  package.json
Labels: kind/chore

#1925 `e2e` - settings - dark mode toggle
  mobile-app/app/screens/AppNavigator/screens/Settings/components/RowThemeItem.tsx
  mobile-app/cypress/integration/functional/wallet/settings/settings.spec.ts
Labels: kind/chore, area/ui-ux

#1854 Token Icons update all dToken icons across the app
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/components/TokenBalanceRow.tsx
  mobile-app/app/components/icons/assets/DefaultLPS.tsx
  mobile-app/app/components/icons/assets/DefaultLoanToken.tsx
  mobile-app/app/components/icons/assets/DefaultToken.tsx
  mobile-app/app/components/icons/assets/_Default.tsx
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/dAAPL.tsx
  mobile-app/app/components/icons/assets/dAMD.tsx
  mobile-app/app/components/icons/assets/dAMZN.tsx
  mobile-app/app/components/icons/assets/dARKK.tsx
  mobile-app/app/components/icons/assets/dBABA.tsx
  mobile-app/app/components/icons/assets/dCOIN.tsx
  mobile-app/app/components/icons/assets/dFB.tsx
  mobile-app/app/components/icons/assets/dGLD.tsx
  mobile-app/app/components/icons/assets/dGME.tsx
  mobile-app/app/components/icons/assets/dGOOG.tsx
  mobile-app/app/components/icons/assets/dMSFT.tsx
  mobile-app/app/components/icons/assets/dNVDA.tsx
  mobile-app/app/components/icons/assets/dPDBC.tsx
  mobile-app/app/components/icons/assets/dPLTR.tsx
  mobile-app/app/components/icons/assets/dQQQ.tsx
  mobile-app/app/components/icons/assets/dSLV.tsx
  mobile-app/app/components/icons/assets/dSPY.tsx
  mobile-app/app/components/icons/assets/dTLT.tsx
  mobile-app/app/components/icons/assets/dTSLA.tsx
  mobile-app/app/components/icons/assets/dTWTR.tsx
  mobile-app/app/components/icons/assets/dURTH.tsx
  mobile-app/app/components/icons/assets/dVNQ.tsx
  mobile-app/app/components/icons/assets/index.test.tsx
  mobile-app/app/components/icons/assets/index.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/QuickBid.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/ReceiveScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexRemoveLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/LoanCards.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  shared/store/wallet.test.ts
  shared/store/wallet.ts
Labels: kind/feature, area/ui-ux, area/store

#1954 `QA` - `DEX` - faq
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations

#1953 `QA` - `add liquidity` - faq
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations

#1955 remove auctions beta flag
  website/src/pages/api/v0/announcements.ts
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/chore, area/website

#1959 fix(website-api): updated incorrect flag
  website/src/pages/api/v0/settings/flags.ts
Labels: kind/fix, area/website

#1958 feat(api): add id to announcement
  shared/types/website.ts
  website/src/pages/api/v0/announcements.ts
Labels: kind/feature, area/website

#1952 allow eas builds on pre-release
  .github/workflows/eas-publish.yml
Labels: kind/chore, area/workflow

#1957 chore(workflow): add semantic check on title
  .github/workflows/pr-lint.yml
Labels: kind/chore, area/workflow

#1963 fix(ui-ux): beta menu still displayed on non app version
  mobile-app/app/contexts/FeatureFlagContext.tsx
Labels: kind/fix, area/contexts

#1967 chore: Removed auctions announcement
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#1535 feature(translations): Translation by @Comm-M459 @HalphaK
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  shared/translations/index.ts
  shared/translations/languages/fr.json
  shared/types/website.ts
Labels: kind/chore, area/translations, area/ui-ux

#1969 build(deps-dev): bump lint-staged from 12.2.1 to 12.2.2
  .github/workflows/pr-lint.yml
  package-lock.json
  package.json
Labels: kind/chore, area/workflow

#1971 chore(translations): update fr.json translation improvements
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#1977 chore(translations): update DE
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#1978 chore(Translation): update DE
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#1979 Update fr.json Improving a formulation
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#1970 fix(ui-ux): added support for 5 letter loan token Icon name
  mobile-app/app/components/icons/assets/DefaultLoanToken.tsx
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/icons/assets/index.test.tsx
Labels: kind/fix, area/ui-ux

#1982 Update fr.json standardization of terms
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#1992 chore(website): make french announcement optional
  shared/types/website.ts
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#1980 ci(translations): add workflow to output missing translations
  .github/workflows/translations-reporter.yml
  .gitignore
  missing_translations.json
  package-lock.json
  package.json
  shared/translations/index.ts
  shared/translations/reporter/index.ts
Labels: kind/feature, area/workflow, area/translations

#1995 chore(translations): french translation for announcements
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#2000 Update fr.json Corrections of upper and lower case spelling
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#1976 test(unit-tests): Add unit test for token price hook
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.test.tsx
Labels: kind/chore, area/ui-ux

#1956 test(e2e): add e2e for balance screen usd value
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
Labels: kind/chore

#1901 feature(ui-ux): dex api integration for token USD value
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/AuctionDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/CollateralTokenItemRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/helpers/usd-precision.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/hooks/AuctionBidValue.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/hooks/TokenPrice.ts
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/VaultDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/ActiveUSDValue.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/CollateralsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/DetailsTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/LoansTab.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/AddOrRemoveCollateralForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/LoanCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/MaxLoanAmount.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowMoreScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmBorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/ConfirmEditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/EditLoanSchemeScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  mobile-app/cypress/support/walletCommands.ts
  shared/store/wallet.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store

#2008 fix(ui-ux): disable token selection if there is no balance in send screen
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
  mobile-app/cypress/integration/functional/wallet/balances/send.spec.ts
Labels: kind/fix, area/ui-ux

#2012 test(e2e): add tests for dfi usd balance
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
Labels: kind/fix

#2007 feature(ui-ux): add USD value for DFI
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenAmountText.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/TokenNameText.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/cypress/integration/functional/wallet/balances/addresses.spec.ts
  mobile-app/cypress/integration/functional/wallet/balances/balances.spec.ts
  mobile-app/cypress/integration/smoke/smoke.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#2018 feature(ui-ux): update slippage tolerance to 1%
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
Labels: kind/feature, area/ui-ux

#2026 chore(translations): updated announcement translation for german language
  website/src/pages/api/v0/announcements.ts
Labels: needs/kind, kind/chore, area/website

#2009 test(e2e): `announcements` - automatically display a warning message in the event of no new blocks
  mobile-app/cypress/integration/functional/wallet/balances/announcements.spec.ts
Labels: kind/feature

#2028 chore(translations): translation update
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#2030 Update de.json standardization, correction
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#2038 fix(ui-ux): display USD value for LP tokens on Send page, balances re-alignment
  mobile-app/app/components/BottomSheetTokenList.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/__snapshots__/BalancesScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Balances/screens/SendScreen.tsx
Labels: kind/fix, area/ui-ux

#2037 fix(ui-ux): fr - translations issue on confirm pool swap page
  shared/translations/languages/fr.json
Labels: kind/fix, area/translations

#1989 feature(ui-ux): `announcements` - automatically display a warning message in the event of no new blocks
  mobile-app/app/components/HeaderTitle.test.tsx
  mobile-app/app/hooks/useBlockchainStatus.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/AuctionDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BatchCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/BidCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/BalancesScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/AddressControlScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Balances/components/Announcements.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkDetails.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/NetworkDetails.tsx
  mobile-app/cypress/integration/functional/wallet/balances/announcements.spec.ts
  mobile-app/cypress/integration/functional/wallet/settings/networkDetails.spec.ts
  shared/contexts/StatsProvider.tsx
  shared/store/block.test.ts
  shared/store/block.ts
Labels: kind/feature, area/ui-ux, area/store, area/hooks

#2044 Update de.json Improvement wording
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#2045 Update fr.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#2048 Update fr.json standardization
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#2049 build(deps): docker-compose.yml to defid:2.6.0
  docker-compose.yml
Labels: kind/dependencies

#2042 fix(e2e): change slippage to 5% during payback loan & close vault test
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetVaultList.tsx
  mobile-app/cypress/integration/functional/wallet/balances/announcements.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/loans.spec.ts
  mobile-app/cypress/integration/functional/wallet/loans/vault_detail.spec.ts
  mobile-app/cypress/support/walletCommands.ts
  package-lock.json
Labels: kind/fix, area/ui-ux

#2059 chore(website): update announcements to display block rewards
  website/src/pages/api/v0/announcements.ts
Labels: kind/chore, area/website

#2062 chore(workflow): update fork height on docker-compose for defid
  docker-compose.yml
Labels: kind/chore

#2060 Update fr.json corrections
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#2061 Update de.json corrections
  shared/translations/languages/de.json
Labels: kind/chore, area/translations
