Repository BirthdayResearch/defichain-wallet, pull requests merged in 2023-06, with the labels that each got.

#3937 fix(ui-ux): update dEUROC icon
  mobile-app/app/components/icons/assets/dEUROC.tsx
Labels: kind/fix, area/ui-ux

#3951 chore(translations): updated it.json
  shared/translations/languages/it.json
Labels: kind/chore, area/translations

#3968 feature(build): expo sdk 48 fixes and expo-image migration
  BETA_TESTING.md
  README.md
  babel.config.js
  mobile-app/app/api/cache/index.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/components/EmptyVault.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/VaultBanner.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/EmptyVault.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CloseVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/MarketplaceScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/CommunityScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Transactions/EmptyTransaction.tsx
  mobile-app/app/screens/AppNavigator/screens/Transactions/__snapshots__/EmptyTransaction.test.tsx.snap
  mobile-app/app/screens/ConnectionBoundary/ConnectionBoundary.tsx
  mobile-app/app/screens/ConnectionBoundary/__snapshots__/ConnectionBoundary.test.tsx.snap
  mobile-app/app/screens/ErrorBoundary/ErrorBoundary.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/WalletCreateRestoreSuccess.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/WalletCreateRestoreSuccess.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/components/LoansCarousel.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
  mobile-app/cypress/e2e/functional/wallet/settings/community.spec.ts
  package-lock.json
  package.json
Labels: kind/feature, area/ui-ux, area/api

#3970 fix(ops): crashing loans page on android
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/EmptyVault.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Transactions/__snapshots__/EmptyTransaction.test.tsx.snap
  mobile-app/app/screens/ConnectionBoundary/__snapshots__/ConnectionBoundary.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/WalletCreateRestoreSuccess.test.tsx.snap
  package-lock.json
  package.json
Labels: kind/fix, area/ui-ux

#3972 feature(evm): enable evm on wallet
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/feature

#3955 chore(e2e): skip flaky specs
  mobile-app/cypress.config.js
Labels: kind/chore

#3976 fix(bug): prevent website down if flags are not available
  mobile-app/app/contexts/FeatureFlagContext.tsx
Labels: kind/fix, area/contexts

#3982 chore(e2e): before-each-wait-time
  mobile-app/cypress.config.js
  mobile-app/cypress/e2e/functional/onboarding/restore.spec.ts
  mobile-app/cypress/support/commands.ts
Labels: kind/chore
