Repository BirthdayResearch/defichain-wallet, pull requests merged in 2023-07, with the labels that each got.

#3996 fix(ui-ux): remove dfx from LW
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/MarketplaceScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/RecoveryWordsFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/RecoveryWordsFaq.test.tsx.snap
  shared/assets/images/exchanges/DFX.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/assets, area/ui-ux

#3993 chore(e2e): service-provider-spec-fix
  mobile-app/cypress.config.js
  mobile-app/cypress/e2e/functional/wallet/settings/serviceProvider.spec.ts
  mobile-app/cypress/support/commands.ts
Labels: kind/chore

#3994 chore(e2e): network-detail-spec-fix
  mobile-app/cypress.config.js
  mobile-app/cypress/e2e/functional/wallet/settings/networkDetails.spec.ts
  mobile-app/cypress/support/commands.ts
Labels: kind/chore

#3999 fix(ui-ux): changed Cake Defi to Bake
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/MarketplaceScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LiquidityMiningFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LiquidityMiningFaq.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#3998 chore(e2e): address-book-spec-fix
  .github/workflows/ci-e2e.yml
  mobile-app/cypress/e2e/functional/wallet/settings/serviceProvider.spec.ts
  mobile-app/cypress/support/commands.ts
Labels: kind/chore, area/workflow

#3983 feature(ui-ux): added dvm evm designs for onboarding
  mobile-app/app/components/icons/WalletIcon.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
  shared/assets/images/onboarding/welcome-screen-e-dark.png
  shared/assets/images/onboarding/welcome-screen-e-light.png
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/assets, area/ui-ux

#4002 feature(evm): update jellyfish for transferdomain
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/feature

#4006 fix(core): portfolio (evm-dvm) tests fix
  mobile-app/App.tsx
  mobile-app/app/components/DomainSwitch.tsx
  mobile-app/app/contexts/DomainContext.tsx
  mobile-app/app/contexts/__mocks__/DomainContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/ActionButtons.test.tsx.snap
Labels: kind/fix, area/ui-ux, area/contexts

#3979 feature(ui-ux): dvm <> evm portfolio
  mobile-app/App.tsx
  mobile-app/app/api/index.ts
  mobile-app/app/api/persistence/domain_storage.ts
  mobile-app/app/components/DomainSwitch.tsx
  mobile-app/app/components/icons/assets/ConvertIcon.tsx
  mobile-app/app/components/icons/assets/EvmDFI.tsx
  mobile-app/app/components/icons/assets/index.ts
  mobile-app/app/contexts/DomainContext.tsx
  mobile-app/app/contexts/__mocks__/DomainContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/assets/EmptyEvmPortfolioIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/ActionButtons.test.tsx.snap
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
Labels: kind/feature, area/ui-ux, area/api, area/contexts
