Repository BirthdayResearch/defichain-wallet, pull requests merged in 2023-08, with the labels that each got.

#4010 chore(ui-ux): updated twitter logo to its latest version
  mobile-app/app/components/icons/assets/TwitterIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/AboutScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
Labels: kind/chore, area/ui-ux

#4008 feature(ui-ux): evm support for address book
  mobile-app/app/components/BottomSheetHeader.tsx
  mobile-app/app/components/BottomSheetTokenListHeader.tsx
  mobile-app/app/components/DomainSwitch.tsx
  mobile-app/app/components/WalletAddressRow.test.tsx
  mobile-app/app/components/icons/assets/EvmDFI.tsx
  mobile-app/app/hooks/useAddressBook.ts
  mobile-app/app/hooks/useAddressLabel.ts
  mobile-app/app/hooks/useWalletAddress.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/assets/EmptyEvmPortfolioIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressListEditButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressSelectionButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressBook.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetail.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetailV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/CFPDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
  mobile-app/app/styles.json
  mobile-app/app/tailwind.config.js
  mobile-app/cypress/e2e/functional/wallet/settings/addressBook.spec.ts
  package-lock.json
  package.json
  shared/store/userPreferences.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/hooks

#4011 feat(ui-ux): hide bottom nagivation when EMV network is selected
  mobile-app/app/screens/AppNavigator/BottomTabNavigator.tsx
Labels: kind/feature, area/ui-ux

#4014 feat(core): support transfer domain in convert screen
  mobile-app/app/api/transaction/dfi_converter.ts
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/hooks/wallet/Conversion.ts
  mobile-app/app/screens/AppNavigator/BottomTabNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/ConvertibleTokens.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBalance.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/CFPDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/DFIPDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/enum.ts
Labels: kind/feature, area/ui-ux, area/api, area/hooks

#4015 feature(expo): update expo 49
  .github/workflows/ci-e2e.yml
  metro.config.js
  mobile-app/app/components/__snapshots__/SummaryTitle.test.tsx.snap
  mobile-app/app/components/__snapshots__/WalletAccordion.test.tsx.snap
  mobile-app/app/components/__snapshots__/WalletAccordionV2.test.tsx.snap
  mobile-app/app/components/icons/__snapshots__/AppIcon.test.tsx.snap
  mobile-app/app/components/icons/assets/__snapshots__/index.test.tsx.snap
  mobile-app/app/components/skeletonLoaders/__snapshots__/SkeletonLoader.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/BatchCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/components/__snapshots__/EmptyAuction.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/__snapshots__/AuctionsFaq.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/__snapshots__/PoolPairIconV2.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Dex/components/__snapshots__/TotalValueLocked.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/EmptyVault.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/components/__snapshots__/VaultInfo.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/__snapshots__/LoansFaq.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/ActionButtons.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/HeaderSettingButton.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/__snapshots__/GetDFIScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/__snapshots__/ReceiveScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/__snapshots__/TokensVsUtxoFaq.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/AboutScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Transactions/__snapshots__/EmptyTransaction.test.tsx.snap
  mobile-app/app/screens/ConnectionBoundary/__snapshots__/ConnectionBoundary.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/WalletCreateRestoreSuccess.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/DexFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LiquidityMiningFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/PasscodeFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/RecoveryWordsFaq.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/WalletCreateRestoreSuccess.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/components/LoansCarousel.tsx
  mobile-app/app/screens/WalletNavigator/screens/components/OnboardingCarousel.tsx
  mobile-app/cypress.config.js
  package-lock.json
  package.json
Labels: kind/feature, area/workflow, area/ui-ux

#4022 chore(ops): update standard and walletkit
  .github/workflows/ci.yml
  mobile-app/app/components/icons/assets/DOT.tsx
  mobile-app/app/components/icons/assets/MATIC.tsx
  mobile-app/app/components/icons/assets/SOL.tsx
  mobile-app/app/components/icons/assets/dDOT.tsx
  mobile-app/app/components/icons/assets/dMATIC.tsx
  mobile-app/app/components/icons/assets/dSOL.tsx
  package-lock.json
  package.json
Labels: kind/chore, area/workflow, area/ui-ux

#4028 fix(ui-ux): translations for convert screen
  mobile-app/app/api/transaction/dfi_converter.ts
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/components/DomainSwitch.tsx
  mobile-app/app/components/WalletAddressRow.test.tsx
  mobile-app/app/contexts/DomainContext.tsx
  mobile-app/app/hooks/useAddressBook.ts
  mobile-app/app/hooks/useAddressLabel.ts
  mobile-app/app/hooks/wallet/Conversion.ts
  mobile-app/app/screens/AppNavigator/BottomTabNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/DexAddLiquidity.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CreateVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressListEditButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressSelectionButton.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetailV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBalance.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddOrEditAddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/CFPDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/DFIPDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/TransactionAuthorization/PasscodePrompt.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/addresses.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/addressBook.spec.ts
  shared/store/userPreferences.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux, area/store, area/api, area/hooks, area/contexts

#4030 chore(ops): bump packages to display changi
  package-lock.json
  package.json
Labels: kind/chore

#4031 feat(ui-ux): add svg icons for sui and xchf tokens
  mobile-app/app/components/icons/assets/XCHF.tsx
  mobile-app/app/components/icons/assets/dSUI.tsx
  mobile-app/app/components/icons/assets/dXCHF.tsx
  mobile-app/app/components/icons/assets/index.ts
Labels: kind/feature, area/ui-ux
