Repository BirthdayResearch/defichain-wallet, pull requests merged in 2023-11, with the labels that each got.

#4118 fix(ui-ux): convert screen continue button
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
Labels: kind/fix, area/ui-ux

#4114 feat(ui-ux): allow dusd loops in vaults
  docker-compose.yml
  mobile-app/app/screens/AppNavigator/screens/Loans/VaultDetail/components/VaultDetailCollateralsRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/DFIRequirementForDusdLoanAndCollateral.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/ValidateLoanAndCollateral.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  package-lock.json
  package.json
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#4124 chore(translations): add translation for dusd-loop collateral info
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations

#4129 feat(ui-ux): allow 100% dusd vault to borrow non-dusd tokens
  mobile-app/app/screens/AppNavigator/screens/Loans/hooks/ValidateLoanAndCollateral.ts
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
Labels: kind/feature, area/ui-ux

#4120 feature(ui-ux): added get private key feature
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetailV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/TransactionAuthorization/TransactionAuthorization.tsx
  mobile-app/cypress/e2e/functional/transferDomain/addresses.spec.ts
  package-lock.json
  package.json
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#4117 feat(ui-ux): display evm tx id and url that points to metascan
  mobile-app/app/components/OceanInterface/OceanInterface.tsx
  mobile-app/app/components/OceanInterface/TransactionDetail.tsx
  mobile-app/app/components/OceanInterface/TransactionIDButton.tsx
  shared/contexts/DeFiScanContext.tsx
Labels: kind/feature, area/ui-ux

#4113 fix(ui-ux): add linear gradient to from address on evm
  mobile-app/app/components/SummaryTitle.tsx
Labels: kind/fix, area/ui-ux

#4131 fix(ui-ux): allow adding of dusd collateral with active dusd loan
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
Labels: kind/fix, area/ui-ux

#4122 fix(ui-ux): fixed convert screen issue for evm domain
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
Labels: kind/fix, area/ui-ux

#4133 chore(core): updated docker file
  docker-compose.yml
Labels: kind/chore

#4134 chore(core): added ethrpc url for main net
  mobile-app/app/contexts/CustomServiceProvider.tsx
Labels: kind/chore, area/contexts

#4138 fix(ui-ux): fully disable send to evm
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
Labels: kind/fix, area/ui-ux

#4148 chore(ui-ux): remove bittrex from exchange list
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/MarketplaceScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/LiquidityMiningFaq.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/LiquidityMiningFaq.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/chore, area/translations, area/ui-ux

#4125 feature(ui-ux): added Get DFI-EVM screen
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/GetDFIScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/GetDFIScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux
