Repository BirthdayResearch/defichain-wallet, pull requests merged in 2023-03, with the labels that each got.

#3919 fix(translation): added missing translations
  mobile-app/app/api/transaction/dfi_converter.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux, area/api

#3921 fix(ui-ux): made first dropdown active for FAQ (Auction, UTXO & Tokens, Governance)
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/AuctionsFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/CfpDfipProposalsFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokensVsUtxoFaq.tsx
Labels: kind/fix, area/ui-ux

#3928 fix(ui-ux): cfp only allow seed wallet address
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressRow.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/cfp_dfip.spec.ts
Labels: kind/fix, area/ui-ux

#3929 chore(ui-ux): add dEUROC icon
  mobile-app/app/components/icons/assets/dEUROC.tsx
  mobile-app/app/components/icons/assets/index.ts
Labels: kind/chore, area/ui-ux

#3934 chore(dex): dex stabilization fee
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/DexStabilization.ts
Labels: kind/chore, area/ui-ux

#3935 feat(ui-ux): add EUROC as currency in portfolio
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
Labels: kind/feature, area/ui-ux

#3936 fix(ui-ux): display euroc stab fee
  mobile-app/app/screens/AppNavigator/screens/Dex/hook/DexStabilization.ts
Labels: kind/fix, area/ui-ux

#3938 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations
