Repository BirthdayResearch/defichain-wallet, pull requests merged in 2023-02, with the labels that each got.

#3898 fix(core): dfip mainnet fee 50DFI
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/DFIPDetailScreen.tsx
Labels: kind/fix, area/ui-ux

#3905 fix(ui-ux): use oracle pricing as the price display during loan payback
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
Labels: kind/fix, area/ui-ux

#3901 chore(translations): updated de.json
  shared/translations/languages/de.json
Labels: kind/chore, area/translations

#3907 chore(deps): bump packages
  package-lock.json
  package.json
Labels: kind/chore

#3897 fix(chore): governance bug fixes
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/CFPDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
Labels: kind/fix, area/ui-ux

#3915 chore(translations): updated fr.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations
