Repository BirthdayResearch/defichain-wallet, pull requests merged in 2023-09, with the labels that each got.

#4033 fix(ui-ux): updated walletkit package to filter out burn token pool pair
  mobile-app/cypress/e2e/functional/wallet/settings/networkDetails.spec.ts
  package-lock.json
  package.json
Labels: kind/fix

#4029 fix(ui-ux): svg border for evm tokens
  mobile-app/app/components/EVMLinearGradient.tsx
  mobile-app/app/components/SummaryTitle.tsx
  mobile-app/app/components/TokenDropdownButton.tsx
  mobile-app/app/components/icons/assets/ConvertIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
Labels: kind/fix, area/ui-ux

#4013 feat(ui-ux): add evm faq screen
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/EvmFeatureFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/KnowledgeBaseScreen.test.tsx.snap
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux
