Repository BirthdayResearch/defichain-wallet, pull requests merged in 2023-10, with the labels that each got.

#4032 feature(ui-ux): enable transfer domain
  docker-compose.yml
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/components/SummaryTitle.tsx
  mobile-app/app/hooks/useWalletAddress.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenNameText.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/addresses.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/portfolio.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/send.spec.ts
  package-lock.json
  package.json
Labels: kind/feature, area/ui-ux, area/api, area/hooks

#4040 fix(ui-ux): fix selection of whitelisted address that redirects to edit address
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/CreateWalletGuidelines.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
Labels: kind/fix, area/ui-ux

#4041 chore(ui-ux): resolved ui bug for address book screen
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
Labels: kind/chore, area/ui-ux

#4025 feature(ui-ux): updated receive token screen to support evm address
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ReceiveScreen.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#4043 fix(ui-ux): copy evm address when evm domain is toggled on
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetailV2.tsx
Labels: kind/fix, area/ui-ux

#4038 feat(core): add evmtx signer on convert
  babel.config.js
  docker-compose.yml
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/contexts/FeatureFlagContext.tsx
  mobile-app/app/contracts/README.md
  mobile-app/app/contracts/TransferDomainV1.json
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
  package-lock.json
  package.json
Labels: kind/feature, area/ui-ux, area/api, area/contexts

#4042 feature(ui-ux): address book ui for transfer domain
  mobile-app/app/components/AddressEvmTag.tsx
  mobile-app/app/components/EvmTag.tsx
  mobile-app/app/components/SummaryTitle.tsx
  mobile-app/app/hooks/useWalletAddress.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressSelectionButtonV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetailV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/CreateOrEditAddressLabelForm.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
Labels: kind/feature, area/ui-ux, area/hooks

#4045 fix(ui-ux): fix send nonce and vm address
  docker-compose.yml
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
Labels: kind/fix, area/ui-ux, area/api

#4044 feature(ui-ux): updated portfolio screen to support evm address
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressSelectionButtonV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/EvmTokenBalances.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBalance.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  shared/store/evmApi.ts
Labels: kind/feature, area/ui-ux, area/store

#4047 fix(core): updated token selection screen
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
Labels: kind/fix, area/ui-ux

#4048 fix(ui-ux): fix convert selection
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
Labels: kind/fix, area/ui-ux

#4046 fix(ui-ux): address book bottom sheet in portfolio page
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/CreateOrEditAddressLabelForm.tsx
Labels: kind/fix, area/ui-ux

#4009 feat(ui-ux): fetch evm balance for convert screen
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressSelectionButtonV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/EvmTokenBalances.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBalance.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/EvmFeatureFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ReceiveScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreen.tsx
  package-lock.json
  package.json
  shared/contexts/WalletContext.tsx
  shared/store/evm.ts
  shared/store/index.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/api

#4053 feature(core): added rpc calls for playground to calculate evm balance
  babel.config.js
  mobile-app/App.tsx
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/contexts/EVMProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/EvmTokenBalances.ts
  shared/contracts/DST20V1.json
  shared/contracts/README.md
  shared/contracts/TransferDomainV1.json
  shared/store/evm.ts
  tsconfig.json
Labels: kind/feature, area/ui-ux, area/store, area/api, area/contexts

#4051 fix(ui-ux): utxo-evm bug
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
Labels: kind/fix, area/ui-ux

#4054 feat(ui-ux): add hasFetchedEvmTokens flag in store for loader
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
  shared/store/evm.ts
Labels: kind/feature, area/ui-ux, area/store

#4055 fix(core): fix feature branch conflict to 'main'
  mobile-app/app/components/icons/assets/index.ts
Labels: kind/fix, area/ui-ux

#4058 chore(core): refactored transfer domain provider
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/contexts/EVMProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
Labels: kind/chore, area/ui-ux, area/api, area/contexts

#4059 fix(chore): updated evm tokenId and fixed DFI evm icon and balance
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/components/TokenDropdownButton.tsx
  mobile-app/app/components/icons/assets/index.ts
  mobile-app/app/screens/AppNavigator/screens/Auctions/screens/PlaceBidScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/CompositeSwapScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Dex/CompositeSwap/SwapTokenSelectionScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/components/BottomSheetLoanTokensList.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/AddOrRemoveCollateralScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/BorrowLoanTokenScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/PaybackLoanScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenIcon.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/EvmTokenBalances.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
Labels: kind/fix, area/ui-ux, area/api

#4057 feat(e2e): address book transfer domain
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressSelectionButtonV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/BottomSheetAddressDetailV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
  mobile-app/cypress/e2e/functional/transferDomain/addresses.spec.ts
Labels: kind/feature, area/ui-ux

#4060 feat(ui-ux): update transferdomain to pass only one vin
  mobile-app/app/api/transaction/transfer_domain.ts
  package-lock.json
  package.json
Labels: kind/feature, area/api

#4056 feat(core): feature flag evm
  mobile-app/app/contexts/DomainContext.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  package-lock.json
Labels: kind/feature, area/ui-ux, area/contexts

#4065 fix(ui-ux): choose address by domain
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
Labels: kind/fix, area/ui-ux

#4064 chore(ui-ux): hide address type selection if evm disabled
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddOrEditAddressBookScreen.tsx
Labels: kind/chore, area/ui-ux

#4039 chore(deps): bump expo-image
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ReceiveScreen.tsx
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/CreateWalletGuidelines.tsx
  package-lock.json
  package.json
  shared/contexts/WalletContext.tsx
Labels: kind/chore, area/ui-ux

#4066 fix(chore): fixed ios/android loading issue
  babel.config.js
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/EvmTokenBalances.ts
  package-lock.json
  package.json
  shared/store/evm.ts
Labels: kind/fix, area/ui-ux, area/store, area/api

#4067 fix(ui-ux): display chevron if entrypoint is settings
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
Labels: kind/fix, area/ui-ux

#4070 fix(ui-ux): fixed address title in address input screen
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/components/SummaryTitle.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
Labels: kind/fix, area/ui-ux, area/api

#4068 feat(core): service provider - allow custom evm and eth rpc urls
  mobile-app/App.tsx
  mobile-app/app/api/wallet/service_provider.ts
  mobile-app/app/components/HeaderNetworkStatus.tsx
  mobile-app/app/components/HeaderTitle.tsx
  mobile-app/app/components/WalletTextInputV2.tsx
  mobile-app/app/contexts/CustomServiceProvider.tsx
  mobile-app/app/contexts/EVMProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/EvmTokenBalances.ts
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/CustomUrlInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/components/ResetButton.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ServiceProviderScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/FeatureFlagScreen.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/settings/serviceProvider.spec.ts
  shared/store/evm.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux, area/store, area/api, area/contexts

#4071 feat(ui-ux): update blockscout url
  mobile-app/app/contexts/CustomServiceProvider.tsx
Labels: kind/feature, area/contexts

#4072 fix(core): fixed hang issue on click of denomination currency
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBalance.ts
Labels: kind/fix, area/ui-ux

#4073 feat(core): update testnet eth rpc url
  mobile-app/app/contexts/CustomServiceProvider.tsx
Labels: kind/feature, area/contexts

#4078 fix(ui-ux): fixed search unsaved address in addressbook screen
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
Labels: kind/fix, area/ui-ux

#4076 fix(chore): fixed network icon issue on network change
  shared/contexts/StatsProvider.tsx
Labels: kind/fix

#4075 fix(core): fix send dvm to dvm txn
  mobile-app/app/contexts/EVMProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
  shared/store/evm.ts
Labels: kind/fix, area/ui-ux, area/store, area/contexts

#4077 fix(core): fix null data for evm wallet details
  shared/store/evm.ts
Labels: kind/fix, area/store

#4074 feat(core): return default evm providers url when evm flag is disabled
  mobile-app/App.tsx
  mobile-app/app/contexts/CustomServiceProvider.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/contexts

#4079 fix(ui-ux): fixed address book label overlap issue for evm address
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/AddressBookScreen.tsx
Labels: kind/fix, area/ui-ux

#4081 fix(core): fix unit test case
  mobile-app/app/components/HeaderTitle.test.tsx
  mobile-app/app/contexts/__mocks__/CustomServiceProvider.tsx
  mobile-app/app/contexts/__mocks__/EVMProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/DFIBalanceCard.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ReceiveScreen.test.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/__snapshots__/ReceiveScreen.test.tsx.snap
Labels: kind/fix, area/ui-ux, area/contexts

#4080 fix(ui-ux): hide Get DFI btn on empty portfolio screen
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
Labels: kind/fix, area/ui-ux

#4083 fix(core): fixed app crashing issue
  mobile-app/app/screens/AppNavigator/screens/Settings/components/CustomUrlInput.tsx
Labels: kind/fix, area/ui-ux

#4082 fix(core): handle auto-conversion of utxo to dfi token
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
Labels: kind/fix, area/ui-ux

#4087 fix(core): fix invalid nonce error
  mobile-app/app/contexts/EVMProvider.tsx
Labels: kind/fix, area/contexts

#4088 fix(ui-ux): fixed Send screen displays no assets displayed issue
  mobile-app/app/contexts/EVMProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/EvmTokenBalances.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
Labels: kind/fix, area/ui-ux, area/contexts

#4089 fix(ui-ux): fixed token detail screen to hide loan data in evm domain
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
Labels: kind/fix, area/ui-ux

#4090 fix(ui-ux): hide swap btn for evm domain on token details screen
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
Labels: kind/fix, area/ui-ux

#4091 chore(core): disallow http from custom service provider url
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/ServiceProviderScreen.tsx
Labels: kind/chore, area/ui-ux

#4092 fix(ui-ux): fix evm faq description
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/EvmFeatureFaq.tsx
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux

#4093 fix(ui-ux): hide loan related data on portfolio card
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TotalPortfolio.tsx
Labels: kind/fix, area/ui-ux

#4094 fix(core): fix decimal value turning into exponential notation string
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/EvmTokenBalances.ts
Labels: kind/fix, area/ui-ux, area/api

#4095 fix(core): skip eth provider for transfer domain
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/contexts/CustomServiceProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
Labels: kind/fix, area/ui-ux, area/api, area/contexts

#4096 feat(ui-ux): remove duplicate `for EVM` text on token name
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/contexts/CustomServiceProvider.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/PortfolioCard.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/TokenNameText.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendConfirmationScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenSelectionScreen.tsx
Labels: kind/feature, area/ui-ux, area/api, area/contexts

#4097 feat(ui-ux): log error in evm provider
  mobile-app/App.tsx
  mobile-app/app/contexts/EVMProvider.tsx
Labels: kind/feature, area/contexts

#4098 feat(ui-ux): redirect token summary link to metascan for evm
  mobile-app/app/api/transaction/transfer_domain.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/EvmTokenBalances.ts
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/TokenDetailScreen.tsx
  shared/contexts/DeFiScanContext.tsx
Labels: kind/feature, area/ui-ux, area/api

#4099 fix(ui-ux): display evm address as from on convert
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/ConvertConfirmationScreen.tsx
Labels: kind/fix, area/ui-ux

#4100 chore(logs): add info logs in evm provider
  mobile-app/app/contexts/EVMProvider.tsx
Labels: kind/chore, area/contexts

#4069 chore(debug): e2e runner
  .github/workflows/ci-e2e.yml
  docker-compose.yml
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/__snapshots__/DFIBalanceCard.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsScreen.tsx
  mobile-app/cypress/e2e/functional/transferDomain/addresses.spec.ts
  mobile-app/cypress/e2e/functional/wallet/dex/swap/swap_tabs_dropdowns.spec.ts
  mobile-app/cypress/e2e/functional/wallet/portfolio/sendConfirmation.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/serviceProvider.spec.ts
Labels: kind/chore, area/workflow, area/ui-ux

#4101 feat(ui-ux): remove usememo in evm provider
  mobile-app/app/contexts/EVMProvider.tsx
Labels: kind/feature, area/contexts

#4102 feat(core): update testnet eth rpc url
  mobile-app/app/contexts/CustomServiceProvider.tsx
  mobile-app/app/contexts/EVMProvider.tsx
  mobile-app/cypress/e2e/functional/transferDomain/addresses.spec.ts
Labels: kind/feature, area/contexts

#4104 chore(tests): test e2e runner
  mobile-app/cypress/e2e/functional/transferDomain/addresses.spec.ts
Labels: kind/chore

#4106 fix(e2e): fixed address specs e2e
  mobile-app/cypress/e2e/functional/transferDomain/addresses.spec.ts
  mobile-app/cypress/e2e/functional/wallet/settings/serviceProvider.spec.ts
Labels: kind/fix

#4107 fix(ui-ux): handle empty wallet address
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioScreen.tsx
  shared/store/userPreferences.ts
Labels: kind/fix, area/ui-ux, area/store

#4109 fix(ui-ux): fixed Both error / valid messages are displayed when scan…
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressRow.tsx
Labels: kind/fix, area/ui-ux

#4111 fix(ui-ux): token name and logo incorrect in convert screen
  mobile-app/app/screens/AppNavigator/screens/Portfolio/hooks/TokenBalance.ts
Labels: kind/fix, area/ui-ux
