Repository BirthdayResearch/defichain-wallet, pull requests merged in 2023-01, with the labels that each got.

#3882 chore(deps): bump packages
  package-lock.json
  package.json
Labels: kind/chore

#3864 feature(ui-ux): ocg cfp/dfip proposals
  mobile-app/app/components/BarCodeScanner.tsx
  mobile-app/app/components/OceanInterface/TransactionError.tsx
  mobile-app/app/components/WalletTextInputV2.tsx
  mobile-app/app/components/__snapshots__/WalletTextInputV2.test.tsx.snap
  mobile-app/app/components/__snapshots__/WalletTransactionCardTextInput.test.tsx.snap
  mobile-app/app/components/themed/ThemedSectionTitleV2.tsx
  mobile-app/app/screens/AppNavigator/screens/Loans/screens/CloseVaultScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/AddressRow.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/Announcements.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ProposalURLInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/CfpDfipProposalsFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/CFPDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/DFIPDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/OCGConfirmScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/OCGProposalsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/SendScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/FeatureFlagScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/CommunityScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/KnowledgeBaseScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/LanguageSelectionScreen.test.tsx.snap
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/__snapshots__/NetworkSelectionScreen.test.tsx.snap
  mobile-app/app/screens/WalletNavigator/screens/CreateWallet/__snapshots__/OnboardingNetworkSelectScreen.test.tsx.snap
  mobile-app/cypress/e2e/functional/wallet/portfolio/cfp_dfip.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/feature, area/translations, area/ui-ux

#3887 chore(translations): updated de.json
  shared/translations/languages/de.json
  shared/translations/languages/fr.json
Labels: kind/chore, area/translations

#3888 fix(ui-ux): fixed dex pool pair card price conversion to match with scan
  mobile-app/app/screens/AppNavigator/screens/Dex/components/PoolPairCards/PoolPairCards.tsx
Labels: kind/fix, area/ui-ux

#3895 fix(chore): governance proposal allow reddit url
  mobile-app/app/screens/AppNavigator/screens/Portfolio/PortfolioNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ActionButtons.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/components/ProposalURLInput.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/CfpDfipProposalsFaq.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/CFPDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/DFIPDetailScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/OCGConfirmScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Portfolio/screens/OCG/OCGProposalsScreen.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/SettingsNavigator.tsx
  mobile-app/app/screens/AppNavigator/screens/Settings/screens/KnowledgeBaseScreen.tsx
  mobile-app/cypress/e2e/functional/wallet/portfolio/cfp_dfip.spec.ts
  shared/translations/languages/de.json
  shared/translations/languages/es.json
  shared/translations/languages/fr.json
  shared/translations/languages/it.json
  shared/translations/languages/zh-Hans.json
  shared/translations/languages/zh-Hant.json
Labels: kind/fix, area/translations, area/ui-ux
